@mixin attachment-preview {
	.attachment-preview-view {
		background-color: rgb(0, 0, 0);
		.v-touchkit-navbutton-back-btn {
			background-color: rgba(0, 0, 0, 0.4);
			background-image: none;
			padding: 0.4rem 1rem;
			border: 0.1rem solid rgb(255, 255, 255);
			border-radius: 0.3rem;
			color: rgb(255, 255, 255);
		}
		.image-wrap {
			overflow: scroll;
			white-space: nowrap;
			&:before {
				content: "";
				display: inline-block;
				height: 100%;
				vertical-align: middle;
			}
			img {
				display: inline-block;
				vertical-align: middle;
			}
		}
	}
}