@mixin attachment-preview {
	.attachment-preview-view {
		background-color: rgb(0, 0, 0);
		.back-btn {
			background-color: rgba(0, 0, 0, 0.4);
			background-image: none;
			.v-button-wrap {
				padding: 0.4rem 1rem;
				border: 0.1rem solid rgb(255, 255, 255);
				border-radius: 0.3rem;
				.v-button-caption {
					color: rgb(255, 255, 255);
				}
			}
		}
		.image-wrap {
			overflow: scroll;
			white-space: nowrap;
			&:before {
				content: "";
				display: inline-block;
				height: 100%;
				vertical-align: middle;
			}
			img {
				display: inline-block;
				vertical-align: middle;
			}
		}
	}
}