@mixin project-dashboard {
	/* Project Dashboard */
    .project-dashboard {
    	background-color: rgb(255, 255, 255);
    	
	    .project-info-layout {
		    padding: 1.2rem 0rem;
			background-color: rgb(20, 23, 26);
			color: rgb(255, 255, 255);
	    	.project-icon {
	    		font-size: 5rem;
				line-height: 5rem;
				border: 0.3rem solid rgb(255, 255, 255);
				border-radius: 4rem;
				padding: 1rem;
	    	}
	    	.project-name {
				font-weight: bold;
				font-size: 1.4rem;
				padding-top: 0.6rem;
			}
	    }
	    
	    .project-modules-layout {
	    	display: block;
	    	margin: 0 auto;
	    	padding: 2rem 1rem 0rem;
	    	
	    	.v-gridlayout-spacing-on {
	    		padding-top: 1rem;
	    		padding-left: 1rem;
	    	}
	    	
		    .v-button {
				background-color: transparent;
				border-radius: 0rem;
				overflow: visible;
				.v-button-wrap {
					padding: 0.5rem 0rem 0.3rem;
					border: 0.1rem solid rgb(210, 210, 210);
					@include box-shadow (0px 1px 1px rgba(0, 0, 0, 0.1));
					.v-button-caption {
						display: inline-block;
						box-sizing: border-box;
						span {
							font-size: 5.8rem;
							line-height: 1;
							display: inline-block;
						}
						div {
							color: $gray-text;
							font-size: 1.1rem;
							font-weight: bold;
							text-transform: uppercase;
						}
					}
				}				
			}
	    }
    }
}