rebel.xml
*~
mycollab-ui/.cache
mycollab-app-community/src/main/conf/mycollab.properties
mycollab-app-community/logs/mycollab.out
mycollab-app-community/logs/mycollab.out.1
mycollab-app-community/mail-repo/.lock
mycollab-app-community/mail-repo/cluster_node.id
mycollab-app-community/repo2/content-workspace/.lock
mycollab-app-community/repo2/content-workspace/cluster_node.id
mycollab-app-community/repo2/workspaces/default2/workspace.xml
mycollab-app-community/repo2/wiki-workspace/.lock
mycollab-app-community/repo2/wiki-workspace/cluster_node.id
mycollab-app-community/repo2/wiki_workspaces/wiki/workspace.xml
mycollab-web/src/main/resources/VAADIN/themes/mycollab/_global.scss
mycollab-web/src/main/resources/VAADIN/themes/mycollab/_mycollab.scss
mycollab-web/src/main/resources/VAADIN/themes/mycollab/_nottheme.scss
mycollab-web/src/main/resources/VAADIN/themes/mycollab/_shared.scss
mycollab-web/src/main/resources/VAADIN/themes/mycollab/_variables.scss
mycollab-web/src/main/resources/VAADIN/themes/mycollab/styles.scss
mycollab-web/src/main/resources/VAADIN/themes/mycollab/components/_crm.scss
mycollab-web/src/main/resources/VAADIN/themes/mycollab/components/_document.scss
mycollab-web/src/main/resources/VAADIN/themes/mycollab/components/_project.scss
mycollab-web/src/main/resources/VAADIN/themes/mycollab/components/_tooltip.scss
mycollab-web/src/main/resources/VAADIN/themes/mycollab/components/_button.scss
*.bak
mycollab-app-community/src/main/scripts/installService.bat
mycollab-app-community/src/main/scripts/service.bat
mycollab-app-community/src/main/scripts/unInstallService.bat
mycollab-app-community/src/main/scripts/MyCollab5.exe
mycollab-app-community/src/main/scripts/MyCollab5amd64.exe
mycollab-app-community/src/main/scripts/MyCollab5ia64.exe
mycollab-app-community/src/main/scripts/MyCollab5w.exe
