sudo: false
cache:
  directories:
  - $HOME/.m2
language: java
jdk:
  - oraclejdk8
  - oraclejdk7
  - openjdk7
before_script:
  - mysql -e 'create database mycollab_test;'
  - cd mycollab-deployer-community
notifications:
  email:
    - hainguyen@esofthead.com
