.stylecalendarfield {
	border-color: #A2A3A4 #BCBDBE #D2D3D4;
    border-radius: 3px 3px 3px 3px;
    border-width: 1px;
}

.v-app .stylecalendarfield-popup {
	background: none;
	padding: 0;
}

.stylecalendarfield-popup .v-stylecalendar {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
