/** Calendar */
@mixin calendar {
  .v-calendar-nresize DIV DIV {
    cursor: n-resize !important;
  }

  .v-calendar-sresize DIV DIV {
    cursor: s-resize !important;
  }

  .v-calendar {
    background-color: white;
  }

  .v-calendar-header-month, .v-calendar-header-week {
    border-bottom: 1px solid #c1c1c1;
  }

  .v-calendar-header-day {
    text-align: center;
    color: #666;
    font-size: 12px;
    line-height: normal;
  }

  .v-calendar-header-week .v-calendar-header-day:hover {
    cursor: pointer;
    color: #222;
  }

  .v-calendar-header-day-today {
    font-weight: bold;
    color: #444;
  }

  .v-calendar-header-month td:first-child {
    padding-left: 20px;
  }

  .v-calendar-header-week {
    .v-calendar-back, .v-calendar-next {
      border: none;
      padding: 0;
      margin: 0;
      height: 12px;
      width: 12px;
      overflow: hidden;
      background: transparent url(icons/calendar_arrows.png) no-repeat 50% 0;
      opacity: 0.3;
      filter: alpha(opacity = 30);
      cursor: default;
    }
    .v-calendar-back:hover, .v-calendar-next:hover {
      opacity: 0.6;
      filter: alpha(opacity = 60);
    }
    .v-calendar-back:active {
      opacity: 1;
      filter: alpha(opacity = 100);
    }
    .v-calendar-next {
      &:active {
        opacity: 1;
        filter: alpha(opacity = 100);
      }
      background-position: 50% -12px;
    }
  }

  .v-calendar-month {
    outline: none;
  }

  .v-calendar-week-numbers {
    width: 20px;
    border-right: 1px solid #ccc;
  }

  .v-calendar-week-number {
    border: none;
    background: transparent;
    padding: 0;
    margin: 0;
    cursor: pointer;
    opacity: 0.5;
    width: 20px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    &:hover {
      opacity: 1;
    }
  }

  .v-calendar-month-day {
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    outline: none;
  }

  .v-calendar-month-day-today {
    background-color: #e7f0f5;
  }

  .v-calendar-month-day-selected {
    background-color: #fffee7;
  }

  .v-calendar-month-day-dragemphasis {
    background-color: #a8a8a8;
  }

  .v-calendar-month-day-scrollable {
    overflow-y: scroll;
  }

  .v-calendar-day-number {
    height: 18px;
    line-height: 18px;
    font-size: 12px;
    text-align: right;
    padding-right: 3px;
    white-space: nowrap;
    &:hover {
      cursor: pointer;
      opacity: 0.6;
      filter: alpha(opacity = 60);
    }
  }

  .v-calendar-month {
    .v-calendar-spacer, .v-calendar-bottom-spacer, .v-calendar-bottom-spacer-empty {
      height: 15px;
      font-size: 11px;
    }
    .v-calendar-bottom-spacer:hover {
      cursor: pointer;
      opacity: 0.6;
      filter: alpha(opacity = 60);
    }
  }

  .v-calendar-event {
    line-height: 14px;
    font-size: 11px;
    padding: 0 0 0 4px;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
    outline: none;
  }

  .v-calendar-event-month {
    margin-bottom: 1px;
    white-space: nowrap;
    &:hover {
      text-decoration: underline;
    }
  }

  .v-calendar-event-all-day {
    background: #999;
    display: block;
    margin-left: -2px;
  }

  div.v-calendar-event-all-day {
    color: white;
    height: 14px;
  }

  .v-calendar-event-continued-from {
    margin-left: 0;
  }

  .v-calendar-event-start {
    -webkit-border-top-left-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    margin-left: 0;
  }

  .v-calendar-event-end {
    -webkit-border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-topright: 6px;
    -moz-border-radius-bottomright: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  .v-calendar-week-wrapper {
    position: relative;
  }

  .v-calendar-times {
    width: 51px;
  }

  .v-calendar-time {
    padding: 0 8px 7px 0;
    margin-top: -7px;
    text-align: right;
    font-size: 11px;
    color: #666;
    border-right: 1px solid #ccc;
  }

  .v-calendar-weekly-longevents {
    border-left: 1px solid #ccc;
    border-bottom: 2px solid #bbb;
    margin-left: 50px;
    .v-calendar-datecell {
      border-right: 1px solid #ccc;
      padding: 1px 0 0;
    }
    .v-calendar-event {
      height: 14px;
      margin-bottom: 1px;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .v-calendar-day-times {
    border-right: 1px solid #ccc;
    outline: none;
    .v-datecellslot {
      border-bottom: 1px solid #ccc;
    }
    .v-datecellslot-even {
      border-bottom: 1px solid #ccc;
      border-bottom-color: #eee;
    }
    .v-daterange {
      background-color: #a8a8a8;
    }
    .v-reserved {
      background-color: #FF3333;
    }
    .dragemphasis {
      background-color: #a8a8a8;
    }
  }

  .v-calendar-week-wrapper .v-calendar-event {
    padding: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-top: -1px;
  }

  .v-calendar-event-caption {
    position: absolute;
    z-index: 1;
    top: 2px;
    left: 4px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
  }

  .v-calendar-event-content {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #777;
    background: #eee;
    opacity: 0.8;
    filter: alpha(opacity = 80);
    height: 14px;
  }

  .v-calendar-current-time {
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    overflow: hidden;
    background: #5a6c86;
    opacity: 0.6;
    filter: alpha(opacity = 60);
    z-index: 2;
  }

  .v-calendar-event-resizetop {
    position: absolute;
    cursor: n-resize;
    height: 5%;
    min-height: 3px;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  .v-calendar-event-resizebottom {
    position: absolute;
    cursor: s-resize;
    height: 5%;
    min-height: 3px;
    bottom: 0;
    width: 100%;
    z-index: 1;
  }

  .v-calendar-month-sizedheight .v-calendar-month-day {
    height: 100px;
  }

  .v-calendar-month-sizedwidth .v-calendar-month-day {
    width: 100px;
  }

  .v-calendar-header-month-Hsized {
    .v-calendar-header-day {
      width: 101px;
    }
    td:first-child {
      padding-left: 21px;
    }
  }

  .v-calendar-header-day-Hsized {
    width: 200px;
  }

  .v-calendar-week-numbers-Vsized .v-calendar-week-number {
    height: 100px;
    line-height: 100px;
  }

  .v-calendar-week-wrapper-Vsized {
    height: 400px;
    overflow-x: hidden !important;
  }

  .v-calendar-times-Vsized .v-calendar-time {
    height: 38px;
  }

  .v-calendar-times-Hsized .v-calendar-time {
    width: 42px;
  }

  .v-calendar-day-times-Vsized {
    .v-datecellslot, .v-datecellslot-even {
      height: 18px;
    }
  }

  .v-calendar-day-times-Hsized {
    width: 200px;
    .v-datecellslot, .v-datecellslot-even {
      width: 200px;
    }
  }  
}
