@import "mycollab";

.mycollab {
  @include mycollab;
}

.stickytooltip {
  box-shadow: 5px 5px 8px #818181;
  /*shadow for CSS3 capable browsers.*/
  -webkit-box-shadow: 5px 5px 8px #818181;
  -moz-box-shadow: 5px 5px 8px #818181;
  display: none;
  position: absolute;
  display: none;
  background-color: #FDFDEE;
  z-index: 3000;
  font: 11px Arial, Verdana, Helvetica, sans-serif !important;
  line-height: normal;
  tr {
    line-height: 1.5;
  }
}

.v-tooltip-text tr {
  line-height: 1.5;
}

.stickytooltip a, .v-tooltip-text a {
  vertical-align: top;
}

  .stickytooltip .stickystatus {
  /*Style for footer bar within tooltip*/
  background: black;
  color: white;
  padding-top: 5px;
  text-align: center;
  font: 11px Arial, Verdana, Helvetica, sans-serif !important;
  line-height: normal;
  }