<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Errors were reported during translation. -->
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{"HH:mm:ss,SSS"} %5p %c{1}:%L - %m%n</pattern>
        </encoder>
    </appender>
    <logger name="org.springframework" level="INFO"/>
    <logger name="com.esofthead.mycollab" level="DEBUG"/>
    <logger name="java.sql" level="INFO"/>
    <logger name="org.apache.ibatis" level="INFO"/>
    <logger name="org.mybatis.spring" level="INFO"/>
    <logger name="com.esofthead" level="INFO"/>
    <logger name="org.eclipse.jetty" level="INFO"/>
    <root level="INFO">
        <appender-ref ref="stdout"/>
    </root>
</configuration>
