$border-color: #CFCFCF;
$separator-color: #C8C8C8;
$background-color: whitesmoke;
$panel-background-color: beige;
$hover-background-color: ghostwhite;

$font-family: Arial, Verdana, Helvetica, sans-serif;

$font-smaller: 11px;
$font-small: 12px;
$font-normal: 13px;
$font-large: 14px;
$font-larger: 16px;
$font-x-large: 18px;
$font-xx-large: 24px;
$font-largest: 36px;

@mixin margin-container($left, $top, $right, $bottom) {
  &.v-margin-top {
    padding-top: $top;
  }
  &.v-margin-right{
    padding-right: $right;
  }
  &.v-margin-bottom {
    padding-bottom: $bottom;
  }
  &.v-margin-left {
    padding-left: $left;
  }
}

@mixin flex-compatible {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
