.section {
	width: 100%;
	padding: 10px 5px 10px 5px;
	border-bottom: 1px solid $my-separator-color;
}

.section .v-label {
	font-size: 1.5em;
	font-weight: 500;
}

.section .v-touchkit-navbutton {
	width: 100% !important;
}

.flex {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-writing-mode: lr-tb;
}

.text-ellipsis a {
	display: inline-block;
	width: 100%;
	white-space: nowrap !important;
	overflow: hidden;
	text-overflow: ellipsis;
}

.v-label.text-ellipsis {
	display: inline-block;
	width: 100%;
	white-space: nowrap !important;
	overflow: hidden;
	text-overflow: ellipsis;
}

.row {
	padding: 10px;
	border-bottom: 1px solid $my-separator-color;
}

.row:last-child {
	border-style: none;
}

.section {
	width: 100%;
	padding: 10px 5px 10px 5px;
	border-bottom: 1px solid #e5e5e5;
}

.section .v-label {
	font-size: 1.5em;
	font-weight: 500;
}

.section .v-touchkit-navbutton {
	width: 100% !important;
}

.flex {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-writing-mode: lr-tb;
}

.text-ellipsis a {
	display: inline-block;
	width: 100%;
	white-space: nowrap !important;
	overflow: hidden;
	text-overflow: ellipsis;
}

.v-label.text-ellipsis {
	display: inline-block;
	width: 100%;
	white-space: nowrap !important;
	overflow: hidden;
	text-overflow: ellipsis;
}

.row {
	padding: 10px;
	border-bottom: 1px solid #e5e5e5;
}

.row:last-child {
	border-style: none;
}

.large {
	font-size: larger !important;
}

.v-label.wordWrap {
	word-wrap: break-word;
	white-space: normal;
}

.circle-box, img .circle-box {
	border-radius: 50%;
	background-color: #b9ecfb;
	text-align: center;
}

.meta-info {
	color: #999;
	font-size: smaller !important;
}

hr {
	border: 0;
	border-top: 1px solid #e5e5e5;
}

.h1 {
	font-weight: 600 !important;
	font-size: 20px !important;
	text-align: center !important;
}

a {
	color: #0083ce !important;
	text-decoration: none !important;
}

.v-gridlayout.colored-gridlayout {
	width: 100%;
}

.v-gridlayout.colored-gridlayout .gridform-caption, .v-gridlayout.colored-gridlayout .gridform-field {
	border-bottom: 1px solid #e5e5e5;
}

.v-gridlayout.colored-gridlayout .gridform-caption.v-margin-top, .v-gridlayout.colored-gridlayout .gridform-field.v-margin-top {
	padding-top: 8px;
}

.v-gridlayout.colored-gridlayout .gridform-caption.v-margin-right, .v-gridlayout.colored-gridlayout .gridform-field.v-margin-right {
	padding-right: 8px;
}

.v-gridlayout.colored-gridlayout .gridform-caption.v-margin-bottom, .v-gridlayout.colored-gridlayout .gridform-field.v-margin-bottom {
	padding-bottom: 4px;
}

.v-gridlayout.colored-gridlayout .gridform-caption.v-margin-left, .v-gridlayout.colored-gridlayout .gridform-field.v-margin-left {
	padding-left: 0px;
}

.v-gridlayout.colored-gridlayout .gridform-field {
	min-height: 43px;
	padding-top: 8px;
	padding-bottom: 8px;
	display: flex;
}

.v-gridlayout.colored-gridlayout .gridform-caption {
	min-height: 43px;
}

.v-gridlayout.colored-gridlayout .gridform-caption .v-label {
	text-align: right;
	color: #999;
}

.v-gridlayout.colored-gridlayout .v-required-field-indicator {
	color: red !important;
	margin-top: 0px !important;
}

.v-navbar-quickmenu-content {
	width: 100%;
	border-bottom: 1px solid #e5e5e5;
}

.v-navbar-quickmenu-content .v-button {
	background: transparent !important;
	box-shadow: none !important;
}

.v-touchkit-navbar {
	border-bottom: none !important;
}

.v-touchkit-navview-wrapper, .v-touchkit-navpanel, .v-scrollable, body {
	overflow-x: hidden !important;
}

.v-touchkit-navpanel-wrapper {
	background-color: white;
}

.v-touchkit-navbar-caption {
	font-size: smaller;
}

.v-touchkit-navbar-caption span {
	display: block;
	white-space: nowrap !important;
	overflow: hidden;
	text-overflow: ellipsis;
}

.v-touchkit-navbar-right {
	text-align: right !important;
}

.v-touchkit-navbar .v-button-wrap {
	text-align: left;
}

.v-touchkit-navbar .v-navbar-quickmenu-button {
	font-size: 20px !important;
}

.navigation-button-wrap .v-icon {
	padding-right: 10px;
}

.confirm-dialog .v-window-outerheader {
	display: none;
}

.confirm-dialog .v-window-closebox {
	background-color: transparent !important;
}

.confirm-dialog .v-horizontallayout .v-button {
	font-size: 14px;
}

.attachment-panel {
	border-top: 1px solid #dddddd;
	padding: 0.5rem 0rem 0.8rem;
}

.slidemenu {
	top: 0px !important;
}

.slidemenu .v-window-contents {
	border-right: 1px solid #e5e5e5;
}

.slidemenu .v-window-contents .v-button {
	background: transparent !important;
	box-shadow: none !important;
}

.slidemenu .modalcurtain {
	width: 100% !important;
}

.full-width-comp {
	width: 100%;
}

.comment-input  > div > .v-horizontallayout {
	width: 100%;
}

.comment-input input[type="text"] {
	width: 100%;
	height: 100%;
}

input.searchinputfield {
	width: 100%;
	height: 35px;
	border-bottom: 1px solid #e5e5e5;
	text-align: center;
}

input.searchinputfield::-webkit-input-placeholder::before {
	font-family: fontAwesome;
	content: "\f002";
	color: #999;
}

input.searchinputfield::-moz-placeholder::before {
	font-family: fontAwesome;
	content: "\f002";
	color: #999;
}

input.searchinputfield:-ms-input-placeholder::before {
	font-family: fontAwesome;
	content: "\f002";
	color: #999;
}

input.searchinputfield:-moz-placeholder::before {
	font-family: fontAwesome;
	content: "\f002";
	color: #999;
}

.v-slot-searchinputfield .resetbuttonfortextfield-resetbutton {
	top: -7pt;
}

::-webkit-input-placeholder {
	color: #999;
}

:-moz-placeholder {
	color: #999;
}

::-moz-placeholder {
	color: #999;
}

:-ms-input-placeholder {
	color: #999;
}

::-ms-input-placeholder {
	color: #999;
}

:placeholder-shown {
	color: #999;
}

* {
	-webkit-tap-highlight-color: transparent;
	-webkit-tap-highlight-color: transparent;
}

body {
	background-color: white;
}

.v-touchkit-navview-wrapper {
	background-color: white;
}

.v-touchkit-navbar, .v-touchkit-tabbar-toolbar .v-touchkit-toolbar, .v-touchkit-navview-toolbar, .v-mobilecomponent .v-touchkit-navpanel {
	box-shadow: none !important;
}

.v-touchkit-verticalcomponentgroup {
	border-bottom: 1px solid #e5e5e5 !important;
	box-shadow: none !important;
	margin-bottom: 0 !important;
}

.v-touchkit-componentgroup-row:before {
	border-top: 1px solid #e5e5e5 !important;
	left: 0px !important;
	right: 0px !important;
}

.v-table-body {
	border: none;
}

.content-wrapper {
	margin: 0 auto;
	display: block;
}

.content-wrapper.v-margin-top {
	padding-top: 2.5rem;
}

.content-wrapper .intro-text {
	text-align: center;
}

.content-wrapper .welcometext-wrapper .v-label {
	display: block;
	margin: 0 auto;
	text-align: center;
	background-color: #f5f5f5;
	font-size: 1.6rem;
	color: #2692db;
	border: none;
}

.attachment-preview-view {
	background-color: black;
}

.attachment-preview-view .v-touchkit-navbutton-back-btn {
	background-color: rgba(0, 0, 0, 0.4);
	background-image: none;
	padding: 0.4rem 1rem;
	border: 0.1rem solid white;
	border-radius: 0.3rem;
	color: white;
}

.attachment-preview-view .image-wrap {
	overflow: scroll;
	white-space: nowrap;
}

.attachment-preview-view .image-wrap:before {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.attachment-preview-view .image-wrap img {
	display: inline-block;
	vertical-align: middle;
}

.attachment-row .thumbnail-wrap {
	display: inline-block;
}

.attachment-row .v-button {
	text-align: left;
	color: #0083ce;
	box-shadow: none;
	font-size: smaller;
}

.attachment-display-comp .attachment-row {
	padding: 0.3rem 0.5rem 0.4rem;
	border-bottom: 0.1rem solid #e5e5e5;
}

.attachment-field .v-upload .v-button {
	font-size: 1.5rem;
	min-height: inherit;
	line-height: normal;
	vertical-align: middle;
}

.attachment-field .v-upload .v-button .v-button-wrap {
	padding: 0px;
}

.attachment-field .v-progressbar.upload-progress {
	padding: 1.3rem 0.5rem 1.4rem;
	display: block;
	background-color: white;
	border-bottom: 0.1rem solid #e5e5e5;
}

.attachment-field .v-progressbar.upload-progress .v-progressbar-wrapper {
	border-color: #e5e5e5;
}

.attachment-field .v-progressbar.upload-progress .v-progressbar-wrapper .v-progressbar-indicator {
	background-color: #49a3e1;
}

.attachment-field .attachment-row {
	padding: 0.3rem 0.5rem 0.4rem;
	border-bottom: 0.1rem solid #e5e5e5;
}

.attachment-field .attachment-row .v-button {
	color: #0083ce;
}

.project-dashboard .project-info-layout {
	padding-bottom: 0.5rem;
}

.project-dashboard .project-info-layout .project-icon {
	font-size: 2.5rem;
	padding: 0.5rem;
}

.project-dashboard .project-info-layout .project-name {
	font-weight: bold;
	font-size: 1.2rem;
	text-align: center;
}

.activity-cell {
	border-bottom: 1px solid #e5e5e5;
	padding: 5px;
}

.bug-blocker .v-icon, .v-filterselect-item-bug-blocker .v-icon {
	color: #d32d1a;
}

.bug-blocker.v-icon {
	color: #d32d1a;
}

.bug-critical .v-icon, .v-filterselect-item-bug-critical .v-icon {
	color: #e95948;
}

.bug-critical.v-icon {
	color: #e95948;
}

.bug-major .v-icon, .v-filterselect-item-bug-major .v-icon {
	color: #f09085;
}

.bug-major.v-icon {
	color: #f09085;
}

.bug-minor .v-icon, .v-filterselect-item-bug-minor .v-icon {
	color: #f7c7c1;
}

.bug-minor.v-icon {
	color: #f7c7c1;
}

.bug-trivial .v-icon, .v-filterselect-item-bug-trivial .v-icon {
	color: #b7b9b0;
}

.bug-trivial.v-icon {
	color: #b7b9b0;
}

.bug-severity-critical .v-icon, .v-filterselect-item-bug-severity-critical .v-icon {
	color: #d32d1a;
}

.bug-severity-critical.v-icon {
	color: #d32d1a;
}

.bug-severity-major .v-icon, .v-filterselect-item-bug-severity-major .v-icon {
	color: #e95948;
}

.bug-severity-major.v-icon {
	color: #e95948;
}

.bug-severity-minor .v-icon, .v-filterselect-item-bug-severity-minor .v-icon {
	color: #f09085;
}

.bug-severity-minor.v-icon {
	color: #f09085;
}

.bug-severity-trivial .v-icon, .v-filterselect-item-bug-severity-trivial .v-icon {
	color: #f7c7c1;
}

.bug-severity-trivial.v-icon {
	color: #f7c7c1;
}

.message-list-view .message-block, .message-read-view .message-block {
	padding: 1.2rem 0.8rem 0rem 0.8rem;
}

.message-list-view .message-block .title-row, .message-read-view .message-block .title-row {
	padding: 0.5rem 0;
}

.message-list-view .message-block .title-row .comment-count, .message-read-view .message-block .title-row .comment-count {
	font-size: 1rem;
	color: #f7f7f7;
	background-color: #5e5d55;
	padding: 0.2rem 0.5rem;
	border-radius: 0.3rem;
}

.message-list-view .message-block .title-row.has-comment, .message-read-view .message-block .title-row.has-comment {
	padding: 0.3rem 0rem;
}

.message-list-view .message-block .attachment-row, .message-read-view .message-block .attachment-row {
	padding: 0.3rem 0.5rem 0.4rem;
}

.message-read-view .message-block {
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 1rem;
}

.comment-list .comment-block {
	padding: 0.8rem;
}

.comment-list .comment-block .right-col {
	border: 1px solid #e5e5e5;
	padding: 0.5rem 0.5rem 0 0.5rem;
	border-radius: 0.5rem;
}

.comment-list .comment-block .right-col:before {
	content: "";
	position: absolute;
	border-style: solid;
	display: block;
	width: 0;
	top: 9px;
	left: -7px;
	border-width: 7px 7px 7px 0;
	border-color: transparent #e5e5e5;
	border-radius: 0px;
}

.comment-list .comment-block .right-col:after {
	content: "";
	position: absolute;
	border-style: solid;
	display: block;
	width: 0;
	top: 9px;
	left: -6px;
	border-width: 7px 7px 7px 0;
	border-color: transparent white;
	border-radius: 0px;
}

.comment-list .comment-block .right-col .comment-content {
	padding: 0.5rem 0;
}

.comment-list .comment-block .right-col .attachment-row {
	padding: 0.3rem 0.5rem 0.4rem;
}

.message-add-view .content-layout .bottom-row {
	margin: 1.2rem auto 0rem;
	box-shadow: none;
}

.message-add-view .content-layout .bottom-row .v-caption {
	font-size: 1.4rem;
}

.message-add-view .content-layout .bottom-row .attachment-field .attachment-field-header {
	padding-bottom: 0.5rem;
}

.message-add-view .content-layout .bottom-row .attachment-field .attachment-row-wrap {
	display: block;
}

.message-add-view .content-layout .bottom-row .attachment-field .attachment-row-wrap .attachment-row {
	border-top: 0.1rem solid #dddddd;
	border-bottom: none;
}

.message-add-view .content-layout .bottom-row .attachment-field .attachment-row-wrap .attachment-row .v-button {
	display: inline-block;
}

.bug-blocker .v-icon, .v-filterselect-item-bug-blocker .v-icon {
	color: #d32d1a;
}

.bug-blocker.v-icon {
	color: #d32d1a;
}

.bug-critical .v-icon, .v-filterselect-item-bug-critical .v-icon {
	color: #e95948;
}

.bug-critical.v-icon {
	color: #e95948;
}

.bug-major .v-icon, .v-filterselect-item-bug-major .v-icon {
	color: #f09085;
}

.bug-major.v-icon {
	color: #f09085;
}

.bug-minor .v-icon, .v-filterselect-item-bug-minor .v-icon {
	color: #f7c7c1;
}

.bug-minor.v-icon {
	color: #f7c7c1;
}

.bug-trivial .v-icon, .v-filterselect-item-bug-trivial .v-icon {
	color: #b7b9b0;
}

.bug-trivial.v-icon {
	color: #b7b9b0;
}

.bug-severity-critical .v-icon, .v-filterselect-item-bug-severity-critical .v-icon {
	color: #d32d1a;
}

.bug-severity-critical.v-icon {
	color: #d32d1a;
}

.bug-severity-major .v-icon, .v-filterselect-item-bug-severity-major .v-icon {
	color: #e95948;
}

.bug-severity-major.v-icon {
	color: #e95948;
}

.bug-severity-minor .v-icon, .v-filterselect-item-bug-severity-minor .v-icon {
	color: #f09085;
}

.bug-severity-minor.v-icon {
	color: #f09085;
}

.bug-severity-trivial .v-icon, .v-filterselect-item-bug-severity-trivial .v-icon {
	color: #f7c7c1;
}

.bug-severity-trivial.v-icon {
	color: #f7c7c1;
}

.timelog-edit-view div.v-vertical > .v-expand > .v-spacing {
	display: block;
	height: 1.2rem;
}

.timelog-edit-view .summary-info-panel {
	background-color: white;
	border-bottom: 0.1rem solid #dddddd;
}

.timelog-edit-view .summary-info-panel .total-time {
	border-right: 0.1rem solid #dddddd;
}

.timelog-edit-view .summary-info-panel .summary-block .block-label {
	color: #959595;
}

.timelog-edit-view .summary-info-panel .summary-block .block-value {
	color: #414141;
	font-size: 1.5rem;
	font-weight: bold;
}

.timelog-edit-view .data-list-view {
	border-top: 0.1rem solid #dddddd;
}

.timelog-edit-view .data-list-view .log-day {
	border-bottom: 2px solid #f59330;
	padding: 1rem 0.5rem 0.5rem;
	font-size: 1.1rem;
	font-weight: bold;
	color: #959595;
}

.timelog-edit-view .data-list-view .time-log-item {
	padding: 0.5rem 2.5rem 0.8rem 1.4rem;
	border-bottom: 0.1rem solid #dddddd;
	color: #959595;
}

.timelog-edit-view .data-list-view .time-log-item .log-value {
	font-size: 1.4rem;
	font-weight: bold;
	color: #414141;
}

.timelog-edit-view .data-list-view .time-log-item .v-caption-on-top > .v-caption {
	display: inline-block;
}

.timelog-edit-view .data-list-view .time-log-item .log-user {
	font-size: 1.1rem;
}

.timelog-edit-view .data-list-view .time-log-item .is-billable {
	text-align: center;
	color: #49a3e1;
}

.time-log-window .v-window-outerheader {
	height: inherit;
}

.time-log-window .v-window-outerheader .v-window-header {
	text-align: center;
	padding-bottom: 0.5rem;
}

.time-log-window.new-time-entry-window .input-wrapper {
	margin: 0px;
	border-bottom: none;
	box-shadow: none;
	border-color: #dddddd;
	font-size: 1.4rem;
}

.time-log-window.new-time-entry-window .input-wrapper .v-textfield {
	border: none;
}

.time-log-window.new-time-entry-window .input-wrapper .v-textfield:focus {
	box-shadow: none;
}

.time-log-window.new-time-entry-window .input-wrapper .v-touchkit-componentgroup-row > .v-caption {
	font-size: 1.4rem;
}

.time-log-window.new-time-entry-window .input-wrapper .v-select-select {
	font-size: inherit;
}

.time-log-window.update-remain-time-window .input-wrapper {
	padding: 0.5rem 1rem;
}

.time-log-window.update-remain-time-window .input-wrapper .v-textfield {
	font-size: 1.5rem;
	color: #959595;
	line-height: 2rem;
	border-radius: 0px;
	border-color: #dddddd;
}

.time-log-window .button-layout {
	border-top: 0.1rem solid #dddddd;
}

.time-log-window .button-layout .v-button {
	background-color: transparent;
}

.time-log-window .button-layout .v-button .v-button-wrap {
	padding: 1rem;
}

.time-log-window .button-layout .v-button .v-button-wrap .v-button-caption {
	color: #49a3e1;
	font-size: 1.4rem;
}

.time-log-window .button-layout .v-button.add-btn {
	border-left: 0.1rem solid #dddddd;
}