.gantt {
	background: lightgray;
	overflow: hidden;
}

.gantt .timeline {
	overflow: hidden;
	position: relative;
}

.gantt .year,
.gantt .month,
.gantt .day {
	padding-left: 2px;
	text-overflow: ellipsis;
	white-space: nowrap;
    border-right: 1px solid #A9A9A9;
    background-color: #d0d0d0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.v-ie8 .gantt .month.even,
.v-ie8 .gantt .day.even {
	background-color: #ddd;
}
.gantt .month:nth-of-type(even),
.gantt .day:nth-of-type(even) {
    background-color: #ddd;
}
.gantt .col.even {
    background-color: #ccc;
}

.gantt .col {
	height: 100%;
	float: left;
	overflow: hidden;
	border-right: 1px solid #A9A9A9;
	background-color: #ddd;
	font-size: 10px;
	text-align: center;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.gantt .col.w {
	text-align: left;
}

.gantt .col.weekend {
	background-color: #ccc;
}

.gantt .row {
	width: 100%;
	float: left;
	overflow: hidden;
	height: 15px;
	display: -ms-inline-flexbox; /* works with ie10 */
	-ms-flex-pack: justify;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.gantt .resolution {
	
}

.gantt .gantt-container {
	width: 100%;
	height: 100%;
	overflow: auto;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.gantt .gantt-content {
	background: #aaa;
	overflow: hidden;
	position: relative;
	width:	100%;
	height: 100%;
}

.gantt .bar {
	position: absolute;
	height: 30px;
	z-index: 1;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	touch-action: pan-y;
	-ms-touch-action: pan-y;
	-webkit-border-radius: 3px;
  	-moz-border-radius: 3px;
  	border-radius: 3px;
  	-webkit-box-shadow: 2px 0 3px rgba(0, 0, 0, 0.14), 0 0 0 1px rgba(0, 0, 0, 0.07);
  	-moz-box-shadow: 2px 0 3px rgba(0, 0, 0, 0.14), 0 0 0 1px rgba(0, 0, 0, 0.07);
  	box-shadow: 2px 0 3px rgba(0, 0, 0, 0.14), 0 0 0 1px rgba(0, 0, 0, 0.07);
}

.gantt .bar-label {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	margin: 3px;
}

.gantt .bar.moving {
	background: orange;
	cursor: move;
	z-index: 3;
}

.gantt .bar.resizing {
	background: orange;
	cursor: e-resize;
	z-index: 3;
}

.gantt .bar.invalid {
	visibility: hidden;
}

.gantt .mv-el {
	position: absolute;
	top: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	height: 100%;
	z-index: 2;
	background: transparent;
	border-left: 1px dashed #ddd;
	border-right: 1px dashed #ddd;
}