.v-context-menu-container {

}

.v-context-menu-container .popupContent {
	float: left;
}

.v-context-menu {
	float: left;
	
	font-family: Arial;
	font-size: 12px;
	
	background-color: #f0f0f0;
}

.v-context-menu .v-context-menu-item-basic,
.v-context-menu .v-context-menu-item-basic-submenu {
	float: left;
	clear: left;
	
	height: 26px;
	
	color: #222;
	
	cursor: pointer;
	
	background-color: #f0f0f0;
}

.v-context-menu .v-context-menu-item-basic.v-context-menu-item-separator {
	border-bottom: 1px solid #d0d0d0;
}

.v-context-menu .v-context-menu-item-basic-submenu {
	background: transparent url(img/basic/arrow.png) no-repeat center right;
}

.v-context-menu .v-context-menu-item-basic:focus,
.v-context-menu .v-context-menu-item-basic-submenu:focus,
.v-context-menu .v-context-menu-item-basic-open {
	background-color: #e0e0e0;
	outline: none;
}

.v-context-menu .v-context-menu-item-basic.v-context-menu-item-disabled {
	opacity: 0.3;
	filter: alpha(opacity = 30);
	zoom: 1;
}

.v-context-menu .v-context-menu-item-basic.v-context-menu-item-disabled:hover,
.v-context-menu .v-context-menu-item-basic-submenu.v-context-menu-item-disabled:hover {
	background-color: #f0f0f0;
}

.v-context-menu .v-context-menu-item-basic-icon-container {
	float: left;
	
	width: 26px;
	height: 26px;
	
	margin-right: 5px;
		
	border-right: 1px solid #d0d0d0;
	
	text-align: center;
}

.v-context-menu .v-context-menu-item-basic-icon-container .v-icon {
	float: left;
	
	width: 16px;
	height: 16px;
	
	padding: 5px;
}

.v-context-menu .v-context-menu-item-basic-text {
	float: left;
        
	height: 26px;
	line-height: 26px;
	padding: 0 20px 0 10px;
}