.section {
	width: 100%;
	padding: 10px 5px 10px 5px;
	border-bottom: 1px solid $my-separator-color;
}

.section .v-label {
	font-size: 1.5em;
	font-weight: 500;
}

.section .v-label {
	margin-left: 5px;
	font-size: 16px;
}

.v-touchkit-navbutton {
	width: 100% !important;
	color: $my-dark-color !important;
}

.v-touchkit-navbutton::after {
	color: $my-dark-color !important;
}

.field-note {
	border-radius: 5px;
	padding: 3px 5px;
	margin-right: 5px;
	color: $my-white-color;
	background-color: $my-note-color;
}

.block {
	border-radius: 5px;
	padding: 2px 5px;
	margin-right: 5px;
	color: $my-white-color;
	background-color: $my-note-color;
	font-size: $my-font-small !important;
}

.block a {
	color: $my-white-color;
}

.flex {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-writing-mode: lr-tb;
}

.text-ellipsis a {
	display: inline-block;
	width: 100%;
	white-space: nowrap !important;
	overflow: hidden;
	text-overflow: ellipsis;
}

.v-label.text-ellipsis {
	display: inline-block;
	width: 100%;
	white-space: nowrap !important;
	overflow: hidden;
	text-overflow: ellipsis;
}

.v-label {
	word-wrap: break-word;
}

.v-label.overdue, .v-label .overdue {
	color: $my-alert-color !important;
}

.v-label.overdue a, .v-label .overdue a {
	color: $my-alert-color !important;
}

.v-label.completed, .v-label .completed {
	text-decoration: line-through !important;
	color: $my-black-color !important;
}

.v-label.completed a, .v-label .completed a {
	text-decoration: line-through !important;
	color: $my-black-color !important;
}

.v-multifileupload-uploads .v-upload .v-button:before {
	font-family: FontAwesome;
	content: "\f0c6";
	font-size: $font-larger;
}

.v-multifileupload-uploads .v-upload .v-button {
	border: none;
	background: transparent;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	padding: 0px;
	margin: 0px;
}

.v-multifileupload-dropzone {
	background: #e4e4e4 !important;
	cursor: pointer;
	width: 100% !important;
	height: 30px !important;
}

.v-multifileupload-dropzone .v-label {
	margin-top: 5px;
}

.v-multifileupload-uploads {
	display: none !important;
}

.row {
	padding: 10px;
	border-bottom: 1px solid $my-separator-color;
}

.row:last-child {
	border-style: none;
}

.section {
	width: 100%;
	padding: 10px 5px 10px 5px;
	border-bottom: 1px solid #e5e5e5;
}

.section .v-label {
	font-size: 1.5em;
	font-weight: 500;
}

.section .v-label {
	margin-left: 5px;
	font-size: 16px;
}

.v-touchkit-navbutton {
	width: 100% !important;
	color: #5e5d55 !important;
}

.v-touchkit-navbutton::after {
	color: #5e5d55 !important;
}

.field-note {
	border-radius: 5px;
	padding: 3px 5px;
	margin-right: 5px;
	color: #f7f7f7;
	background-color: #76B38A;
}

.block {
	border-radius: 5px;
	padding: 2px 5px;
	margin-right: 5px;
	color: #f7f7f7;
	background-color: #76B38A;
	font-size: 12px !important;
}

.block a {
	color: #f7f7f7;
}

.flex {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-writing-mode: lr-tb;
}

.text-ellipsis a {
	display: inline-block;
	width: 100%;
	white-space: nowrap !important;
	overflow: hidden;
	text-overflow: ellipsis;
}

.v-label.text-ellipsis {
	display: inline-block;
	width: 100%;
	white-space: nowrap !important;
	overflow: hidden;
	text-overflow: ellipsis;
}

.v-label {
	word-wrap: break-word;
}

.v-label.overdue, .v-label .overdue {
	color: #B0470B !important;
}

.v-label.overdue a, .v-label .overdue a {
	color: #B0470B !important;
}

.v-label.completed, .v-label .completed {
	text-decoration: line-through !important;
	color: #5e5d55 !important;
}

.v-label.completed a, .v-label .completed a {
	text-decoration: line-through !important;
	color: #5e5d55 !important;
}

.v-multifileupload-uploads .v-upload .v-button:before {
	font-family: FontAwesome;
	content: "\f0c6";
	font-size: $font-larger;
}

.v-multifileupload-uploads .v-upload .v-button {
	border: none;
	background: transparent;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	padding: 0px;
	margin: 0px;
}

.v-multifileupload-dropzone {
	background: #e4e4e4 !important;
	cursor: pointer;
	width: 100% !important;
	height: 30px !important;
}

.v-multifileupload-dropzone .v-label {
	margin-top: 5px;
}

.v-multifileupload-uploads {
	display: none !important;
}

.row {
	padding: 10px;
	border-bottom: 1px solid #e5e5e5;
}

.row:last-child {
	border-style: none;
}

.large {
	font-size: larger !important;
}

.v-label.wordWrap {
	word-wrap: break-word;
	white-space: normal;
}

.circle-box, img .circle-box {
	border-radius: 50%;
	background-color: #b9ecfb;
	text-align: center;
}

.v-touchkit-navbutton-circle-box {
	padding: 0px 7px !important;
	border-radius: 50% !important;
	border: 1px solid #999999;
	height: 30px;
}

.v-touchkit-navbutton-circle-box::after {
	display: none;
}

.v-touchkit-navbutton-circle-box .v-icon {
	margin: 0px !important;
}

.v-button-circle-box {
	line-height: 1.5 !important;
	border-radius: 50% !important;
	border: 1px solid #999999 !important;
}

.v-button-circle-box .v-button-wrap {
	padding: 0 5px !important;
}

.meta-info {
	color: #999;
	font-size: smaller !important;
}

hr {
	border: 0;
	border-top: 1px solid #e5e5e5;
}

.h1 {
	font-weight: 600 !important;
	font-size: 38px !important;
	text-align: center !important;
}

.h2 {
	font-weight: 600 !important;
	font-size: 18px !important;
}

.border-bottom {
	border-bottom: 1px solid #e5e5e5;
}

.border-top {
	border-top: 1px solid #e5e5e5;
}

a {
	color: #0083ce !important;
	text-decoration: none !important;
}

.v-button-link .v-button-caption {
	color: #0083ce !important;
	font-size: 14px !important;
}

.v-gridlayout.colored-gridlayout {
	width: 100%;
}

.v-gridlayout.colored-gridlayout .gridform-caption, .v-gridlayout.colored-gridlayout .gridform-field {
	border-bottom: 1px solid #e5e5e5;
}

.v-gridlayout.colored-gridlayout .gridform-caption.v-margin-top, .v-gridlayout.colored-gridlayout .gridform-field.v-margin-top {
	padding-top: 8px;
}

.v-gridlayout.colored-gridlayout .gridform-caption.v-margin-right, .v-gridlayout.colored-gridlayout .gridform-field.v-margin-right {
	padding-right: 8px;
}

.v-gridlayout.colored-gridlayout .gridform-caption.v-margin-bottom, .v-gridlayout.colored-gridlayout .gridform-field.v-margin-bottom {
	padding-bottom: 4px;
}

.v-gridlayout.colored-gridlayout .gridform-caption.v-margin-left, .v-gridlayout.colored-gridlayout .gridform-field.v-margin-left {
	padding-left: 0px;
}

.v-gridlayout.colored-gridlayout .gridform-field {
	min-height: 43px;
	padding-top: 8px;
	padding-bottom: 8px;
	display: flex;
}

.v-gridlayout.colored-gridlayout .gridform-field .v-select {
	width: 100%;
}

.v-gridlayout.colored-gridlayout .gridform-field .v-select::after {
	right: 16px;
}

.v-gridlayout.colored-gridlayout .gridform-field .v-select-select {
	width: 100%;
}

.v-gridlayout.colored-gridlayout .gridform-caption {
	min-height: 43px;
}

.v-gridlayout.colored-gridlayout .gridform-caption .v-label {
	text-align: right;
	color: #999;
	font-size: 14px;
}

.v-gridlayout.colored-gridlayout .v-required-field-indicator {
	color: red !important;
	margin-top: 0px !important;
}

.v-navbar-quickmenu-content {
	width: 100%;
	border-bottom: 1px solid #e5e5e5;
}

.v-navbar-quickmenu-content .v-button {
	background: transparent !important;
	box-shadow: none !important;
	font-size: 14px;
}

.v-touchkit-navview-wrapper, .v-touchkit-navpanel, .v-scrollable, body {
	overflow-x: hidden !important;
}

.v-touchkit-navpanel-wrapper {
	background-color: white;
}

.v-touchkit-navpanel-wrapper .v-touchkit-navpanel-placeholder > div {
	background-color: #f9f9f9 !important;
	color: #5e5d55 !important;
}

.v-touchkit-navbar {
	background-color: #f9f9f9 !important;
	border-bottom: 1px solid #e5e5e5 !important;
}

.v-touchkit-navbar .v-navbar-quickmenu-button {
	color: #5e5d55 !important;
	min-height: 30px;
	padding: 0 7px;
}

.v-touchkit-navbar .v-navbar-quickmenu-button.circle-box {
	border-radius: 50%;
	border: 1px solid #999999;
	background-color: transparent;
}

.v-touchkit-navbar .v-button {
	color: #5e5d55 !important;
}

.v-touchkit-navbar-caption {
	font-size: smaller;
}

.v-touchkit-navbar-caption span {
	display: block;
	white-space: nowrap !important;
	overflow: hidden;
	text-overflow: ellipsis;
}

.v-touchkit-navbar-right {
	text-align: right !important;
}

.v-touchkit-navbar .v-button-wrap {
	text-align: left;
}

.navigation-button-wrap .v-icon {
	padding-right: 10px;
}

.v-touchkit-datepicker {
	width: 140px !important;
}

.v-touchkit-datepicker:after, .v-select:after {
	color: #5e5d55 !important;
}

.confirm-dialog .v-window-outerheader {
	display: none;
}

.confirm-dialog .v-horizontallayout .v-button {
	font-size: 14px;
}

.v-window-closebox {
	background-color: transparent !important;
}

.attachment-panel {
	border-top: 1px solid #dddddd;
	padding: 0.5rem 0rem 0.8rem;
}

.slidemenu {
	top: 0px !important;
}

.slidemenu .v-window-contents {
	border-right: 1px solid #e5e5e5;
}

.slidemenu .v-window-contents .v-button {
	background: transparent !important;
	box-shadow: none !important;
}

.slidemenu .modalcurtain {
	width: 100% !important;
}

.comment-input  > div > .v-horizontallayout {
	width: 100%;
}

.comment-input input[type="text"] {
	width: 100%;
	height: 100%;
}

input.searchinputfield {
	width: 100%;
	height: 35px;
	border-bottom: 1px solid #e5e5e5;
	text-align: center;
}

input.searchinputfield::-webkit-input-placeholder::before {
	font-family: fontAwesome;
	content: "\f002";
	color: #999;
}

input.searchinputfield::-moz-placeholder::before {
	font-family: fontAwesome;
	content: "\f002";
	color: #999;
}

input.searchinputfield:-ms-input-placeholder::before {
	font-family: fontAwesome;
	content: "\f002";
	color: #999;
}

input.searchinputfield:-moz-placeholder::before {
	font-family: fontAwesome;
	content: "\f002";
	color: #999;
}

.v-slot-searchinputfield .resetbuttonfortextfield-resetbutton {
	top: -7pt;
}

::-webkit-input-placeholder {
	color: #999;
}

:-moz-placeholder {
	color: #999;
}

::-moz-placeholder {
	color: #999;
}

:-ms-input-placeholder {
	color: #999;
}

::-ms-input-placeholder {
	color: #999;
}

:placeholder-shown {
	color: #999;
}

.priority-urgent .v-icon, .priority-urgent.v-icon, .v-filterselect-item-priority-urgent .v-icon, .v-filterselect-item-priority-urgent.v-icon {
	color: #d32d1a;
}

.priority-high .v-icon, .priority-high.v-icon, .v-filterselect-item-priority-high .v-icon, .v-filterselect-item-priority-high.v-icon {
	color: #e95948;
}

.priority-medium .v-icon, .priority-medium.v-icon, .v-filterselect-item-priority-medium .v-icon, .v-filterselect-item-priority-medium.v-icon {
	color: #f09085;
}

.priority-low-color .v-icon, .priority-low-color.v-icon, .v-filterselect-item-priority-low-color .v-icon, .v-filterselect-item-priority-low-color.v-icon {
	color: $priority-low-color-color;
}

.priority-none .v-icon, .priority-none.v-icon, .v-filterselect-item-priority-none .v-icon, .v-filterselect-item-priority-none.v-icon {
	color: #b7b9b0;
}

.v-button.favorite-btn {
	background-color: transparent;
}

.v-button.favorite-btn .v-icon {
	font-size: $font-large;
}

.v-button.favorite-btn .v-button-wrap:hover {
	background-color: transparent;
}

.v-button.favorite-btn-selected {
	background-color: transparent;
}

.v-button.favorite-btn-selected .v-icon {
	font-size: $font-large;
	color: coral;
}

.v-button.favorite-btn-selected .v-button-wrap:hover {
	background-color: transparent;
}

* {
	-webkit-tap-highlight-color: transparent;
	-webkit-tap-highlight-color: transparent;
}

body {
	background-color: white;
}

.v-touchkit-navview-wrapper {
	background-color: white;
}

.v-touchkit-navbar, .v-touchkit-tabbar-toolbar .v-touchkit-toolbar, .v-touchkit-navview-toolbar, .v-mobilecomponent .v-touchkit-navpanel {
	box-shadow: none !important;
}

.v-touchkit-navview-toolbar {
	border-top: 1px solid #e5e5e5 !important;
	background-color: white;
}

.v-touchkit-verticalcomponentgroup {
	border-bottom: 1px solid #e5e5e5 !important;
	box-shadow: none !important;
	margin-bottom: 0 !important;
}

.v-touchkit-verticalcomponentgroup .v-touchkit-navbutton:active {
	background-color: transparent !important;
}

.v-touchkit-componentgroup-row:before {
	border-top: 1px solid #e5e5e5 !important;
	left: 0px !important;
	right: 0px !important;
}

.v-touchkit-componentgroup-row .v-caption {
	color: #999 !important;
}

.v-table-body {
	border: none;
}

.content-wrapper {
	margin: 0 auto;
	display: block;
}

.content-wrapper.v-margin-top {
	padding-top: 2.5rem;
}

.content-wrapper .intro-text {
	text-align: center;
}

.content-wrapper .welcometext-wrapper .v-label {
	display: block;
	margin: 0 auto;
	text-align: center;
	background-color: #f5f5f5;
	font-size: 1.6rem;
	color: #2692db;
	border: none;
}

.attachment-preview-view {
	background-color: #ffffff;
}

.attachment-preview-view .v-touchkit-navbutton-back-btn {
	background-color: rgba(0, 0, 0, 0.4);
	background-image: none;
	padding: 0.4rem 1rem;
	border: 0.1rem solid #e5e5e5;
	border-radius: 0.3rem;
	color: #fff !important;
}

.attachment-preview-view .v-touchkit-navbutton-back-btn::after {
	content: "";
}

.attachment-preview-view .image-wrap {
	overflow: scroll;
	white-space: nowrap;
}

.attachment-preview-view .image-wrap:before {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.attachment-preview-view .image-wrap img {
	display: inline-block;
	vertical-align: middle;
}

.attachment-row .thumbnail-wrap {
	display: inline-block;
}

.attachment-row .v-button {
	text-align: left;
	color: #0083ce;
	box-shadow: none;
	font-size: smaller;
}

.attachment-display-comp .attachment-row {
	padding: 0.3rem 0.5rem 0.4rem;
	border-bottom: 0.1rem solid #e5e5e5;
}

.attachment-field .v-upload .v-button {
	font-size: 15px;
	min-height: inherit;
	line-height: normal;
	vertical-align: middle;
}

.attachment-field .v-upload .v-button .v-button-wrap {
	padding: 0px;
}

.attachment-field .v-progressbar.upload-progress {
	padding: 1.3rem 0.5rem 1.4rem;
	display: block;
	background-color: white;
	border-bottom: 0.1rem solid #e5e5e5;
}

.attachment-field .v-progressbar.upload-progress .v-progressbar-wrapper {
	border-color: #e5e5e5;
}

.attachment-field .v-progressbar.upload-progress .v-progressbar-wrapper .v-progressbar-indicator {
	background-color: #49a3e1;
}

.attachment-field .attachment-row {
	padding: 0.3rem 0.5rem 0.4rem;
	border-bottom: 0.1rem solid #e5e5e5;
}

.attachment-field .attachment-row .v-button {
	color: #0083ce;
}

.project-dashboard .project-info-layout {
	padding-bottom: 0.5rem;
}

.project-dashboard .project-info-layout .project-icon {
	font-size: 2.5rem;
	padding: 0.5rem;
}

.project-dashboard .project-info-layout .project-name {
	font-weight: bold;
	font-size: 1.2rem;
	text-align: center;
}

.activity-cell {
	border-bottom: 1px solid #e5e5e5;
	padding: 5px;
}

.bug-severity-critical .v-icon, .v-filterselect-item-bug-severity-critical .v-icon {
	color: #d32d1a;
}

.bug-severity-critical.v-icon {
	color: #d32d1a;
}

.bug-severity-major .v-icon, .v-filterselect-item-bug-severity-major .v-icon {
	color: #e95948;
}

.bug-severity-major.v-icon {
	color: #e95948;
}

.bug-severity-minor .v-icon, .v-filterselect-item-bug-severity-minor .v-icon {
	color: #f09085;
}

.bug-severity-minor.v-icon {
	color: #f09085;
}

.bug-severity-trivial .v-icon, .v-filterselect-item-bug-severity-trivial .v-icon {
	color: #f7c7c1;
}

.bug-severity-trivial.v-icon {
	color: #f7c7c1;
}

.message-list-view .message-block, .message-read-view .message-block {
	padding: 1.2rem 0.8rem 0rem 0.8rem;
}

.message-list-view .message-block .title-row, .message-read-view .message-block .title-row {
	padding: 0.5rem 0;
}

.message-list-view .message-block .title-row .comment-count, .message-read-view .message-block .title-row .comment-count {
	font-size: 1rem;
	color: #f7f7f7;
	background-color: #5e5d55;
	padding: 0.2rem 0.5rem;
	border-radius: 0.3rem;
}

.message-list-view .message-block .title-row.has-comment, .message-read-view .message-block .title-row.has-comment {
	padding: 0.3rem 0rem;
}

.message-list-view .message-block .attachment-row, .message-read-view .message-block .attachment-row {
	padding: 0.3rem 0.5rem 0.4rem;
}

.message-read-view .message-block {
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 1rem;
}

.comment-list .comment-block {
	padding: 0.8rem;
}

.comment-list .comment-block .right-col {
	border: 1px solid #e5e5e5;
	padding: 0.5rem 0.5rem 0 0.5rem;
	border-radius: 0.5rem;
}

.comment-list .comment-block .right-col:before {
	content: "";
	position: absolute;
	border-style: solid;
	display: block;
	width: 0;
	top: 9px;
	left: -7px;
	border-width: 7px 7px 7px 0;
	border-color: transparent #e5e5e5;
	border-radius: 0px;
}

.comment-list .comment-block .right-col:after {
	content: "";
	position: absolute;
	border-style: solid;
	display: block;
	width: 0;
	top: 9px;
	left: -6px;
	border-width: 7px 7px 7px 0;
	border-color: transparent white;
	border-radius: 0px;
}

.comment-list .comment-block .right-col .comment-content {
	padding: 0.5rem 0;
}

.comment-list .comment-block .right-col .attachment-row {
	padding: 0.3rem 0.5rem 0.4rem;
}

.bug-severity-critical .v-icon, .v-filterselect-item-bug-severity-critical .v-icon {
	color: #d32d1a;
}

.bug-severity-critical.v-icon {
	color: #d32d1a;
}

.bug-severity-major .v-icon, .v-filterselect-item-bug-severity-major .v-icon {
	color: #e95948;
}

.bug-severity-major.v-icon {
	color: #e95948;
}

.bug-severity-minor .v-icon, .v-filterselect-item-bug-severity-minor .v-icon {
	color: #f09085;
}

.bug-severity-minor.v-icon {
	color: #f09085;
}

.bug-severity-trivial .v-icon, .v-filterselect-item-bug-severity-trivial .v-icon {
	color: #f7c7c1;
}

.bug-severity-trivial.v-icon {
	color: #f7c7c1;
}

.time-log-window .v-window-outerheader {
	height: inherit;
}

.time-log-window .v-window-outerheader .v-window-header {
	text-align: center;
	padding-bottom: 0.5rem;
}