#container {
	min-height: 100%;
	position: relative;
	background-color: #59adfb;
}
body {
	height: 100%; 
	margin: 0; 
	padding: 0; 
	width: 100%;
}
#body {
	padding-bottom: 40px;
}

#header {
	background-color: #fefefe;
	height: 70px;
	width: 100%;
	-moz-box-shadow: 0 5px 5px rgba(0, 0, 0, .3);
	-webkit-box-shadow: 0px 3px 1px 0px rgba(50, 50, 50, 0.51);
	position: relative;
}

.clear {
	clear: both;
}

.header-mid {
	display: block;
	width: 936px;
	margin: 0 auto;
	height: 100%;
}

.header-mid .a {
	color: #FFFFFF;
	text-decoration: none;
}

h1 {
	color: #05ecfa;
	font: 27px 'Georgia', sans-serif;
}

h3 {
	vertical-align: top;
	font: 16px 'Georgia', sans-serif;
	color: #eaebec;
	margin: 10px 0;
}

h4 {
	font-size: 12px;
	margin: 0;
	font-weight: normal;
}
span {
	font: 16px 'Georgia', sans-serif;
	color:#FFFFFF;
}
a {
	color: #05ecfa;
}
#spacing {
	height: 60px;
}

.body-style {
	background-color: #F9F9F9;
	float: right;
	margin-bottom: 20px;
	padding-left: 30px;
	width: 840px;
}

#mainBody {
	background-color: #22374b;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding-left: 80px;
	padding-right: 80px;
	padding-bottom: 11px;
	text-align: left;
	padding-top: 8px;
	border: 1px solid rgb(169, 169, 169);
	border-radius: 3px;
	width: 936px;
	margin: 0 auto;
	color: #FFFFFF;
	font: 20px 'Georgia', sans-serif;
}

#mainBody input[type="text"], #mainBody input[type="password"] {
	background: #FFFFFF;
	border: 1px solid #BBB;
	border-radius: 0px;
	padding: 0em 0.2em;
	line-height: 35px !important;
	color: #4a4a4a;
	height: 35px;
	font-size: 17px;
}

#mainBody input[type="checkbox"] {
	width:20px;
	height:20px;
}

#mainContent {
	display: block;
	padding: 10px 0 8px 10px;
}

#bottom {
	color: blue;
	text-align: center;
	padding-top: 6px;
}

#bottom span {
	font: 12px 'Georgia', sans-serif;
	color: #858F94;
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%; /* Height of the footer */
	height: 10px;
}

.v-button {
	border: 1px solid #093768;
	color: #FFFFFF;
	border-radius: 1px;
	padding: 10px 8px 10px 8px;
	opacity: 0.9;
	cursor: pointer;
}

.v-button-orangebtn {
	background-color: #EB7F0C;
}

.v-button-greenbtn {
	background-color: #7EDA62;
}

.v-button-graybtn {
	background-color: #D1D1D1;
	color: #777;
}
.v-button-graybtn span {
	color: #777;
}

.v-button:hover {
	border: 1px solid #093768;
	opacity: 1;
}
#exclamation_mark {
    color: #3474B0;
    float: left;
    font-family: "Lucida Bright",Arial,sans-serif;
    font-size: 180px;
    font-weight: bold;
    line-height: 165px;
}
#error_display {
    float: left;
}
#error_code {
    color: #3474B0;
    font-family: "Lucida Bright",Arial,sans-serif;
    font-size: 130px;
    font-weight: bold;
    line-height: 130px;
}
#error_brief {
    color: #FFFFFF;
    font-size: 22px;
    text-align: center;
}
#content {
	color: #FFFFFF;
	font: 20px 'Georgia',sans-serif;
}
#content_left {
	float: left;
}
#content_right {
    float: left;
    width: 480px;
}
#error_excuse {
    padding-left: 30px;
}

.right {
	text-align: right;
}