.v-sliderpanel-wrapper {
	margin-left: auto;
	margin-right: auto;
}

.v-sliderpanel-wrapper.layout-horizontal {
	width: 100%;
	height: 0;
	position: relative;
}

.v-sliderpanel-wrapper.layout-horizontal .v-sliderpanel-content {
	width: 100%;
}

.v-sliderpanel-wrapper.layout-horizontal .v-sliderpanel-tab {
	border-radius: 0 0 10px 10px;
	height: 40px;
	width: 260px;
}

.v-sliderpanel-wrapper.layout-horizontal .v-sliderpanel-tab.tab-beginning {
	left: 4%;
}

.v-sliderpanel-wrapper.layout-horizontal .v-sliderpanel-tab.tab-middle {
	left: 50%;
	margin-left: -130px;
}

.v-sliderpanel-wrapper.layout-horizontal .v-sliderpanel-tab.tab-end {
	left: 96%;
	margin-left: -260px;
}

.v-sliderpanel-wrapper.layout-horizontal .v-sliderpanel-navigator {
	height: 40px;
	width: 100%;
}

.v-sliderpanel-wrapper.layout-horizontal.mode-bottom .v-sliderpanel-tab {
	border-radius: 10px 10px 0 0;
}

.v-sliderpanel-wrapper.layout-horizontal.mode-bottom .v-sliderpanel-navigator {
	position: absolute;
}

.v-sliderpanel-wrapper.layout-vertical {
	height: 100%;
	width: 0;
	position: relative;
}

.v-sliderpanel-wrapper.layout-vertical .v-sliderpanel-content {
	height: 100%;
}

.v-sliderpanel-wrapper.layout-vertical .v-sliderpanel-tab {
	border-radius: 0 0 10px 10px;
	height: 40px;
	width: 260px;
	position: absolute;
}

.v-sliderpanel-wrapper.layout-vertical .v-sliderpanel-tab.tab-beginning {
	top: 4%;
}

.v-sliderpanel-wrapper.layout-vertical .v-sliderpanel-tab.tab-middle {
	top: 50%;
	margin-top: -20px;
}

.v-sliderpanel-wrapper.layout-vertical .v-sliderpanel-tab.tab-end {
	bottom: 4%;
}

.v-sliderpanel-wrapper.layout-vertical .v-sliderpanel-navigator {
	position: absolute;
	height: 100%;
	width: 40px;
}

.v-sliderpanel-wrapper.layout-vertical.mode-right {
	margin-left: 0;
}

.v-sliderpanel-wrapper.layout-vertical.mode-right .v-sliderpanel-tab {
	border-radius: 0 0 10px 10px;
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
	left: -110px;
}

.v-sliderpanel-wrapper.layout-vertical.mode-right .v-sliderpanel-navigator {
	left: 0;
}

.v-sliderpanel-wrapper.layout-vertical.mode-right .v-sliderpanel-content {
	float: right;
	left: 40px;
}

.v-sliderpanel-wrapper.layout-vertical.mode-left {
	margin-right: 0;
}

.v-sliderpanel-wrapper.layout-vertical.mode-left .v-sliderpanel-tab {
	-moz-transform: rotate(270deg);
	-o-transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
	transform: rotate(270deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	margin-top: 130px;
	margin-left: -110px;
}

.v-sliderpanel-wrapper.layout-vertical.mode-left .v-sliderpanel-content {
	left: -40px;
}

.v-sliderpanel-wrapper.layout-vertical.mode-left .v-sliderpanel-navigator {
	right: 0;
}

.v-sliderpanel-wrapper.layout-vertical.mode-left.flow-in-content .v-sliderpanel-content {
	left: 0;
}

.v-sliderpanel-content {
	overflow: hidden;
	position: absolute;
	background: #808080;
	color: #fff;
}

.v-sliderpanel-content h1, .v-sliderpanel-content .v-label-h1, .v-sliderpanel-content h2, .v-sliderpanel-content .v-label-h2, .v-sliderpanel-content h3, .v-sliderpanel-content .v-label-h3 {
	color: #fff;
}

.v-sliderpanel-content .v-grid, .v-sliderpanel-content .v-table {
	color: black;
}

.v-sliderpanel-navigator {
	position: relative;
	top: 0;
	pointer-events: none;
}

.v-sliderpanel-tab {
	position: relative;
	line-height: 35px;
	color: #fff;
	font-size: 0.8em;
	cursor: pointer;
	background: #808080;
	pointer-events: all;
}

.v-sliderpanel-tab.open .v-sliderpanel-icon:before {
	content: "\f056";
	color: white;
}

.v-sliderpanel-tab.closed .v-sliderpanel-icon:before {
	content: "\f055";
	color: white;
}

.v-sliderpanel-tab .v-sliderpanel-caption {
	padding: 3px 0 0 15px;
	width: 210px;
	overflow: hidden;
	word-break: break-all;
	height: 34px;
}

.v-sliderpanel-icon {
	height: 22px;
	width: 22px;
	position: absolute;
	top: 10px;
	right: 10px;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: inline-block;
	line-height: 22px;
	font-size: 16px;
	text-align: center;
}

.v-sliderpanel-tab.blackico.open .v-sliderpanel-icon:before {
	content: "\f056";
	color: black;
}

.v-sliderpanel-tab.blackico.closed .v-sliderpanel-icon:before {
	content: "\f055";
	color: black;
}

.sp-white.v-sliderpanel-content, .sp-white.v-sliderpanel-tab {
	background: #fafafa;
	color: #000;
}

.sp-white.v-sliderpanel-content h1, .sp-white.v-sliderpanel-content .v-label-h1, .sp-white.v-sliderpanel-content h2, .sp-white.v-sliderpanel-content .v-label-h2, .sp-white.v-sliderpanel-content h3, .sp-white.v-sliderpanel-content .v-label-h3, .sp-white.v-sliderpanel-tab h1, .sp-white.v-sliderpanel-tab .v-label-h1, .sp-white.v-sliderpanel-tab h2, .sp-white.v-sliderpanel-tab .v-label-h2, .sp-white.v-sliderpanel-tab h3, .sp-white.v-sliderpanel-tab .v-label-h3 {
	color: #000;
}

.sp-white.v-sliderpanel-tab.open .v-sliderpanel-icon:before {
	content: "\f056";
	color: black;
}

.sp-white.v-sliderpanel-tab.closed .v-sliderpanel-icon:before {
	content: "\f055";
	color: black;
}

.sp-white .v-sliderpanel-content {
	-moz-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.sp-white.layout-vertical .v-sliderpanel-tab {
	-moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
}

.sp-white.mode-top .v-sliderpanel-tab {
	-moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
}

.sp-white.mode-bottom .v-sliderpanel-tab {
	-moz-box-shadow: 0px -1px 1px 0px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px -1px 1px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px -1px 1px 0px rgba(0, 0, 0, 0.2);
}

.sp-blue.v-sliderpanel-content, .sp-blue.v-sliderpanel-tab {
	background: #197de1;
	color: #fff;
}

.sp-green.v-sliderpanel-content, .sp-green.v-sliderpanel-tab {
	background: #3dbc1a;
	color: #fff;
}

.sp-red.v-sliderpanel-content, .sp-red.v-sliderpanel-tab {
	background: #ed473b;
	color: #fff;
}