$primary-blue: rgb(73, 163, 225);
$primary-orange: rgb(245, 147, 48);
$gray-text: rgb(149, 149, 149);
$light-gray-text: rgb(191, 191, 191);
$black-text: rgb(65, 65, 65);
$gray-border: rgb(203, 203, 203);
$light-gray-border: rgb(221, 221, 221);
$blue-border: rgb(36, 130, 194);
$low-priority: rgb(119, 119, 119);
$medium-priority: rgb(140, 193, 82);
$high-priority: rgb(246, 187, 66);
$urgent-priority: rgb(218, 68, 83);
$black-caption: rgb(6, 6, 6);