$primary-blue: rgb(73, 163, 225);
$primary-orange: rgb(227, 146, 65);
$gray-text: rgb(149, 149, 149);
$light-gray-text: rgb(191, 191, 191);
$gray-border: rgb(203, 203, 203);
$light-gray-border: rgb(221, 221, 221);
$blue-border: rgb(36, 130, 194);