@mixin common {	
	html {
		height: 100%;
		font-size: 10px;
	}

    .v-app {
        font: 1.3rem "Open Sans",Verdana,Helvetica,sans-serif;
    }
    .v-app,
    .v-window,
    .v-popupview-popup,
    .v-app input,
    .v-app button,
    .v-app textarea,
    .v-window input,
    .v-window button,
    .v-window textarea,
    .v-popupview-popup input,
    .v-popupview-popup button,
    .v-popupview-popup textarea,
    .v-filterselect-suggestpopup,
    .v-datefield-popup,
    .v-datefield-calendarpanel-header button,
    .v-contextmenu,
    .v-Notification,
    .v-menubar-submenu,
    .v-table-header-drag,
    .v-filterselect-select-button .v-filterselect-input,
    .v-drag-element,
    .v-label,
    div.v-widget {
        font-size: 1.3rem;
    }
    
    :focus {outline:none;}
	::-moz-focus-inner {border:0;}

    input {
        box-shadow: none;
    }

    body.v-generated-body {
        background: none repeat scroll 0% 0% #F3F1F0;
    }

    div.v-vertical > .v-spacing, div.v-vertical > .v-expand > .v-spacing {
        display: inline-block;
    }
}