@import "mixins.scss";

@mixin components {
	.v-touchkit-switch-widget {
		height: 2.4rem;
		.v-touchkit-switch-wrapper {
			height: 2rem;
			@include box-shadow(none);
			background-color: $primary-blue;
			border: 2px solid $primary-blue;
			&.v-touchkit-switch-off {
				background-color: rgb(255, 255, 255);
				border: 2px solid $gray-border;
				.v-touchkit-switch {
					.v-touchkit-switch-slider {					
						&:after {
							background-color: $gray-border;
						}
					}
				}
			}
			.v-touchkit-switch {
				line-height: 1.8rem;
				&:after {
					color: $gray-border;
					margin: 0rem;
				}
				&:before {
					color: rgb(255, 255, 255);
					margin: 0rem;
				}
				.v-touchkit-switch-slider {
					
					&:after {
						content: "";
						@include box-shadow(none);
						background-color: rgb(255, 255, 255);
						margin: 0.2rem;
					}
				}
			}
		}
	}
}