@import "colors.scss";

@mixin toolbar {
	overflow-x: auto;
	overflow-y: hidden;
	box-shadow: none;
	border-top: 1px solid $light-gray-border;
	background-color: #F7F7F7;
	position: absolute;
	bottom: 0px;
	right: 0px;
	left: 0px;
	height: 4.8rem;
	-webkit-overflow-scrolling: touch;
	
	.v-button  {
 		color: rgb(106, 106, 106);
 		background-color: #F7F7F7;
 			
 		.v-button-wrap {
 			font-size: 1.3rem;
 			line-height: 1;
 				
 			span[data-icon]:before {
	  			font-size: 2.1rem;
	  		}
  		}    			
	}
	
	.v-button.v-button-selected {
		color: #00A3E8;
	}
}

@mixin icomoon {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: rgb(255, 255, 255);
}

@mixin backbtn {
	right: 100%; 
	top: 50%; 
	border: solid transparent; content: " "; 
	height: 0; 
	width: 0; 
	position: absolute; 
	pointer-events: none; 
}
@mixin editform-field {
	font-size: 1.5rem;
	line-height: 2rem;
	min-height: 2rem;
	color: #8C8C8C;
}
@mixin box-shadow ($s) {
	-webkit-box-shadow: $s;
	-moz-box-shadow: $s;
	box-shadow: $s;
}