/* This contains all of your theme.*/
/* If somebody wants to extend the theme she will include this mixin. */

@mixin mycollab-mobile {
    /* Include all the styles from the reindeer theme */

    .content-wrapper {
        margin: 0 auto;
        display: block;

        .intro-text {
            text-align: center;
        }

        .welcometext-wrapper {
            background: url("icons/welcometext_bg.png") repeat-x left bottom rgb(245, 245, 245);

            .v-label {
                display: block;
                margin: 0 auto;
                text-align: center;
                background-color: rgb(245, 245, 245);
                font-size: 1.6rem;
                color: #2692db;
                border: none;
            }
        }
    }

    .login-view {
        overflow: auto;

        .v-textfield {
            padding: 10px 5px 10px 55px;
            font-size: 1.5rem;
            color: rgb(34, 34, 34);
        }

        .v-textfield.v-textfield-prompt {
            color: #c7c7c7;
        }

        .v-textfield.email-input {
            background: url("icons/email_input_bg.png") no-repeat left center #FFFFFF;
        }

        .v-textfield.password-input {
            background: url("icons/password_input_bg.png") no-repeat left center #FFFFFF;
        }
    }

    .main-view {
        overflow: auto;

        .module-button {
            border: 1px solid #bdbdbd;
            border-radius: 4px;
            cursor: pointer;
            padding: 25px 5px 25px 90px;
            background-color: #ffffff;
            background-repeat: no-repeat;
            background-position: left center;
            color: #727272;
            font-size: 16px;
            font-weight: bold;
        }

        .module-button:focus, .module-button:active {
            border-width: 2px;
            border-color: #49a3e1;
        }

        .module-button.crm {
            background-image: url("icons/crm_icon.png");
        }
        .module-button.project {
            background-image: url("icons/pm_icon.png");
        }
        .module-button.document {
            background-image: url("icons/document_icon.png");
        }
    }
    
    /* Navigation styles */
    
    .v-touchkit-navpanel-navigation {
    	width: 100%;
    	
    	.navigation-menu {
    		overflow-y: auto;
    		
    		.v-button {
	    		margin: 0px;
	    		text-align: left;
	    		background: none no-repeat 0 0 transparent;
	    		font-size: 1.4rem;
	    	}
	    	
	    	.user-info-panel {
	    		background: none no-repeat 0 0 rgb(239, 239, 239);
	    		border-bottom: 1px solid rgb(226, 226, 226);
	    		
	    		.v-button-wrap {
	    			padding: 0px 6px;
	    		}
	    	}
	    	
	    	.user-info-panel.v-margin-top {
	    		padding-top: 6px;
	    	}
	    	
	    	.user-info-panel.v-margin-bottom {
	    		padding-bottom: 6px;
	    	}
	    	    	
	    	.v-button.nav-btn {
	    		background: none no-repeat 0 0 rgb(255, 255, 255);
	    		border-bottom: 1px solid rgb(226, 226, 226);
	    		border-radius: 0px;
	    		-webkit-tap-highlight-color: transparent;
	    		
	    		.v-button-wrap {
	    			padding: 6px 12px;
	    			
	    			.v-button-caption {
	    				vertical-align: middle;
	    				color: rgb(82, 82, 82);
	    				display: inline-block;
	    			}
	    		}
	    		.nav-btn-icon {
	    			font-size: 20px;
	    			vertical-align: middle;
	    			color: rgb(0, 163, 232);
	    			padding-right: 10px;
	    		}
	    	}
	    	
	    	.v-button.nav-btn.isSelected {
	    		background-color: rgba(0, 0, 0, 0.3);
	    	
	    		.v-button-caption {
	    			color: rgb(255, 255, 255);
	    			position: relative;
	    			z-index: 1;
	    			
	    			.nav-btn-icon {
	    				color: rgb(255, 255, 255);
	    			}
	    		}
	    	}
    	}
    }
    
    /* Main Panel Styles */
    .v-touchkit-navpanel-wrapper {
		-webkit-tap-highlight-color: transparent;
				
	    .mobilenavview {
	    	background-color: rgb(255, 255, 255);
	    	
	    	.v-touchkit-navbar {
	    		.v-touchkit-navbar-left {		    		
		   			.v-touchkit-navbutton-back {
		   				position: relative;
		   				background: #49a3e1; 
		   				border: 1px solid #2482c2; 
		   				color: rgb(255, 255, 255);
		   				overflow: visible;
		   				height: 2.8rem;
		   				margin-top: 0.6rem;
		   				padding: 0.4rem 0.8rem 0rem 0.5rem;
		   				font-size: 1.3rem;
		   				margin-left: 2rem;
		   			} 
		   			.v-touchkit-navbutton-back:after, .v-touchkit-navbutton-back:before 
		   			{ 
		   				right: 100%; 
		   				top: 50%; 
		   				border: solid transparent; content: " "; 
		   				height: 0; 
		   				width: 0; 
		   				position: absolute; 
		   				pointer-events: none; 
		   			} 
		   			.v-touchkit-navbutton-back:after {
		   				border-color: rgba(73, 163, 225, 0); 
		   				border-right-color: #49a3e1; 
		   				border-width: 13px; 
		   				margin-top: -13px;
		   				left: auto;
		   				margin-right: 0px;
		   			}
		   			.v-touchkit-navbutton-back:before {
		   				border-color: rgba(36, 130, 194, 0);
		   				border-right-color: #2482c2; 
		   				border-width: 14px; 
		   				margin-top: -14px; 
		   			}
		    	}
		    	
		    	.v-touchkit-navbar-caption {
		    		left: 7.5rem;
	    			line-height: 4rem;
	    			height: 4rem;
	    			position: absolute;
	    			text-align: center;
	    			font-size: 2rem;
	    			color: rgb(255, 255, 255);
	    		}
	    		
	    		.v-touchkit-navbar-right {
	    			.edit-btn, .save-btn {
	    				border: 1px solid #2482c2; 
		   				color: rgb(255, 255, 255);
		   				padding-top: 0.5rem;
		   				font-size: 1.3rem;
		   				height: 2.8rem;
		   				line-height: normal;
		   				
		   				.v-button-wrap {
		   					padding: 0 12px;
		   				}
	    			}
	    		}
	    	}
	    	
	    	.v-touchkit-navview-wrapper {
				-webkit-tap-highlight-color: transparent;
	    	}
	    	
	    	.v-touchkit-navview-toolbar {
	    		overflow-x: hidden;
	    		box-shadow: none;
	    		border-top: 1px solid rgb(187, 187, 187);
	    		background-color: rgb(222, 222, 222);
	    		
	    		.related-items {
	    			.v-button {
		    			color: rgb(106, 106, 106);
		    			background-color: rgb(222, 222, 222);
		    		
		    			span[data-icon]:before {
		    				font-size: 2.1rem;
		    			}
					}
	    		}
	    		
	    		.v-mobileview-toolbar {
	    			.v-mobileview-toolbar-prevBtn, .v-mobileview-toolbar-nextBtn {
	    				color: rgb(94, 80, 85);
	    				background-color: rgba(187, 187, 187, 0.6);
	    			}
	    		}
	    	}
	    }
	}
	
	/* Controls Popover */
	.controls-popover {
		top: 4rem !important;
		
		.v-window-contents {
			background-color: #252c34;
			
			.v-button {
				background-color: #515a62;
				color: #FFFFFF;
				
				.v-button-wrap {
					padding: 5px 0px;
				}
			}
		}
	}
	
	/* Data List View */
	.data-list-view {
		.v-table-row {
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			border-bottom: 1px solid rgb(236, 236, 236);
			display: inline-block;
			
			.v-table-cell-content {
				padding-left: 10px;
			}
		}
		.v-table-row-odd {
			@extend .v-table-row;
			background-color: rgb(255, 255, 255);
		}
		.v-button {
			text-align: left;
			
			.v-button-wrap {
				padding: 0px;
				word-wrap: break-word;
				white-space: normal;
				
				.v-button-caption {
					color: rgb(142, 142, 142);
					font-size: 1.3rem;
				}
			}
		}
	}
	
	/* Read View Layout */
	.readview-layout, .editview-layout {
		.h2 {
			font-size: 1.5rem;
			color: rgb(68, 68, 68);
			padding: 0.9rem 0rem 0.9rem 1rem;
			border-bottom: .2rem solid rgb(245, 147, 46);
		}
		.v-gridlayout {
			color: rgb(145, 145, 145);
			
			.even-row {
				background-color: rgb(246, 246, 246);
			}
		}
	}
	
	/* Edit View Layout */
	
	.editview-layout {
		input.v-textfield, .v-filterselect, .v-textarea {
				border: 1px solid rgb(186, 186, 186);
				border-radius: 0px;
			}
			
			.v-filterselect-button {
				font-family: 'icomoon';
				speak: none;
				font-style: normal;
				font-weight: normal;
				font-variant: normal;
				text-transform: none;
				line-height: 1;
			}
			
			.v-filterselect-button:before {
				font-family: 'icomoon';
				content: "\e60c";
				color: rgb(133, 133, 133);
				padding-right: 5px;
			}
			
			input {
				border: none;
			}
	}
	
	/* Filterselect popup */
	.v-filterselect-suggestpopup {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		border: 1px solid #CFCFCF
	}
	
	/* Message Row */
	.message {
		border-bottom: 1px solid rgb(203, 203, 203);
		
		.message-header {
			.user-name {
				color: rgb(227, 146, 65);
			}
			.time-post {
				color: rgb(191, 191, 191);
			}
		}
		
		.message-body {
			color: rgb(149, 149, 149);
		}
	}
	
    .v-button {
        line-height: normal;
        box-shadow: none;
        padding: 0px;
        cursor: pointer;
    }

    .v-button.big-btn {
        font-size: 15px;

        .v-button-wrap {
            padding: 10px 0px;

            .v-button-caption {
                font-size: 15px;
            }
        }
    }

    .v-button.blue {
        background-color: #49a3e1;
        border: 1px solid #226899;

        .v-button-caption {
            color: white;
        }
    }

    .v-button.gray {
        background-color: #9b9b9b;
        border: 1px solid #616161;

        .v-button-caption {
            color: white;
        }
    }

    .v-touchkit-navbutton {
        line-height: normal;
    }

    .v-touchkit-navbutton:after {
        content: "";
    }

    .v-textfield {
        border-radius: 4px;
        border: 1px solid #c7c7c7;
        outline: none;
    }

    .v-textfield.v-textfield-focus {
        box-shadow: 0px 0px 3px 1px #49a3e1;
    }
    
    .v-button:active {
    	.v-button-wrap:after {
    		background-color: transparent;
    	}
    }
}