<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mycollab.module.project.dao.ProjectGenericItemMapper">
    <resultMap id="BaseResultMap"
               type="com.mycollab.module.project.domain.ProjectGenericItem">
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="typeId" jdbcType="VARCHAR" property="typeId"/>
        <result column="createdUser" jdbcType="VARCHAR" property="createdUser"/>
        <result column="createdUserAvatarId" jdbcType="VARCHAR" property="createdUserAvatarId"/>
        <result column="createdUserDisplayName" jdbcType="VARCHAR" property="createdUserDisplayName"/>
        <result column="createdTime" jdbcType="TIMESTAMP" property="createdTime"/>
        <result column="lastUpdatedTime" jdbcType="TIMESTAMP" property="lastUpdatedTime"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="projectName" jdbcType="VARCHAR" property="projectName"/>
        <result column="projectShortName" jdbcType="VARCHAR" property="projectShortName"/>
        <result column="projectId" jdbcType="INTEGER" property="projectId"/>
        <result column="extraTypeId" jdbcType="INTEGER" property="extraTypeId"/>
    </resultMap>

    <sql id="queryTaskSearchCriteria">
        <![CDATA[
        #set($searchCriteria = $_parameter.searchCriteria)

        #ifnotnull($searchCriteria.prjKeys)
            m_prj_task.projectId IN
            #repeat(${searchCriteria.prjKeys.values} $projectId "," "(" ")")
                @{projectId}
            #end
        #end
        #ifnotnull($searchCriteria.txtValue)
            ${searchCriteria.txtValue.operation} (m_prj_task.name LIKE '%${searchCriteria.txtValue.value}%' OR m_prj_task.description LIKE '%${searchCriteria.txtValue.value}%')
        #end
        #ifnotnull($searchCriteria.monitorProjectIds)
            ${searchCriteria.monitorProjectIds.operation}
            EXISTS(
                SELECT 1 FROM s_favorite
                WHERE m_prj_task.projectId IN
                    #repeat(${searchCriteria.monitorProjectIds.values} $extraId "," "(" ")")
                        @{extraId}
                    #end
                    AND s_favorite.extraTypeId = m_prj_task.projectId AND s_favorite.type='Project-Task' AND s_favorite.typeid=m_prj_task.id
                    LIMIT 1)
        #end
        #ifnotnull($searchCriteria.tagNames)
            ${searchCriteria.tagNames.operation}
            EXISTS(
                SELECT 1 FROM s_tag
                WHERE s_tag.extraTypeId=m_prj_task.projectId AND s_tag.type='Project-Task' AND s_tag.typeid=m_prj_task.id AND
                    s_tag.name IN
                #repeat(${searchCriteria.tagNames.values} $tagName "," "(" ")")
                    @{tagName}
                #end
                LIMIT 1)
        #end
        #ifnotnull($searchCriteria.types)
            ${searchCriteria.types.operation} 'Project-Task' IN
            #repeat(${searchCriteria.types.values} $type "," "(" ")")
                @{type}
            #end
        #end
        ]]>
    </sql>

    <sql id="queryMessageSearchCriteria">
        <![CDATA[
        #set($searchCriteria = $_parameter.searchCriteria)

        #ifnotnull($searchCriteria.prjKeys)
            m_prj_message.projectId IN
            #repeat(${searchCriteria.prjKeys.values} $projectId "," "(" ")")
                @{projectId}
            #end
        #end
        #ifnotnull($searchCriteria.txtValue)
            ${searchCriteria.txtValue.operation} (m_prj_message.title LIKE '%${searchCriteria.txtValue.value}%' OR m_prj_message.message LIKE '%${searchCriteria.txtValue.value}%')
        #end
        #ifnotnull($searchCriteria.monitorProjectIds)
            ${searchCriteria.monitorProjectIds.operation}
            EXISTS(
                SELECT 1 FROM s_favorite
                WHERE m_prj_message.projectId IN
                    #repeat(${searchCriteria.monitorProjectIds.values} $extraId "," "(" ")")
                        @{extraId}
                    #end
                    AND s_favorite.extraTypeId = m_prj_message.projectId AND s_favorite.type='Project-Message' AND s_favorite.typeid=m_prj_message.id
                    LIMIT 1)
        #end
        #ifnotnull($searchCriteria.tagNames)
            ${searchCriteria.tagNames.operation}
            EXISTS(
                SELECT 1 FROM s_tag
                WHERE s_tag.extraTypeId=m_prj_message.projectId AND s_tag.type='Project-Message' AND s_tag.typeid=m_prj_message.id AND
                    s_tag.name IN
                #repeat(${searchCriteria.tagNames.values} $tagName "," "(" ")")
                    @{tagName}
                #end
                LIMIT 1)
        #end
        #ifnotnull($searchCriteria.types)
            ${searchCriteria.types.operation} 'Project-Message' IN
            #repeat(${searchCriteria.types.values} $type "," "(" ")")
                @{type}
            #end
        #end
        ]]>
    </sql>
    <sql id="queryMilestoneSearchCriteria">
        <![CDATA[
        #set($searchCriteria = $_parameter.searchCriteria)

        #ifnotnull($searchCriteria.prjKeys)
            m_prj_milestone.projectId IN
            #repeat(${searchCriteria.prjKeys.values} $projectId "," "(" ")")
                @{projectId}
            #end
        #end
        #ifnotnull($searchCriteria.txtValue)
            ${searchCriteria.txtValue.operation} (m_prj_milestone.name LIKE '%${searchCriteria.txtValue.value}%' OR m_prj_milestone.description LIKE '%${searchCriteria.txtValue.value}%')
        #end
        #ifnotnull($searchCriteria.monitorProjectIds)
            ${searchCriteria.monitorProjectIds.operation}
            EXISTS(
                SELECT 1 FROM s_favorite
                WHERE m_prj_milestone.projectId IN
                    #repeat(${searchCriteria.monitorProjectIds.values} $extraId "," "(" ")")
                        @{extraId}
                    #end
                    AND s_favorite.extraTypeId = m_prj_milestone.projectId AND s_favorite.type='Project-Milestone' AND s_favorite.typeid=m_prj_milestone.id
                    LIMIT 1)
        #end
        #ifnotnull($searchCriteria.tagNames)
            ${searchCriteria.tagNames.operation}
            EXISTS(
                SELECT 1 FROM s_tag
                WHERE s_tag.extraTypeId=m_prj_milestone.projectId AND s_tag.type='Project-Milestone' AND s_tag.typeid=m_prj_milestone.id AND
                    s_tag.name IN
                #repeat(${searchCriteria.tagNames.values} $tagName "," "(" ")")
                    @{tagName}
                #end
                LIMIT 1)
        #end
        #ifnotnull($searchCriteria.types)
            ${searchCriteria.types.operation} 'Project-Milestone' IN
            #repeat(${searchCriteria.types.values} $type "," "(" ")")
                @{type}
            #end
        #end
        ]]>
    </sql>

    <sql id="queryBugSearchCriteria">
        <![CDATA[
        #set($searchCriteria = $_parameter.searchCriteria)

        #ifnotnull($searchCriteria.prjKeys)
            m_prj_bug.projectId IN
            #repeat(${searchCriteria.prjKeys.values} $projectId "," "(" ")")
                @{projectId}
            #end
        #end
        #ifnotnull($searchCriteria.txtValue)
            ${searchCriteria.txtValue.operation} (m_prj_bug.name LIKE '%${searchCriteria.txtValue.value}%'
                OR m_prj_bug.environment LIKE '%${searchCriteria.txtValue.value}%'
                OR m_prj_bug.description LIKE '%${searchCriteria.txtValue.value}%')
        #end
        #ifnotnull($searchCriteria.monitorProjectIds)
            ${searchCriteria.monitorProjectIds.operation}
            EXISTS(
                SELECT 1 FROM s_favorite
                WHERE m_prj_bug.projectId IN
                    #repeat(${searchCriteria.monitorProjectIds.values} $extraId "," "(" ")")
                        @{extraId}
                    #end
                    AND s_favorite.extraTypeId = m_prj_bug.projectId AND s_favorite.type='Project-Bug' AND s_favorite.typeid=m_prj_bug.id
                    LIMIT 1)
        #end
        #ifnotnull($searchCriteria.tagNames)
            ${searchCriteria.tagNames.operation}
            EXISTS(
                SELECT 1 FROM s_tag
                WHERE s_tag.extraTypeId=m_prj_bug.projectId AND s_tag.type='Project-Bug' AND s_tag.typeid=m_prj_bug.id AND
                    s_tag.name IN
                #repeat(${searchCriteria.tagNames.values} $tagName "," "(" ")")
                    @{tagName}
                #end
                LIMIT 1)
        #end
        #ifnotnull($searchCriteria.types)
            ${searchCriteria.types.operation} 'Project-Bug' IN
            #repeat(${searchCriteria.types.values} $type "," "(" ")")
                @{type}
            #end
        #end
        ]]>
    </sql>

    <sql id="queryComponentSearchCriteria">
        <![CDATA[
        #set($searchCriteria = $_parameter.searchCriteria)

        #ifnotnull($searchCriteria.prjKeys)
            m_prj_component.projectId IN
            #repeat(${searchCriteria.prjKeys.values} $projectId "," "(" ")")
                @{projectId}
            #end
        #end
        #ifnotnull($searchCriteria.txtValue)
            ${searchCriteria.txtValue.operation} (m_prj_component.name LIKE '%${searchCriteria.txtValue.value}%'
                OR m_prj_component.description LIKE '%${searchCriteria.txtValue.value}%')
        #end
        #ifnotnull($searchCriteria.monitorProjectIds)
            ${searchCriteria.monitorProjectIds.operation}
            EXISTS(
                SELECT 1 FROM s_favorite
                WHERE m_prj_component.projectId IN
                    #repeat(${searchCriteria.monitorProjectIds.values} $extraId "," "(" ")")
                        @{extraId}
                    #end
                    AND s_favorite.extraTypeId = m_prj_component.projectId AND s_favorite.type='Project-Component' AND s_favorite.typeid=m_prj_component.id
                    LIMIT 1)
        #end
        #ifnotnull($searchCriteria.tagNames)
            ${searchCriteria.tagNames.operation}
            EXISTS(
                SELECT 1 FROM s_tag
                WHERE s_tag.extraTypeId=m_prj_component.projectId AND s_tag.type='Project-Component' AND s_tag.typeid=m_prj_component.id AND
                    s_tag.name IN
                #repeat(${searchCriteria.tagNames.values} $tagName "," "(" ")")
                    @{tagName}
                #end
                LIMIT 1)
        #end
        #ifnotnull($searchCriteria.types)
            ${searchCriteria.types.operation} 'Project-Component' IN
            #repeat(${searchCriteria.types.values} $type "," "(" ")")
                @{type}
            #end
        #end
        ]]>
    </sql>

    <sql id="queryVersionSearchCriteria">
        <![CDATA[
        #set($searchCriteria = $_parameter.searchCriteria)

        #ifnotnull($searchCriteria.prjKeys)
            m_prj_version.projectId IN
            #repeat(${searchCriteria.prjKeys.values} $projectId "," "(" ")")
                @{projectId}
            #end
        #end
        #ifnotnull($searchCriteria.txtValue)
            ${searchCriteria.txtValue.operation} (m_prj_version.name LIKE '%${searchCriteria.txtValue.value}%'
                OR m_prj_version.description LIKE '%${searchCriteria.txtValue.value}%')
        #end
        #ifnotnull($searchCriteria.monitorProjectIds)
            ${searchCriteria.monitorProjectIds.operation}
            EXISTS(
                SELECT 1 FROM s_favorite
                WHERE m_prj_version.projectId IN
                    #repeat(${searchCriteria.monitorProjectIds.values} $extraId "," "(" ")")
                        @{extraId}
                    #end
                    AND s_favorite.extraTypeId = m_prj_version.projectId AND s_favorite.type='Project-Version' AND s_favorite.typeid=m_prj_version.id
                    LIMIT 1)
        #end
        #ifnotnull($searchCriteria.tagNames)
            ${searchCriteria.tagNames.operation}
            EXISTS(
                SELECT 1 FROM s_tag
                WHERE s_tag.extraTypeId=m_prj_version.projectId AND s_tag.type='Project-Version' AND s_tag.typeid=m_prj_version.id AND
                    s_tag.name IN
                #repeat(${searchCriteria.tagNames.values} $tagName "," "(" ")")
                    @{tagName}
                #end
                LIMIT 1)
        #end
        #ifnotnull($searchCriteria.types)
            ${searchCriteria.types.operation} 'Project-Version' IN
            #repeat(${searchCriteria.types.values} $type "," "(" ")")
                @{type}
            #end
        #end
        ]]>
    </sql>

    <sql id="queryRiskSearchCriteria">
        <![CDATA[
        #set($searchCriteria = $_parameter.searchCriteria)

        #ifnotnull($searchCriteria.prjKeys)
            m_prj_risk.projectId IN
            #repeat(${searchCriteria.prjKeys.values} $projectId "," "(" ")")
                @{projectId}
            #end
        #end
        #ifnotnull($searchCriteria.txtValue)
            ${searchCriteria.txtValue.operation} (m_prj_risk.name LIKE '%${searchCriteria.txtValue.value}%'
                OR m_prj_risk.description LIKE '%${searchCriteria.txtValue.value}%')
        #end

        #ifnotnull($searchCriteria.monitorProjectIds)
            ${searchCriteria.monitorProjectIds.operation}
            EXISTS(
                SELECT 1 FROM s_favorite
                WHERE m_prj_risk.projectId IN
                    #repeat(${searchCriteria.monitorProjectIds.values} $extraId "," "(" ")")
                        @{extraId}
                    #end
                    AND s_favorite.extraTypeId = m_prj_risk.projectId AND s_favorite.type='Project-Risk' AND s_favorite.typeid=m_prj_risk.id
                    LIMIT 1)
        #end
        #ifnotnull($searchCriteria.tagNames)
            ${searchCriteria.tagNames.operation}
            EXISTS(
                SELECT 1 FROM s_tag
                WHERE s_tag.extraTypeId=m_prj_risk.projectId AND s_tag.type='Project-Risk' AND s_tag.typeid=m_prj_risk.id AND
                    s_tag.name IN
                #repeat(${searchCriteria.tagNames.values} $tagName "," "(" ")")
                    @{tagName}
                #end
                LIMIT 1)
        #end
        #ifnotnull($searchCriteria.types)
            ${searchCriteria.types.operation} 'Project-Risk' IN
            #repeat(${searchCriteria.types.values} $type "," "(" ")")
                @{type}
            #end
        #end
        ]]>
    </sql>

    <sql id="orderStatement">
        ORDER BY
        #ifnotnull($_parameter.searchCriteria.orderFields)
            #repeat(${_parameter.searchCriteria.orderFields} $orderField "" "" "")
                ${orderField.field} ${orderField.direction},
            #end
        #end
        lastUpdatedTime DESC
    </sql>

    <sql id="selectTaskItem">
        SELECT 'Project-Task' AS type, m_prj_task.id AS typeId, s_user.username AS createdUser,
        s_user.avatarId AS createdUserAvatarId,
        concat(s_user.firstname, ' ', s_user.lastname) AS createdUserDisplayName,
        m_prj_task.createdTime, m_prj_task.lastUpdatedTime, m_prj_task.name, m_prj_task.description
        AS description, m_prj_project.id AS projectId, m_prj_project.name AS projectName,
        m_prj_project.shortname AS projectShortName, m_prj_ticket_key.ticketKey AS extraTypeId
        FROM m_prj_task
            LEFT OUTER JOIN s_user ON (m_prj_task.createdUser = s_user.username)
            INNER JOIN m_prj_project ON (m_prj_task.projectId = m_prj_project.id)
            LEFT OUTER JOIN m_prj_ticket_key ON (m_prj_ticket_key.ticketId = m_prj_task.id AND m_prj_ticket_key.ticketType = 'Project-Task')
    </sql>

    <sql id="selectMessageItem">
        SELECT 'Project-Message' AS type, m_prj_message.id AS typeId, s_user.username AS createdUser,
        s_user.avatarId AS createdUserAvatarId,
        concat(s_user.firstname, ' ', s_user.lastname) AS createdUserDisplayName,
        m_prj_message.createdTime, m_prj_message.lastUpdatedTime, m_prj_message.title AS name,
        m_prj_message.message AS description, m_prj_project.id AS projectId, m_prj_project.name AS projectName,
        m_prj_project.shortname AS projectShortName, NULL AS extraTypeId
        FROM m_prj_message
            LEFT OUTER JOIN s_user ON (m_prj_message.createdUser = s_user.username)
            INNER JOIN m_prj_project ON (m_prj_message.projectId = m_prj_project.id)
    </sql>

    <sql id="selectMilestoneItem">
        SELECT 'Project-Milestone' AS type, m_prj_milestone.id AS typeId, s_user.username AS createdUser,
        s_user.avatarId AS createdUserAvatarId,
        concat(s_user.firstname, ' ', s_user.lastname) AS createdUserDisplayName,
        m_prj_milestone.createdTime, m_prj_milestone.lastUpdatedTime, m_prj_milestone.name,
        m_prj_milestone.description, m_prj_project.id AS projectId, m_prj_project.name AS projectName,
        m_prj_project.shortname AS projectShortName, NULL AS extraTypeId
        FROM m_prj_milestone
            LEFT OUTER JOIN s_user ON (m_prj_milestone.createduser = s_user.username)
            INNER JOIN m_prj_project ON (m_prj_milestone.projectId = m_prj_project.id)
    </sql>

    <sql id="selectBugItem">
        SELECT 'Project-Bug' AS type, m_prj_bug.id AS typeId, s_user.username AS createdUser,
          s_user.avatarId AS createdUserAvatarId,
          concat(s_user.firstname, ' ', s_user.lastname) AS
        createdUserDisplayName,
          m_prj_bug.createdTime, m_prj_bug.lastUpdatedTime, m_prj_bug.name,
          m_prj_bug.description, m_prj_project.id AS projectId, m_prj_project.name AS projectName,
          m_prj_project.shortname AS projectShortName, m_prj_ticket_key.ticketKey AS extraTypeId
        FROM m_prj_bug
            LEFT OUTER JOIN s_user ON (m_prj_bug.createdUser = s_user.username)
            INNER JOIN m_prj_project ON (m_prj_bug.projectId = m_prj_project.id)
            LEFT OUTER JOIN m_prj_ticket_key ON (m_prj_ticket_key.ticketId = m_prj_bug.id AND m_prj_ticket_key.ticketType = 'Project-Bug')
    </sql>

    <sql id="selectComponentItem">
        SELECT 'Project-Component' AS type, m_prj_component.id AS typeId, s_user.username AS createdUser,
          s_user.avatarId AS createdUserAvatarId,
          concat(s_user.firstname, ' ', s_user.lastname) AS
        createdUserDisplayName,
          m_prj_component.createdTime, m_prj_component.lastUpdatedTime, m_prj_component.name,
        m_prj_component.description, m_prj_project.id AS projectId, m_prj_project.name AS projectName,
        m_prj_project.shortname AS projectShortName, NULL AS extraTypeId
        FROM m_prj_component
            LEFT OUTER JOIN s_user ON (m_prj_component.createdUser = s_user.username)
            INNER JOIN m_prj_project ON (m_prj_component.projectId = m_prj_project.id)
    </sql>

    <sql id="selectVersionItem">
        SELECT 'Project-Version' AS type, m_prj_version.id AS typeId, s_user.username AS createdUser,
        s_user.avatarId AS createdUserAvatarId,
        concat(s_user.firstname, ' ', s_user.lastname) AS createdUserDisplayName,
        m_prj_version.createdTime, m_prj_version.lastUpdatedTime, m_prj_version.name,
        m_prj_version.description, m_prj_project.id AS projectId, m_prj_project.name AS projectName,
        m_prj_project.shortname AS projectShortName, NULL AS extraTypeId
        FROM m_prj_version
            LEFT OUTER JOIN s_user ON (m_prj_version.createdUser = s_user.username)
            INNER JOIN m_prj_project ON (m_prj_version.projectId = m_prj_project.id)
    </sql>

    <sql id="selectRiskItem">
        SELECT 'Project-Risk' AS type, m_prj_risk.id AS typeId, s_user.username AS createdUser, s_user.avatarId AS
        createdUserAvatarId,
        concat(s_user.firstname, ' ', s_user.lastname) AS createdUserDisplayName,
        m_prj_risk.createdTime, m_prj_risk.lastUpdatedTime, m_prj_risk.name,
        m_prj_risk.description, m_prj_project.id AS projectId, m_prj_project.name AS projectName,
        m_prj_project.shortname AS projectShortName, m_prj_ticket_key.ticketKey AS extraTypeId
        FROM m_prj_risk
            LEFT OUTER JOIN s_user ON (m_prj_risk.createdUser = s_user.username)
            INNER JOIN m_prj_project ON (m_prj_risk.projectId = m_prj_project.id)
            LEFT OUTER JOIN m_prj_ticket_key ON (m_prj_ticket_key.ticketId = m_prj_risk.id AND m_prj_ticket_key.ticketType = 'Project-Risk')
    </sql>

    <select id="findPageableListByCriteria" parameterType="com.mycollab.module.project.domain.criteria.ProjectGenericItemSearchCriteria"
            resultMap="BaseResultMap" lang="velocity">
        (
        <include refid="selectTaskItem"/>
        #ifnotnull($_parameter.searchCriteria)
            #trimext("WHERE" "AND|OR")
                <include refid="queryTaskSearchCriteria"/>
            #end
        #end
        )
        UNION
        (
        <include refid="selectMessageItem"/>
        #ifnotnull($_parameter.searchCriteria)
            #trimext("WHERE" "AND|OR")
                <include refid="queryMessageSearchCriteria"/>
            #end
        #end
        )
        UNION
        (
        <include refid="selectMilestoneItem"/>
        #ifnotnull($_parameter.searchCriteria)
            #trimext("WHERE" "AND|OR")
                <include refid="queryMilestoneSearchCriteria"/>
            #end
        #end
        )
        UNION
        (
        <include refid="selectBugItem"/>
        #ifnotnull($_parameter.searchCriteria)
            #trimext("WHERE" "AND|OR")
                <include refid="queryBugSearchCriteria"/>
            #end
        #end
        )
        UNION
        (
        <include refid="selectVersionItem"/>
        #ifnotnull($_parameter.searchCriteria)
            #trimext("WHERE" "AND|OR")
                <include refid="queryVersionSearchCriteria"/>
            #end
        #end
        )
        UNION
        (
        <include refid="selectComponentItem"/>
        #ifnotnull($_parameter.searchCriteria)
            #trimext("WHERE" "AND|OR")
                <include refid="queryComponentSearchCriteria"/>
            #end
        #end
        )
        UNION
        (
        <include refid="selectRiskItem"/>
        #ifnotnull($_parameter.searchCriteria)
            #trimext("WHERE" "AND|OR")
                <include refid="queryRiskSearchCriteria"/>
            #end
        #end
        )
        <include refid="orderStatement"/>
    </select>

    <select id="getTotalCountFromTask" parameterType="com.mycollab.module.project.domain.criteria.ProjectGenericItemSearchCriteria"
            resultType="int" lang="velocity">
        SELECT count(*) as totalCount
        FROM m_prj_task
        #ifnotnull($_parameter.searchCriteria)
            #trimext("WHERE" "AND|OR")
                <include refid="queryTaskSearchCriteria" />
            #end
        #end
    </select>
    <select id="getTotalCountFromMessage" parameterType="com.mycollab.module.project.domain.criteria.ProjectGenericItemSearchCriteria" resultType="int" lang="velocity">
        SELECT count(*) as totalCount
        FROM m_prj_message
        #ifnotnull($_parameter.searchCriteria)
            #trimext("WHERE" "AND|OR")
                <include refid="queryMessageSearchCriteria" />
            #end
        #end
    </select>
    <select id="getTotalCountFromMilestone" parameterType="com.mycollab.module.project.domain.criteria.ProjectGenericItemSearchCriteria" resultType="int" lang="velocity">
        SELECT count(*) as totalCount
        FROM m_prj_milestone
        #ifnotnull($_parameter.searchCriteria)
            #trimext("WHERE" "AND|OR")
                <include refid="queryMilestoneSearchCriteria" />
            #end
        #end
    </select>
    <select id="getTotalCountFromBug" parameterType="com.mycollab.module.project.domain.criteria.ProjectGenericItemSearchCriteria" resultType="int" lang="velocity">
        SELECT count(*) as totalCount
        FROM m_prj_bug
        #ifnotnull($_parameter.searchCriteria)
            #trimext("WHERE" "AND|OR")
                <include refid="queryBugSearchCriteria" />
            #end
        #end
    </select>
    <select id="getTotalCountFromComponent" parameterType="com.mycollab.module.project.domain.criteria.ProjectGenericItemSearchCriteria"
            resultType="int" lang="velocity">
        SELECT count(*) as totalCount
        FROM m_prj_component
        #ifnotnull($_parameter.searchCriteria)
            #trimext("WHERE" "AND|OR")
                <include refid="queryComponentSearchCriteria" />
            #end
        #end
    </select>
    <select id="getTotalCountFromVersion" parameterType="com.mycollab.module.project.domain.criteria.ProjectGenericItemSearchCriteria"
            resultType="int" lang="velocity">
        SELECT count(*) as totalCount
        FROM m_prj_version
        #ifnotnull($_parameter.searchCriteria)
            #trimext("WHERE" "AND|OR")
                <include refid="queryVersionSearchCriteria" />
            #end
        #end
    </select>
    <select id="getTotalCountFromRisk" parameterType="com.mycollab.module.project.domain.criteria.ProjectGenericItemSearchCriteria"
            resultType="int" lang="velocity">
        SELECT count(*) as totalCount
        FROM m_prj_risk
        #ifnotnull($_parameter.searchCriteria)
            #trimext("WHERE" "AND|OR")
                <include refid="queryRiskSearchCriteria" />
            #end
        #end
    </select>
</mapper>