<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Errors were reported during translation. -->
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <Target>System.out</Target>
        <encoder>
            <pattern>%d{"HH:mm:ss,SSS"} %5p %c{1}:%L - %m%n</pattern>
        </encoder>
    </appender>
    <appender name="email" class="com.mycollab.configuration.logging.MailAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%5p %c{1}:%L - %m%n</pattern>
        </layout>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>
    <appender name="R" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/mycollab.out</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>logs/mycollab_%d{yyyy-MM-dd}.log</fileNamePattern>

            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{"HH:mm:ss,SSS"} %5p %c{1}:%L - %m%n</pattern>
        </encoder>
    </appender>
    <logger name="org.springframework" level="INFO"/>
    <logger name="com.mycollab" level="INFO"/>
    <logger name="java.sql" level="INFO"/>
    <logger name="org.apache.ibatis" level="INFO"/>
    <logger name="org.mybatis.spring" level="INFO"/>
    <logger name="org.eclipse.jetty" level="INFO"/>
    <root level="INFO">
        <appender-ref ref="stdout"/>
        <appender-ref ref="email"/>
        <appender-ref ref="R"/>
    </root>
</configuration>