<div id="login-header">
	<div id="logo-here"></div>
</div>
<div class="clear"></div>
<div id="loginFormContainer">
	<div id="form-header">Forgot Your Password?</div>
	<div id="form-intro-text">
		<div id="intro-image"></div>
		<div id="intro-text">Please provide the username or email address that you used when you signed up for MyCollab account.<br><br>We will send you an email that will allow you to reset your password</div>
	</div>
	<div id="loginForm">
		<div location="nameoremail"></div>
		<div class="formFooter">
			<div location="rememberMe"></div>
			<div location="loginButton" id="submitLogin"></div>
			<div location="forgotLink" id="forgotLink"></div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="clear"></div>
</div>
<div class="clear"></div>