<div id="login-header">
	<div id="logo-here"></div>
	<div id="social-links">
		<a href="https://www.facebook.com/mycollab2" target="_blank"><img src="/assets/images/email/footer-facebook.png" height="20" width="20"></a>
        <a href="https://www.google.com/+mycollab" target="_blank"><img src="/assets/images/email/footer-google.png" height="20" width="20"></a>
        <a href="https://www.twitter.com/mycollabdotcom" target="_blank"><img src="/assets/images/email/footer-twitter.png" height="20" width="20"></a>
	</div>
	<div class="clear"></div>
</div>
<div class="clear"></div>
<div id="loginFormContainer">
	<div id="form-header">Forgot Your Password?</div>
	<div id="form-intro-text">
		<div id="intro-text">Please provide the username or email address that you used when you signed up for MyCollab account.<br><br>We will send you an email that will allow you to reset your password</div>
	</div>
	<div id="intro-image"></div>
	<div id="loginForm">
		
		<div location="nameoremail"></div>
		<div class="formFooter">
			<div location="rememberMe"></div>
			<div location="loginButton" id="submitLogin"></div>
			<div location="forgotLink" id="forgotLink"></div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="clear"></div>
</div>
<div class="clear"></div>
<div id="login-footer">
	<div id="support-links">
		<div class="external-link">
			<a href="https://www.mycollab.com/blog" target="_blank">Blog</a>
		</div>
		<div class="external-link">
			<a href="https://www.mycollab.com/help/" target="_blank">Help</a>
		</div>
		<div class="external-link">
			<a href="https://www.mycollab.com/qa/" target="_blank">Q&A</a>
		</div>
		<div class="external-link">
			<a href="https://www.mycollab.com/contact/" target="_blank">Contact Us</a>
		</div>
		<div class="external-link">
			<a href="https://www.mycollab.com/privacy" target="_blank">Privacy Policy</a>
		</div>
		<div class="external-link">
			<a href="https://www.mycollab.com/term-of-service/" target="_blank">Terms Of Service</a>
		</div>
		<div class="clear"></div>
	</div>
</div>