<div id="login-header">
	<div id="logo-here"></div>
</div>
<div class="clear"></div>
<div id="loginFormContainer">
	<div id="form-header">Welcome Back</div>
	<div id="form-intro-text">
		<div id="intro-image"></div>
		<div id="intro-text">MyCollab helps you do all your office jobs
			on the computers, phones and tablets you use.</div>
	</div>
	<div id="loginForm">
		<div id="newToUs">
			<span style="float: left; margin-left: 20px; font-size: 20px;">Sign
				In</span>
			<div location="signupLink" id="signupLink"></div>
			<div class="clear"></div>
		</div>
		<div location="customErrorMsg" class="customErrorMsg"></div>
		<div location="usernameField" class="usernameField"></div>
		<div location="passwordField" class="passwordField"></div>
		<div class="formFooter">
			<div location="rememberMe" class="rememberMe"></div>
			<div location="loginButton" id="submitLogin"></div>
			<div location="forgotLink" id="forgotLink"></div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="clear"></div>
</div>
<div class="clear"></div>