<div id="login-header">
	<div id="logo-here"></div>
	<div id="social-links">
		<a href="https://www.facebook.com/mycollab2" target="_blank">
            <img src="/assets/icons/email/footer-facebook.png" height="20" width="20">
        </a>
        <a href="https://www.google.com/+mycollab" target="_blank">
            <img src="/assets/icons/email/footer-google.png" height="20" width="20">
        </a>
        <a href="https://www.twitter.com/mycollabdotcom" target="_blank">
            <img src="/assets/icons/email/footer-twitter.png" height="20" width="20">
        </a>
	</div>
	<div class="clear"></div>
</div>
<div class="clear"></div>
<div id="loginFormContainer">
	<div id="form-header" location="form-header"></div>
	<div id="loginForm">
		<div id="newToUs"></div>
		<div location="usernameField" class="usernameField"></div>
		<div location="passwordField" class="passwordField"></div>
		<div class="formFooter">
			<div location="rememberMe" class="rememberMe"></div>
            <div location="customErrorMsg" class="customErrorMsg"></div>
			<div location="loginButton" id="submitLogin"></div>
			<div class="formFooterLinks">
				<div id="createAccountLink" location="createAccountLink"></div>
				<div location="forgotLink" id="forgotLink"></div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="clear"></div>
</div>
<div class="clear"></div>
<div id="login-footer">
	<div id="support-links">
		<div class="external-link">
			<a href="https://www.mycollab.com/blog" target="_blank">Blog</a>
		</div>
		<div class="external-link">
			<a href="https://www.mycollab.com/help/" target="_blank">Help</a>
		</div>
		<div class="external-link">
			<a href="https://www.mycollab.com/qa/" target="_blank">Q&A</a>
		</div>
		<div class="external-link">
			<a href="https://www.mycollab.com/contact/" target="_blank">Contact Us</a>
		</div>
		<div class="external-link">
			<a href="https://www.mycollab.com/privacy" target="_blank">Privacy Policy</a>
		</div>
		<div class="external-link">
			<a href="https://www.mycollab.com/term-of-service/" target="_blank">Terms Of Service</a>
		</div>
		<div class="clear"></div>
	</div>
</div>