<div id="login-header">
	<div id="logo-here"></div>
	<div id="social-links">
		<a href="https://www.facebook.com/mycollab2" target="_blank"><img src="/assets/images/email/footer-facebook.png" height="20" width="20"></a>
        <a href="https://www.google.com/+mycollab" target="_blank"><img src="/assets/images/email/footer-google.png" height="20" width="20"></a>
        <a href="https://www.twitter.com/mycollabdotcom" target="_blank"><img src="/assets/images/email/footer-twitter.png" height="20" width="20"></a>
	</div>
	<div class="clear"></div>
</div>
<div class="clear"></div>
<div id="loginFormContainer">
	<div id="form-header">Welcome Back</div>
	<div id="loginForm">
		<div id="newToUs">
			<span style="font-size: 20px;">Sign
				in to MyCollab</span>
			<div class="clear"></div>
		</div>
		<div location="customErrorMsg" class="customErrorMsg"></div>
		<div location="usernameField" class="usernameField"></div>
		<div location="passwordField" class="passwordField"></div>
		<div class="formFooter">
			<div location="rememberMe" class="rememberMe"></div>
			<div location="loginButton" id="submitLogin"></div>
			<div class="formFooterLinks">
				<div id="createAccountLink">
					<a href="http://www.mycollab.com/pricing/" target="_blank">Create an account</a>
				</div>
				<div location="forgotLink" id="forgotLink"></div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="clear"></div>
</div>
<div class="clear"></div>
<div id="login-footer">
	<div id="support-links">
		<div class="external-link">
			<a href="http://blog.mycollab.com" target="_blank">Blog</a>
		</div>
		<div class="external-link">
			<a href="http://wiki.mycollab.com" target="_blank">Wiki</a>
		</div>
		<div class="external-link">
			<a href="http://forum.mycollab.com" target="_blank">Forum</a>
		</div>
		<div class="external-link">
			<a href="http://www.mycollab.com/support" target="_blank">Contact Us</a>
		</div>
		<div class="external-link">
			<a href="http://www.mycollab.com/privacy" target="_blank">Privacy Policy</a>
		</div>
		<div class="external-link">
			<a href="http://www.mycollab.com/term-of-service/" target="_blank">Terms Of Service</a>
		</div>
		<div class="clear"></div>
	</div>
</div>