<div id="login-header">
	<div id="logo-here"></div>
</div>
<div class="clear"></div>
<div id="loginFormContainer">
	<div id="form-header">Create a MyCollab Account</div>
	<div id="form-intro-text">
		<div id="intro-image"></div>
		<div id="intro-text">MyCollab helps you do all your office jobs
			on the computers, phones and tablets you use.</div>
	</div>
	<div id="loginForm">
		<div id="newToUs">
			<span style="float: left; margin-left: 15px; font-size: 20px;">Create
				an Account</span>
			<div location="signupLink" id="signupLink"></div>
			<span>or&nbsp;&nbsp;</span>
			<div class="clear"></div>
		</div>
		<div location="firstNameField"></div>
		<div location="lastNameField"></div>
		<div location="passwordField"></div>
		<div location="emailField"></div>
		<div class="formFooter">
			<div id="policy">
				By clicking Register, I agree to the
				<div location="termsofservice" style="display: inline;">
					<a href="#">Terms of Service</a>
				</div>
				and
				<div location="privacypolicies" style="display: inline;">
					<a href="#">Privacy Policy</a>
				</div>
			</div>
			<div location="loginButton" id="submitLogin"></div>
			<div class="clear"></div>
		</div>
	</div>
	<div class="clear"></div>
</div>
<div class="clear"></div>