/* This contains all of your theme.*/
/* If somebody wants to extend the theme she will include this mixin. */
@font-face {
  font-family: 'Open Sans';
  src: url("fonts/OpenSans-Light-webfont.eot");
  src: url("fonts/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/OpenSans-Light-webfont.woff") format("woff"), url("fonts/OpenSans-Light-webfont.ttf") format("truetype"), url("fonts/OpenSans-Light-webfont.svg#OpenSansLight") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("fonts/OpenSans-Regular-webfont.eot");
  src: url("fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/OpenSans-Regular-webfont.woff") format("woff"), url("fonts/OpenSans-Regular-webfont.ttf") format("truetype"), url("fonts/OpenSans-Regular-webfont.svg#OpenSansRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url("fonts/OpenSans-Semibold-webfont.eot");
  src: url("fonts/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/OpenSans-Semibold-webfont.woff") format("woff"), url("fonts/OpenSans-Semibold-webfont.ttf") format("truetype"), url("fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?xt2ae9");
  src: url("fonts/icomoon.eot?#iefixxt2ae9") format("embedded-opentype"), url("fonts/icomoon.woff?xt2ae9") format("woff"), url("fonts/icomoon.ttf?xt2ae9") format("truetype"), url("fonts/icomoon.svg?xt2ae9#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  content: attr(data-icon);
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
  font-size: 10px;
}

.v-app,
.v-window,
.v-popupview-popup,
.v-app input,
.v-app button,
.v-app textarea,
.v-window input,
.v-window button,
.v-window textarea,
.v-popupview-popup input,
.v-popupview-popup button,
.v-popupview-popup textarea,
.v-filterselect-suggestpopup,
.v-datefield-popup,
.v-datefield-calendarpanel-header button,
.v-contextmenu,
.v-Notification,
.v-menubar-submenu,
.v-table-header-drag,
.v-filterselect-select-button .v-filterselect-input,
.v-drag-element,
.v-label,
div.v-widget {
  font: 1.3rem "Open Sans",Verdana,Helvetica,sans-serif;
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

input {
  box-shadow: none;
}

body.v-generated-body {
  background: none repeat scroll 0% 0% #F3F1F0;
}

div.v-vertical > .v-spacing, div.v-vertical > .v-expand > .v-spacing {
  display: inline-block;
}

.mycollab-mobile {
  /* Include all the styles from the reindeer theme */
  /* Navigation styles */
  /* Main Panel Styles */
  /* Controls QuickMenu */
  /* Data List View */
  /* Read View Layout */
  /* Edit View Layout */
  /* Filterselect */
  /* Message Row */
  /* Confirm Dialog */
  /* Project Dashboard */
  /* Project Messages */
}
.mycollab-mobile .v-table-body {
  border: none;
}
.mycollab-mobile .content-wrapper {
  margin: 0 auto;
  display: block;
}
.mycollab-mobile .content-wrapper .intro-text {
  text-align: center;
}
.mycollab-mobile .content-wrapper .welcometext-wrapper {
  background: url("icons/welcometext_bg.png") repeat-x left center whitesmoke;
}
.mycollab-mobile .content-wrapper .welcometext-wrapper .v-label {
  display: block;
  margin: 0 auto;
  text-align: center;
  background-color: whitesmoke;
  font-size: 1.6rem;
  color: #2692db;
  border: none;
}
.mycollab-mobile .login-view {
  overflow: auto;
}
.mycollab-mobile .login-view .v-textfield {
  padding: 10px 5px 10px 55px;
  font-size: 1.5rem;
  color: #222222;
}
.mycollab-mobile .login-view .v-textfield.v-textfield-prompt {
  color: #c7c7c7;
}
.mycollab-mobile .login-view .v-textfield.email-input {
  background: url("icons/email_input_bg.png") no-repeat left center white;
}
.mycollab-mobile .login-view .v-textfield.password-input {
  background: url("icons/password_input_bg.png") no-repeat left center white;
}
.mycollab-mobile .main-view {
  overflow: auto;
  background: none repeat scroll 0% 0% #f5f5f2;
}
.mycollab-mobile .main-view .module-button {
  border: 1px solid #bdbdbd;
  border-radius: 4px;
  cursor: pointer;
  padding: 25px 5px 25px 90px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: left center;
  color: #727272;
  font-size: 16px;
  font-weight: bold;
}
.mycollab-mobile .main-view .module-button:focus, .mycollab-mobile .main-view .module-button:active {
  box-shadow: 0px 0px 4px #49a3e1;
}
.mycollab-mobile .main-view .module-button.crm {
  background-image: url("icons/crm_icon.png");
}
.mycollab-mobile .main-view .module-button.project {
  background-image: url("icons/pm_icon.png");
}
.mycollab-mobile .main-view .module-button.document {
  background-image: url("icons/document_icon.png");
}
.mycollab-mobile .v-touchkit-navpanel-navigation {
  width: 100%;
}
.mycollab-mobile .v-touchkit-navpanel-navigation .navigation-menu {
  overflow-y: auto;
}
.mycollab-mobile .v-touchkit-navpanel-navigation .navigation-menu .v-button {
  margin: 0px;
  text-align: left;
  background: none no-repeat 0 0 transparent;
  font-size: 1.4rem;
}
.mycollab-mobile .v-touchkit-navpanel-navigation .navigation-menu .user-info-panel {
  background: none no-repeat 0 0 #efefef;
  border-bottom: 1px solid #e2e2e2;
}
.mycollab-mobile .v-touchkit-navpanel-navigation .navigation-menu .user-info-panel .v-button-wrap {
  padding: 0px 6px;
}
.mycollab-mobile .v-touchkit-navpanel-navigation .navigation-menu .user-info-panel.v-margin-top {
  padding-top: 6px;
}
.mycollab-mobile .v-touchkit-navpanel-navigation .navigation-menu .user-info-panel.v-margin-bottom {
  padding-bottom: 6px;
}
.mycollab-mobile .v-touchkit-navpanel-navigation .navigation-menu .v-button.nav-btn {
  background: none no-repeat 0 0 white;
  border-bottom: 1px solid #e2e2e2;
  border-radius: 0px;
  -webkit-tap-highlight-color: transparent;
}
.mycollab-mobile .v-touchkit-navpanel-navigation .navigation-menu .v-button.nav-btn .v-button-wrap {
  padding: 6px 12px;
}
.mycollab-mobile .v-touchkit-navpanel-navigation .navigation-menu .v-button.nav-btn .v-button-wrap .v-button-caption {
  vertical-align: middle;
  color: #525252;
  display: inline-block;
}
.mycollab-mobile .v-touchkit-navpanel-navigation .navigation-menu .v-button.nav-btn .nav-btn-icon {
  font-size: 20px;
  vertical-align: middle;
  color: #00a3e8;
  padding-right: 10px;
}
.mycollab-mobile .v-touchkit-navpanel-navigation .navigation-menu .v-button.nav-btn.isSelected {
  background-color: rgba(0, 0, 0, 0.3);
}
.mycollab-mobile .v-touchkit-navpanel-navigation .navigation-menu .v-button.nav-btn.isSelected .v-button-caption {
  color: white;
  position: relative;
  z-index: 1;
}
.mycollab-mobile .v-touchkit-navpanel-navigation .navigation-menu .v-button.nav-btn.isSelected .v-button-caption .nav-btn-icon {
  color: white;
}
.mycollab-mobile .v-touchkit-navpanel-wrapper {
  -webkit-tap-highlight-color: transparent;
}
.mycollab-mobile .v-touchkit-navpanel-wrapper .v-touchkit-tabbar-toolbar {
  overflow-x: auto;
  overflow-y: hidden;
  box-shadow: none;
  border-top: 1px solid #DDDDDD;
  background-color: #F7F7F7;
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
  height: 4.8rem;
  -webkit-overflow-scrolling: touch;
}
.mycollab-mobile .v-touchkit-navpanel-wrapper .v-touchkit-tabbar-toolbar .v-button {
  color: #6a6a6a;
  background-color: #F7F7F7;
}
.mycollab-mobile .v-touchkit-navpanel-wrapper .v-touchkit-tabbar-toolbar .v-button .v-button-wrap {
  font-size: 1.3rem;
  line-height: 1;
}
.mycollab-mobile .v-touchkit-navpanel-wrapper .v-touchkit-tabbar-toolbar .v-button .v-button-wrap span[data-icon]:before {
  font-size: 2.1rem;
}
.mycollab-mobile .v-touchkit-navpanel-wrapper .v-touchkit-tabbar-toolbar .v-button.v-button-selected {
  color: #00A3E8;
}
.mycollab-mobile .v-touchkit-navpanel-wrapper .v-touchkit-tabbar-toolbar .v-touchkit-toolbar {
  height: 100%;
  display: inline-block;
  position: relative;
  box-shadow: none;
  border-top: none;
  white-space: nowrap;
}
.mycollab-mobile .v-touchkit-navpanel-wrapper .v-touchkit-tabbar-toolbar .v-touchkit-toolbar .v-button {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  height: 100%;
  border-left: none;
}
.mycollab-mobile .v-touchkit-navpanel-wrapper .v-touchkit-tabbar-toolbar .v-touchkit-toolbar .v-button .v-button-wrap {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  height: auto;
  padding: 0px 10px;
}
.mycollab-mobile .v-touchkit-navpanel-wrapper .v-touchkit-tabbar-toolbar .v-touchkit-toolbar .v-button .v-button-wrap .v-button-caption {
  position: relative;
  bottom: 0px;
}
.mycollab-mobile .v-touchkit-navpanel-wrapper .v-touchkit-tabbar-toolbar .v-touchkit-toolbar .v-button:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 0px;
}
.mycollab-mobile .v-touchkit-navpanel-wrapper .mobilenavview .v-touchkit-navbar .v-touchkit-navbar-left .v-touchkit-navbutton-back {
  position: relative;
  background: #49a3e1;
  border: 1px solid #2482c2;
  color: white;
  overflow: visible;
  height: 2.8rem;
  margin-top: 0.6rem;
  padding: 0.4rem 0.8rem 0rem 0.5rem;
  font-size: 1.3rem;
  margin-left: 2rem;
}
.mycollab-mobile .v-touchkit-navpanel-wrapper .mobilenavview .v-touchkit-navbar .v-touchkit-navbar-left .v-touchkit-navbutton-back:after {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(73, 163, 225, 0);
  border-right-color: #49a3e1;
  border-width: 13px;
  margin-top: -13px;
  left: auto;
  margin-right: 0px;
}
.mycollab-mobile .v-touchkit-navpanel-wrapper .mobilenavview .v-touchkit-navbar .v-touchkit-navbar-left .v-touchkit-navbutton-back:before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(36, 130, 194, 0);
  border-right-color: #2482c2;
  border-width: 14px;
  margin-top: -14px;
}
.mycollab-mobile .v-touchkit-navpanel-wrapper .mobilenavview .v-touchkit-navbar .v-touchkit-navbar-caption {
  left: 7.5rem;
  line-height: 4rem;
  height: 4rem;
  position: absolute;
  text-align: center;
  font-size: 1.6rem;
  color: white;
}
.mycollab-mobile .v-touchkit-navpanel-wrapper .mobilenavview .v-touchkit-navbar .v-touchkit-navbar-right .edit-btn, .mycollab-mobile .v-touchkit-navpanel-wrapper .mobilenavview .v-touchkit-navbar .v-touchkit-navbar-right .save-btn {
  border: 1px solid #2482c2;
  color: white;
  padding: 0.4rem 1.2rem 0rem;
  border-radius: 0.3rem;
  font-size: 1.3rem;
  height: 2.8rem;
  line-height: normal;
}
.mycollab-mobile .v-touchkit-navpanel-wrapper .mobilenavview .v-touchkit-navbar .v-touchkit-navbar-right .edit-btn .v-button-wrap, .mycollab-mobile .v-touchkit-navpanel-wrapper .mobilenavview .v-touchkit-navbar .v-touchkit-navbar-right .save-btn .v-button-wrap {
  padding: 0 12px;
}
.mycollab-mobile .v-touchkit-navpanel-wrapper .mobilenavview .v-touchkit-navbar .v-touchkit-navbar-right .save-btn {
  padding: 0.5rem 0 0;
}
.mycollab-mobile .v-touchkit-navpanel-wrapper .mobilenavview .v-touchkit-navbar .v-touchkit-navbar-right .add-btn.v-touchkit-navbutton {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  padding: 5px 10px;
}
.mycollab-mobile .v-touchkit-navpanel-wrapper .mobilenavview .v-touchkit-navbar .v-touchkit-navbar-right .add-btn.v-touchkit-navbutton:before {
  content: "\e60e";
  font-size: 2rem;
}
.mycollab-mobile .v-touchkit-navpanel-wrapper .mobilenavview .v-touchkit-navbar .v-touchkit-navbar-right .add-btn.v-navbar-quickmenu-button {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  padding: 0px 1.2rem;
}
.mycollab-mobile .v-touchkit-navpanel-wrapper .mobilenavview .v-touchkit-navbar .v-touchkit-navbar-right .add-btn.v-navbar-quickmenu-button:before {
  content: "\e60e";
  font-size: 2rem;
}
.mycollab-mobile .v-touchkit-navpanel-wrapper .mobilenavview .v-touchkit-navview-wrapper {
  -webkit-tap-highlight-color: transparent;
}
.mycollab-mobile .v-touchkit-navpanel-wrapper .mobilenavview .v-touchkit-navview-toolbar {
  overflow-x: auto;
  overflow-y: hidden;
  box-shadow: none;
  border-top: 1px solid #DDDDDD;
  background-color: #F7F7F7;
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
  height: 4.8rem;
  -webkit-overflow-scrolling: touch;
}
.mycollab-mobile .v-touchkit-navpanel-wrapper .mobilenavview .v-touchkit-navview-toolbar .v-button {
  color: #6a6a6a;
  background-color: #F7F7F7;
}
.mycollab-mobile .v-touchkit-navpanel-wrapper .mobilenavview .v-touchkit-navview-toolbar .v-button .v-button-wrap {
  font-size: 1.3rem;
  line-height: 1;
}
.mycollab-mobile .v-touchkit-navpanel-wrapper .mobilenavview .v-touchkit-navview-toolbar .v-button .v-button-wrap span[data-icon]:before {
  font-size: 2.1rem;
}
.mycollab-mobile .v-touchkit-navpanel-wrapper .mobilenavview .v-touchkit-navview-toolbar .v-button.v-button-selected {
  color: #00A3E8;
}
.mycollab-mobile .v-touchkit-navpanel-wrapper .mobilenavview .v-touchkit-navview-toolbar .v-mobileview-toolbar .v-mobileview-toolbar-prevBtn, .mycollab-mobile .v-touchkit-navpanel-wrapper .mobilenavview .v-touchkit-navview-toolbar .v-mobileview-toolbar .v-mobileview-toolbar-nextBtn {
  color: #5e5055;
  background-color: rgba(187, 187, 187, 0.6);
}
.mycollab-mobile .v-touchkit-navpanel-wrapper .mobilenavview .v-touchkit-navview-toolbar .comment-box {
  padding: 6px;
}
.mycollab-mobile .v-touchkit-navpanel-wrapper .mobilenavview .v-touchkit-navview-toolbar .comment-box .v-textarea {
  padding: 6px;
  border: 1px solid #E6E6E6;
  font-size: 16px;
  line-height: 22px;
}
.mycollab-mobile .v-touchkit-navpanel-wrapper .mobilenavview .v-touchkit-navview-toolbar .comment-box .v-button {
  color: #636363;
  font-weight: bold;
}
.mycollab-mobile .v-touchkit-navpanel-wrapper .mobilenavview .v-touchkit-navview-toolbar .comment-box .v-button .v-button-wrap {
  font-size: 16px;
}
.mycollab-mobile .v-navbar-quickmenu-content {
  width: 100%;
  background-color: #252c34;
}
.mycollab-mobile .v-navbar-quickmenu-content .v-button {
  background-color: #515a62;
  color: #FFFFFF;
}
.mycollab-mobile .v-navbar-quickmenu-content .v-button .v-button-wrap {
  padding: 5px 0px;
}
.mycollab-mobile .v-navbar-quickmenu-content .v-touchkit-navbutton {
  background-color: #515a62;
  color: #FFFFFF;
  padding: 5px 0px;
  border-radius: 3px;
  text-align: center;
}
.mycollab-mobile .data-list-view {
  background-color: white;
}
.mycollab-mobile .data-list-view .v-touchkit-navbutton {
  padding: 10px 27px 10px 14px;
  border-bottom: 1px solid #DDDDDD;
  color: #8C8C8C;
  font-size: 1.3rem;
}
.mycollab-mobile .data-list-view .v-touchkit-navbutton:after {
  content: "\e60a";
  font-family: "icomoon";
  line-height: 1.8rem;
  padding: 10px 0px;
  color: #8c8c8c;
  font-size: 1.1rem;
}
.mycollab-mobile .data-list-view .v-button {
  text-align: left;
  margin: 0px;
}
.mycollab-mobile .data-list-view .v-button .v-button-wrap {
  padding: 1rem 2.7rem 1rem 1.4rem;
  word-wrap: break-word;
  white-space: normal;
  border-bottom: 1px solid #DDDDDD;
}
.mycollab-mobile .data-list-view .v-button .v-button-wrap .v-button-caption {
  color: #8C8C8C;
  font-size: 1.3rem;
}
.mycollab-mobile .data-list-view .v-button .v-button-wrap:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  width: 0px;
}
.mycollab-mobile .data-list-view .v-button.selectable-button.selected .v-button-wrap {
  position: relative;
}
.mycollab-mobile .data-list-view .v-button.selectable-button.selected .v-button-wrap:after {
  content: "\e042";
  font-family: "icomoon";
  color: #49A3E1;
  position: absolute;
  right: 2rem;
  display: inline-block;
  font-size: 1.6rem;
  line-height: 1.6rem;
}
.mycollab-mobile .readview-layout, .mycollab-mobile .editview-layout {
  background-color: #F3F1F0;
}
.mycollab-mobile .readview-layout .v-label, .mycollab-mobile .editview-layout .v-label {
  font-size: 1.5rem;
  line-height: 2rem;
}
.mycollab-mobile .readview-layout .v-label.h2, .mycollab-mobile .editview-layout .v-label.h2 {
  font-size: 1.2rem;
  color: #6B6A70;
  padding: 2.0rem 0rem 0.9rem 1rem;
  border-bottom: .1rem solid #dddddd;
}
.mycollab-mobile .readview-layout .v-gridlayout, .mycollab-mobile .editview-layout .v-gridlayout {
  color: #060606;
  background-color: #FFFFFF;
}
.mycollab-mobile .readview-layout .v-gridlayout .gridform-caption, .mycollab-mobile .readview-layout .v-gridlayout .gridform-field, .mycollab-mobile .editview-layout .v-gridlayout .gridform-caption, .mycollab-mobile .editview-layout .v-gridlayout .gridform-field {
  border-bottom: .1rem solid #dddddd;
}
.mycollab-mobile .readview-layout .v-gridlayout .gridform-caption.v-horizontallayout.v-margin-top, .mycollab-mobile .readview-layout .v-gridlayout .gridform-field.v-horizontallayout.v-margin-top, .mycollab-mobile .editview-layout .v-gridlayout .gridform-caption.v-horizontallayout.v-margin-top, .mycollab-mobile .editview-layout .v-gridlayout .gridform-field.v-horizontallayout.v-margin-top {
  padding-top: 1.3rem;
}
.mycollab-mobile .readview-layout .v-gridlayout .gridform-caption.v-horizontallayout.v-margin-bottom, .mycollab-mobile .readview-layout .v-gridlayout .gridform-field.v-horizontallayout.v-margin-bottom, .mycollab-mobile .editview-layout .v-gridlayout .gridform-caption.v-horizontallayout.v-margin-bottom, .mycollab-mobile .editview-layout .v-gridlayout .gridform-field.v-horizontallayout.v-margin-bottom {
  padding-bottom: 1.3rem;
}
.mycollab-mobile .readview-layout .v-gridlayout .gridform-caption.v-horizontallayout.v-margin-left, .mycollab-mobile .readview-layout .v-gridlayout .gridform-field.v-horizontallayout.v-margin-left, .mycollab-mobile .editview-layout .v-gridlayout .gridform-caption.v-horizontallayout.v-margin-left, .mycollab-mobile .editview-layout .v-gridlayout .gridform-field.v-horizontallayout.v-margin-left {
  padding-left: 0rem;
}
.mycollab-mobile .readview-layout .v-gridlayout .gridform-caption .v-label.v-widget, .mycollab-mobile .editview-layout .v-gridlayout .gridform-caption .v-label.v-widget {
  text-align: right;
}
.mycollab-mobile .readview-layout .v-gridlayout .gridform-field, .mycollab-mobile .editview-layout .v-gridlayout .gridform-field {
  color: #8C8C8C;
}
.mycollab-mobile .readview-layout .v-gridlayout .gridform-field .v-label, .mycollab-mobile .editview-layout .v-gridlayout .gridform-field .v-label {
  line-height: 2rem;
  font-size: 1.5rem;
}
.mycollab-mobile .readview-layout .v-gridlayout .gridform-field .v-label:after, .mycollab-mobile .editview-layout .v-gridlayout .gridform-field .v-label:after {
  content: "";
  position: relative;
  display: inline-block;
}
.mycollab-mobile .readview-layout .gridform-field .v-button-wrap {
  text-align: left;
  padding: 0px;
}
.mycollab-mobile .readview-layout .gridform-field .v-button-wrap .v-icon {
  vertical-align: middle;
}
.mycollab-mobile .readview-layout .gridform-field .v-button-wrap .v-button-caption {
  vertical-align: middle;
  padding-left: 3px;
  font-size: 1.5rem;
  line-height: 2rem;
}
.mycollab-mobile .editview-layout .v-caption {
  font-size: 1.5rem;
}
.mycollab-mobile .editview-layout .v-caption .v-required-field-indicator {
  font-size: 1.3rem;
  line-height: 2rem;
}
.mycollab-mobile .editview-layout input.v-textfield, .mycollab-mobile .editview-layout .v-filterselect, .mycollab-mobile .editview-layout .v-textarea {
  font-size: 1.5rem;
  line-height: 2rem;
  min-height: 2rem;
  color: #8C8C8C;
  border: none;
  border-radius: 0px;
  padding: 0px 1px;
  vertical-align: top;
  margin: 0px;
}
.mycollab-mobile .editview-layout .v-filterselect-button {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}
.mycollab-mobile .editview-layout .v-select {
  border: none;
  border-radius: 0px;
  background-color: transparent;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.mycollab-mobile .editview-layout .v-select select.v-select-select {
  font-size: 1.5rem;
  line-height: 2rem;
  min-height: 2rem;
  color: #8C8C8C;
  min-height: 2rem;
}
.mycollab-mobile .editview-layout .v-select select.v-select-select option {
  padding: 0px;
}
.mycollab-mobile .editview-layout .v-select:after {
  content: "\e60c";
  font-family: "icomoon";
  padding-right: 5px;
  color: #8C8C8C;
}
.mycollab-mobile .editview-layout .v-datefield.v-datefield-popupcalendar {
  font-size: 1.5rem;
}
.mycollab-mobile .editview-layout .v-datefield.v-datefield-popupcalendar input.v-textfield.v-datefield-textfield {
  border: none;
}
.mycollab-mobile .editview-layout .v-datefield.v-datefield-popupcalendar .v-datefield-button {
  line-height: normal;
}
.mycollab-mobile .editview-layout .v-touchkit-datepicker .v-select-select {
  font-size: 1.5rem;
  line-height: 2rem;
  min-height: 2rem;
  color: #8C8C8C;
  min-height: 2rem;
}
.mycollab-mobile .editview-layout .v-touchkit-navbutton.combo-box {
  font-size: 1.5rem;
  line-height: 2rem;
  min-height: 2rem;
  color: #8C8C8C;
}
.mycollab-mobile .editview-layout .v-touchkit-navbutton.combo-box:before {
  content: "";
  position: relative;
  display: inline-block;
}
.mycollab-mobile .editview-layout .v-touchkit-navbutton.combo-box:after {
  content: "\e60a";
  font-family: "icomoon";
  color: #8c8c8c;
  font-size: 1.1rem;
  right: 0px;
  top: 0px;
}
.mycollab-mobile .v-filterselect {
  overflow: hidden;
  padding-right: 1.6rem;
}
.mycollab-mobile .v-filterselect .v-icon {
  height: 1.6rem;
  position: relative;
  vertical-align: middle;
}
.mycollab-mobile .v-filterselect .v-filterselect-input {
  height: 1.6rem;
  vertical-align: middle;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;
}
.mycollab-mobile .v-filterselect .v-icon + .v-filterselect-input {
  padding-left: 1.8rem;
  margin-left: -1.6rem;
}
.mycollab-mobile .v-filterselect .v-filterselect-button {
  height: 1.6rem;
  width: 1.6rem;
  margin-right: -1.6rem;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.mycollab-mobile .v-filterselect-suggestpopup {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #cfcfcf;
}
.mycollab-mobile .message {
  border-bottom: 1px solid #cbcbcb;
}
.mycollab-mobile .message .message-header .user-name {
  color: #e39241;
}
.mycollab-mobile .message .message-header .time-post {
  color: #bfbfbf;
}
.mycollab-mobile .message .message-body {
  color: #959595;
}
.mycollab-mobile .v-button {
  line-height: normal;
  box-shadow: none;
  padding: 0px;
  cursor: pointer;
}
.mycollab-mobile .v-button.big-btn {
  font-size: 1.5rem;
}
.mycollab-mobile .v-button.big-btn .v-button-wrap {
  padding: 1rem 0rem;
}
.mycollab-mobile .v-button.big-btn .v-button-wrap .v-button-caption {
  font-size: 1.5rem;
}
.mycollab-mobile .v-button.blue {
  background-color: #49a3e1;
  border: 1px solid #226899;
}
.mycollab-mobile .v-button.blue .v-button-caption {
  color: white;
}
.mycollab-mobile .v-button.gray {
  background-color: #9b9b9b;
  border: 1px solid #616161;
}
.mycollab-mobile .v-button.gray .v-button-caption {
  color: white;
}
.mycollab-mobile .v-button:active .v-button-wrap:after {
  background-color: transparent;
}
.mycollab-mobile .v-touchkit-navbutton {
  line-height: normal;
}
.mycollab-mobile .v-touchkit-navbutton:after {
  content: "";
}
.mycollab-mobile .v-textfield {
  border-radius: 4px;
  border: 1px solid #c7c7c7;
  outline: none;
}
.mycollab-mobile .confirm-dialog .v-window-outerheader {
  display: none;
}
.mycollab-mobile .confirm-dialog .message-wrapper.v-margin-top {
  padding-top: 20px;
}
.mycollab-mobile .confirm-dialog .message-wrapper.v-margin-bottom {
  padding-bottom: 20px;
}
.mycollab-mobile .confirm-dialog .message-wrapper .v-label {
  text-align: center;
}
.mycollab-mobile .confirm-dialog .v-button .v-button-wrap {
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.mycollab-mobile .confirm-dialog .v-button .v-button-wrap:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.mycollab-mobile .project-dashboard {
  background-color: white;
}
.mycollab-mobile .project-dashboard .project-info-layout {
  padding: 1.2rem 0rem;
  background-color: #14171a;
  color: white;
}
.mycollab-mobile .project-dashboard .project-info-layout .project-icon {
  font-size: 5rem;
  line-height: 5rem;
  border: 0.3rem solid white;
  border-radius: 4rem;
  padding: 1rem;
}
.mycollab-mobile .project-dashboard .project-info-layout .project-name {
  font-weight: bold;
  font-size: 1.4rem;
  padding-top: 0.6rem;
}
.mycollab-mobile .project-dashboard .project-modules-layout {
  display: block;
  margin: 0 auto;
  padding-top: 2rem;
}
.mycollab-mobile .project-dashboard .project-modules-layout .v-gridlayout-spacing-on {
  padding-top: 1rem;
  padding-left: 1rem;
}
.mycollab-mobile .project-dashboard .project-modules-layout .v-button {
  background-color: transparent;
}
.mycollab-mobile .project-dashboard .project-modules-layout .v-button .v-button-wrap {
  padding-top: 0.3rem;
}
.mycollab-mobile .project-dashboard .project-modules-layout .v-button .v-button-wrap .v-button-caption span {
  font-size: 3.8rem;
  line-height: 4rem;
}
.mycollab-mobile .project-dashboard .project-modules-layout .v-button .v-button-wrap .v-button-caption div {
  color: #525252;
  font-size: 1.1rem;
  text-transform: uppercase;
}
.mycollab-mobile .message-list-view .message-block {
  padding: 1.2rem 0.8rem;
  border-bottom: 1px solid #cbcbcb;
}
.mycollab-mobile .message-list-view .message-block .user-avatar {
  padding-right: 0.8rem;
}
.mycollab-mobile .message-list-view .message-block .user-name {
  color: #e2913f;
}
.mycollab-mobile .message-list-view .message-block .time-post {
  font-size: 1.1rem;
  color: #d4d4d4;
}
.mycollab-mobile .message-list-view .message-block .title-row {
  padding: 0.3rem 0rem;
}
.mycollab-mobile .message-list-view .message-block .title-row .comment-count {
  font-size: 1.1rem;
  color: white;
  background-color: #7c7c7c;
  padding: 0.3rem 0.5rem;
  border-radius: 0.3rem;
}
.mycollab-mobile .message-list-view .message-block .message-content {
  color: #aaaaaa;
}
