@import "../chameleon/legacy-styles.css";

/** 
 * "optional-" prefix means that the style is not necessarily used, it can be left blank
 * "generated-" prefix means that the style is calculated from some other color, and not directly selected by the editor user
 *
 **/

/* Application background */

.v-app {
  background: rgb(146, 189, 132);
}

.v-window, .v-popupview-popup, .v-filterselect-suggestpopup, .v-datefield-popup, .v-contextmenu, .v-Notification, .v-menubar-submenu {
  background-color: rgb(146, 189, 132);
  background-color: rgba(146, 189, 132, 0.85);
}

body {
  &.v-ie6 .v-window, &.v-ie7 .v-window, &.v-ie6 .v-popupview-popup, &.v-ie7 .v-popupview-popup, &.v-ie6 .v-filterselect-suggestpopup, &.v-ie7 .v-filterselect-suggestpopup, &.v-ie6 .v-datefield-popup, &.v-ie7 .v-datefield-popup, &.v-ie6 .v-contextmenu, &.v-ie7 .v-contextmenu, &.v-ie6 .v-menubar-submenu, &.v-ie7 .v-menubar-submenu {
    background-color: rgb(245, 245, 245);
  }
}

.v-panel-content {
  background-color: rgb(245, 245, 245);
}

.v-panel-bubble {
  .v-panel-captionwrap, .v-panel-deco-bubble {
    background-color: rgb(245, 245, 245);
  }
}

.v-tabsheet-content, .v-tabsheet-tabitem-selected, .v-slider-base, .v-window-modalitycurtain, .v-window-opaque, .v-progressindicator-wrapper, .v-accordion-item-caption, .v-accordion-item-open .v-accordion-item-caption:active, .v-accordion-opaque div.v-accordion-item-open, .v-table-scrollposition, .v-table-body {
  background-color: rgb(245, 245, 245);
}

/* Base font size and color */

.v-app, .v-window, .v-popupview-popup {
  font-size: 13px;
  color: rgb(15, 13, 13);
}

.v-app {
  input, button, textarea {
    font-size: 13px;
    color: rgb(15, 13, 13);
  }
}

.v-window {
  input, button, textarea {
    font-size: 13px;
    color: rgb(15, 13, 13);
  }
}

.v-popupview-popup {
  input, button, textarea {
    font-size: 13px;
    color: rgb(15, 13, 13);
  }
}

.v-filterselect-suggestpopup, .v-datefield-popup, .v-datefield-calendarpanel-header button, .v-contextmenu, .v-Notification, .v-menubar-submenu, .v-table-header-drag, .v-filterselect-select-button .v-filterselect-input, .v-drag-element {
  font-size: 13px;
  color: rgb(15, 13, 13);
}

.v-app select, .v-window select, .v-popupview-popup select, .v-datefield-popup select {
  font-size: 13px;
}

.v-label, .sidebar-menu .v-label, .v-table-scrollposition {
  //@optional-generated-shadow@
}

/* Base background color */
/*.v-button:active,
.v-ie .v-button.v-pressed,
div.v-button-down,
.v-slider .v-slider-handle-active {
	background-color: rgb(82,104,75);
	border-color: rgb(55,66,51);
}*/

div.v-button-down:active {
  background-color: rgb(67, 83, 62);
}

.v-button {
  &:focus {
    background-color: rgb(82, 104, 75);
  }
  &:active .v-button-wrap {
    border-color: rgb(67, 83, 62);
  }
}

/* Base border color */

.v-button-down .v-button-wrap, .v-datefield-calendarpanel-header td, .v-slider-base, .v-tabsheet-scrollerNext {
  border-color: rgb(67, 83, 62);
}

.v-tabsheet-scrollerNext-disabled {
  border-color: rgb(67, 83, 62);
  &:active {
    border-color: rgb(67, 83, 62);
  }
}

.v-table-header-wrap, .v-table-body, .v-table-resizer {
  border-color: rgb(67, 83, 62);
}

div {
  &.v-table-focus-slot-left, &.v-table-focus-slot-right {
    border-color: rgb(67, 83, 62);
  }
}

input.v-textfield, textarea.v-textarea, .v-filterselect {
  border-color: rgb(67, 83, 62);
}

input.v-textfield, textarea.v-textarea, .v-filterselect {
  border-bottom-color: rgb(82, 104, 75);
  border-left-color: rgb(82, 104, 75);
  border-right-color: rgb(82, 104, 75);
}

.v-button, .v-datefield-button, .v-datefield-calendarpanel-header button, td.v-datefield-calendarpanel-month, .v-datefield-calendarpanel-weekdays strong, .v-slider-handle, .v-table-header-wrap, .v-table-generated-row, .v-table-header-drag, .v-filterselect-prevpage-off, .v-filterselect-nextpage-off, .v-filterselect-prevpage, .v-filterselect-nextpage, .v-filterselect-select-button, .v-splitpanel-hsplitter, .v-splitpanel-vsplitter, .v-splitpanel-hsplitter-locked, .v-splitpanel-vsplitter-locked {
  background-color: rgb(100, 130, 90);
  border-color: rgb(67, 83, 62);
}

.v-accordion-opaque {
  background-color: rgb(100, 130, 90);
  border-color: rgb(67, 83, 62);
  .v-accordion-item-open, .v-accordion-item-caption, .v-accordion-item-open .v-accordion-item-caption:active {
    background-color: rgb(100, 130, 90);
    border-color: rgb(67, 83, 62);
  }
}

.v-tabsheet-scroller, .v-csslayout-toolbar, .v-menubar {
  background-color: rgb(100, 130, 90);
  border-color: rgb(67, 83, 62);
}

.v-button .v-button-wrap {
  /*background-image: url(../chameleon/img/grad-light-top2.png);*/
  background-position: left top;
}

.v-disabled.v-button {
  &:focus .v-button-wrap, &:active .v-button-wrap {
    /*background-image: url(../chameleon/img/grad-light-top2.png);*/
    background-position: left top;
  }
}

.v-datefield-calendarpanel-header button, td.v-datefield-calendarpanel-month, .v-window-wrap, .v-popupview-popup, .v-filterselect-suggestpopup, .v-datefield-popup, .v-contextmenu, .v-menubar-submenu, .v-panel-bubble .v-panel-caption-bubble, .v-slider-handle, .v-tabsheet-tabitem-selected .v-caption, .v-table-header-wrap, .v-table-generated-row, .v-table-header-drag, .v-filterselect-prevpage-off, .v-filterselect-nextpage-off, .v-filterselect-prevpage, .v-filterselect-nextpage, .v-filterselect-select-button, .v-progressindicator-indicator, .v-accordion-item-caption, .v-accordion-item-open .v-accordion-item-caption:active, .v-tabsheet-scroller, .v-csslayout-toolbar, .v-menubar {
  /*background-image: url(../chameleon/img/grad-light-top2.png);*/
  background-position: left top;
}

.v-datefield-calendarpanel-weekdays strong, .v-splitpanel-hsplitter-small, .v-splitpanel-vsplitter-small, .v-splitpanel-hsplitter-small-locked, .v-splitpanel-vsplitter-small-locked {
  background-color: rgb(82, 104, 75);
}

.v-progressindicator-wrapper {
  border-color: rgb(82, 104, 75);
}

.v-button {
  text-shadow: 0 -1px 0 rgb(67, 83, 62);
}

.v-disabled.v-button {
  &:focus, &:active {
    text-shadow: 0 -1px 0 rgb(67, 83, 62);
  }
}

.v-datefield-calendarpanel-header button, td.v-datefield-calendarpanel-month, .v-tabsheet-tabitem-selected .v-caption, .v-window-header, .v-table-caption-container, .v-accordion-item-caption, .v-menubar .v-menubar-menuitem, .v-filterselect-select-button .v-filterselect-input {
  text-shadow: 0 -1px 0 rgb(67, 83, 62);
}

/* Background border color */

.v-window, .v-popupview-popup, .v-filterselect-suggestpopup, .v-datefield-popup, .v-contextmenu, .v-Notification, .v-menubar-submenu, .v-panel-caption, .v-panel-nocaption, .v-panel-content, .v-panel-deco, .v-panel-light .v-panel-caption-light {
  border-color: rgb(120, 151, 110);
}

.v-panel-bubble {
  .v-panel-captionwrap, .v-panel-content-bubble, .v-panel-deco-bubble {
    border-color: rgb(120, 151, 110);
  }
}

.v-tabsheet-tabitem-selected, .v-tabsheet-tabitem, .v-tabsheet-spacertd div, .v-tabsheet-content, .v-tabsheet-deco, .v-slider, .v-splitpanel-hsplitter, .v-splitpanel-vsplitter, .v-splitpanel-hsplitter-locked, .v-splitpanel-vsplitter-locked, .v-table-scrollposition, .v-accordion, .v-accordion-item-caption, .v-accordion-item-open, .v-menubar-separator span {
  border-color: rgb(120, 151, 110);
}

/* Alternate colors */

.v-label-color {
  color: rgb(100, 130, 179);
}

.v-button-link, .v-disabled.v-button-link {
  color: rgb(100, 130, 179);
  &:focus, &:active {
    color: rgb(100, 130, 179);
  }
}

.v-app a, .v-popupview-popup a, .v-popupview, .sidebar-menu .v-label {
  color: rgb(100, 130, 179);
}

.v-button-default {
  border-color: rgb(73, 89, 114);
}

.v-disabled.v-button-default {
  border-color: rgb(73, 89, 114);
  &:focus {
    border-color: rgb(73, 89, 114);
  }
}

.v-button-default:active, .v-ie7 .v-button-default.v-pressed, .v-ie8 .v-button-default.v-pressed {
  border-color: rgb(73, 89, 114);
}

.sidebar-menu {
  .tab-selected, .selected {
    border-color: rgb(73, 89, 114);
  }
}

.v-horizontallayout-segment-alternate .v-button-down {
  border-color: rgb(73, 89, 114);
}

.v-button-default:focus, .v-horizontallayout-segment-alternate .v-button-down:active {
  background-color: rgb(86, 108, 143);
}

.v-button-default:active .v-button-wrap, .v-ie7 .v-button-default.v-pressed .v-button-wrap, .v-ie8 .v-button-default.v-pressed .v-button-wrap, .v-progressindicator-indicator, .v-datefield-calendarpanel-day-focused, .v-datefield-calendarpanel-day:hover, .v-horizontallayout-segment-alternate .v-button-down .v-button-wrap {
  border-color: rgb(86, 108, 143);
}

.v-button-default {
  background-color: rgb(100, 130, 179);
  color: rgb(244, 244, 245);
  text-shadow: 0 -1px 0 rgb(73, 89, 114);
}

.v-disabled.v-button-default {
  background-color: rgb(100, 130, 179);
  color: rgb(244, 244, 245);
  text-shadow: 0 -1px 0 rgb(73, 89, 114);
  &:focus {
    background-color: rgb(100, 130, 179);
    color: rgb(244, 244, 245);
    text-shadow: 0 -1px 0 rgb(73, 89, 114);
  }
}

.v-button-default:active, .v-ie7 .v-button-default.v-pressed, .v-ie8 .v-button-default.v-pressed, .v-panel-bubble .v-panel-caption, .v-datefield-calendarpanel-day-selected, .v-table tr.v-selected {
  background-color: rgb(100, 130, 179);
  color: rgb(244, 244, 245);
  text-shadow: 0 -1px 0 rgb(73, 89, 114);
}

.v-contextmenu .gwt-MenuItem-selected {
  background-color: rgb(100, 130, 179);
  color: rgb(244, 244, 245);
  text-shadow: 0 -1px 0 rgb(73, 89, 114);
  div {
    background-color: rgb(100, 130, 179);
    color: rgb(244, 244, 245);
    text-shadow: 0 -1px 0 rgb(73, 89, 114);
  }
}

.v-filterselect-suggestpopup .gwt-MenuItem-selected, .v-progressindicator-indicator, .v-tree-node-selected span {
  background-color: rgb(100, 130, 179);
  color: rgb(244, 244, 245);
  text-shadow: 0 -1px 0 rgb(73, 89, 114);
}

.sidebar-menu {
  .tab-selected, .selected {
    background-color: rgb(100, 130, 179);
    color: rgb(244, 244, 245);
    text-shadow: 0 -1px 0 rgb(73, 89, 114);
  }
}

.v-horizontallayout-segment-alternate .v-button-down, .v-menubar .v-menubar-menuitem-selected, .v-menubar-submenu .v-menubar-menuitem-selected {
  background-color: rgb(100, 130, 179);
  color: rgb(244, 244, 245);
  text-shadow: 0 -1px 0 rgb(73, 89, 114);
}

.v-ie6 .v-progressindicator-indicator {
  background-color: rgb(100, 130, 179);
}

.v-panel-caption, .v-table-striped .v-table-row-odd {
  background: rgb(247, 247, 247);
}

.sidebar-menu {
  .tab-selected, .selected {
    text-shadow: 0 1px 0 rgb(73, 89, 114);
  }
}

//@import "../chameleon/styles.css";

/** 
 * "optional-" prefix means that the style is not necessarily used, it can be left blank
 * "generated-" prefix means that the style is calculated from some other color, and not directly selected by the editor user
 *
 **/

/* Application background */

.v-app {
  background: rgb(249, 249, 249);
}

.v-window, .v-popupview-popup, .v-filterselect-suggestpopup, .v-datefield-popup, .v-contextmenu, .v-Notification, .v-menubar-submenu {
  /* 	background-color: rgb(209,209,209); */
  background-color: white;
  /* background-color: rgba(255,255,255,.85); */
  border-radius: 3px;
}

body {
  &.v-ie6 .v-window, &.v-ie7 .v-window, &.v-ie6 .v-popupview-popup, &.v-ie7 .v-popupview-popup, &.v-ie6 .v-filterselect-suggestpopup, &.v-ie7 .v-filterselect-suggestpopup, &.v-ie6 .v-datefield-popup, &.v-ie7 .v-datefield-popup, &.v-ie6 .v-contextmenu, &.v-ie7 .v-contextmenu, &.v-ie6 .v-menubar-submenu, &.v-ie7 .v-menubar-submenu {
    /* 	background-color: transparent; */
  }
}

.v-panel-content {
  /* 	background-color: transparent; */
}

.v-panel-bubble {
  .v-panel-captionwrap, .v-panel-deco-bubble {
    /* 	background-color: transparent; */
  }
}

.v-tabsheet-content, .v-tabsheet-tabitem-selected, .v-slider-base, .v-window-modalitycurtain, .v-window-opaque, .v-progressindicator-wrapper, .v-accordion-item-caption, .v-accordion-item-open .v-accordion-item-caption:active, .v-accordion-opaque div.v-accordion-item-open, .v-table-scrollposition, .v-table-body {
  /* 	background-color: transparent; */
}

/* Base font size and color */

.v-app, .v-window, .v-popupview-popup {
  font-size: 13px;
  /*color: rgb(34,34,34);*/
  color: #525252;
}

.v-app {
  input, button, textarea {
    font-size: 13px;
    /*color: rgb(34,34,34);*/
    color: #525252;
  }
}

.v-window {
  input, button, textarea {
    font-size: 13px;
    /*color: rgb(34,34,34);*/
    color: #525252;
  }
}

.v-popupview-popup {
  input, button, textarea {
    font-size: 13px;
    /*color: rgb(34,34,34);*/
    color: #525252;
  }
}

.v-filterselect-suggestpopup, .v-datefield-popup, .v-datefield-calendarpanel-header button, .v-contextmenu, .v-Notification, .v-menubar-submenu, .v-table-header-drag, .v-filterselect-select-button .v-filterselect-input, .v-drag-element {
  font-size: 13px;
  /*color: rgb(34,34,34);*/
  color: #525252;
}

.v-app select, .v-window select, .v-popupview-popup select, .v-datefield-popup select {
  font-size: 13px;
}

.v-label, .sidebar-menu .v-label, .v-table-scrollposition {
  //@optional-generated-shadow@
}

/* Base background color */
/*.v-button:active,
.v-ie .v-button.v-pressed,
div.v-button-down,
.v-slider .v-slider-handle-active {
	background-color: rgb(161,161,161);
	border-color: rgb(103,103,103);
	}*/

div.v-button-down:active {
  background-color: rgb(129, 129, 129);
}

.v-button:focus {
  background-color: rgb(161, 161, 161);
}

/* Base border color */

.v-button-down .v-button-wrap, .v-datefield-calendarpanel-header td, .v-slider-base, .v-tabsheet-scrollerNext {
  border-color: #CFCFCF;
}

.v-tabsheet-scrollerNext-disabled {
  border-color: #CFCFCF;
  &:active {
    border-color: #CFCFCF;
  }
}

.v-table-header-wrap, .v-table-body, .v-table-resizer {
  border-color: #CFCFCF;
}

div {
  &.v-table-focus-slot-left, &.v-table-focus-slot-right {
    border-color: #CFCFCF;
  }
}

input.v-textfield, textarea.v-textarea, .v-filterselect, input.v-textfield, textarea.v-textarea, .v-filterselect {
  border-color: #CFCFCF;
}

.v-button, .v-datefield-button, .v-datefield-calendarpanel-header button, td.v-datefield-calendarpanel-month, .v-datefield-calendarpanel-weekdays strong, .v-slider-handle, .v-table-header-wrap, .v-table-generated-row, .v-table-header-drag, .v-filterselect-prevpage-off, .v-filterselect-nextpage-off, .v-filterselect-prevpage, .v-filterselect-nextpage, .v-filterselect-select-button, .v-splitpanel-hsplitter, .v-splitpanel-vsplitter, .v-splitpanel-hsplitter-locked, .v-splitpanel-vsplitter-locked {
  background-color: rgb(201, 201, 201);
  border-color: #CFCFCF;
}

.v-accordion-opaque {
  background-color: rgb(201, 201, 201);
  border-color: #CFCFCF;
  .v-accordion-item-open, .v-accordion-item-caption, .v-accordion-item-open .v-accordion-item-caption:active {
    background-color: rgb(201, 201, 201);
    border-color: #CFCFCF;
  }
}

.v-tabsheet-scroller, .v-csslayout-toolbar, .v-menubar {
  background-color: rgb(201, 201, 201);
  border-color: #CFCFCF;
}

.v-button! .v-button-wrap {}

.v-disabled.v-button! {
  &:focus .v-button-wrap, &:active .v-button-wrap {}
}

.v-datefield-calendarpanel-header! button, td.v-datefield-calendarpanel-month!, .v-window-wrap!, .v-popupview-popup!, .v-filterselect-suggestpopup!, .v-datefield-popup!, .v-contextmenu!, .v-menubar-submenu!, .v-panel-bubble! .v-panel-caption-bubble, .v-slider-handle!, .v-tabsheet-tabitem-selected! .v-caption, .v-table-header-wrap!, .v-table-generated-row!, .v-table-header-drag!, .v-filterselect-prevpage-off!, .v-filterselect-nextpage-off!, .v-filterselect-prevpage!, .v-filterselect-nextpage!, .v-filterselect-select-button!, .v-progressindicator-indicator!, .v-accordion-item-caption!, .v-accordion-item-open! .v-accordion-item-caption:active, .v-tabsheet-scroller!, .v-csslayout-toolbar!, .v-menubar!, .v-button:active! .v-button-wrap, .v-ie7! .v-pressed.v-button .v-button-wrap, .v-ie8! .v-pressed.v-button .v-button-wrap, .v-button-down! .v-button-wrap {}

.v-datefield-calendarpanel-weekdays strong, .v-splitpanel-hsplitter-small, .v-splitpanel-vsplitter-small, .v-splitpanel-hsplitter-small-locked, .v-splitpanel-vsplitter-small-locked {
  background-color: rgb(161, 161, 161);
}

.v-progressindicator-wrapper {
  border-color: rgb(161, 161, 161);
}

.v-button {
  text-shadow: 0 1px 0 rgb(223, 223, 223);
}

.v-disabled.v-button {
  &:focus, &:active {
    text-shadow: 0 1px 0 rgb(223, 223, 223);
  }
}

.v-datefield-calendarpanel-header button, td.v-datefield-calendarpanel-month, .v-tabsheet-tabitem-selected .v-caption, .v-window-header, .v-table-caption-container, .v-accordion-item-caption, .v-menubar .v-menubar-menuitem, .v-filterselect-select-button .v-filterselect-input {
  text-shadow: 0 1px 0 rgb(223, 223, 223);
}

/* Background border color */

.v-window, .v-popupview-popup, .v-filterselect-suggestpopup, .v-datefield-popup, .v-contextmenu, .v-Notification, .v-menubar-submenu, .v-panel-caption, .v-panel-nocaption, .v-panel-content, .v-panel-deco, .v-panel-light .v-panel-caption-light {
  border-color: rgb(169, 169, 169);
}

.v-panel-bubble {
  .v-panel-captionwrap, .v-panel-content-bubble, .v-panel-deco-bubble {
    border-color: rgb(169, 169, 169);
  }
}

.v-tabsheet-tabitem-selected, .v-tabsheet-tabitem, .v-tabsheet-spacertd div, .v-tabsheet-content, .v-tabsheet-deco, .v-slider, .v-splitpanel-hsplitter, .v-splitpanel-vsplitter, .v-splitpanel-hsplitter-locked, .v-splitpanel-vsplitter-locked, .v-table-scrollposition, .v-accordion, .v-accordion-item-caption, .v-accordion-item-open, .v-menubar-separator span {
  border-color: rgb(169, 169, 169);
}

/* Alternate colors */

.v-label-color {
  /*color: rgb(40,126,206);*/
  color: #006dac;
}

.v-button-link, .v-disabled.v-button-link {
  /*color: rgb(40,126,206);*/
  color: #006dac;
  &:focus, &:active {
    /*color: rgb(40,126,206);*/
    color: #006dac;
  }
}

.v-app a, .v-popupview-popup a, .v-popupview, .sidebar-menu .v-label {
  /*color: rgb(40,126,206);*/
  color: #006dac;
}

.v-button-default {
  border-color: rgb(46, 90, 132);
}

.v-disabled.v-button-default {
  border-color: rgb(46, 90, 132);
  &:focus {
    border-color: rgb(46, 90, 132);
  }
}

.v-button-default:active, .v-ie7 .v-button-default.v-pressed, .v-ie8 .v-button-default.v-pressed {
  border-color: rgb(46, 90, 132);
}

.sidebar-menu {
  .tab-selected, .selected {
    border-color: rgb(46, 90, 132);
  }
}

.v-horizontallayout-segment-alternate .v-button-down {
  border-color: rgb(46, 90, 132);
}

.v-button-default:focus, .v-horizontallayout-segment-alternate .v-button-down:active {
  background-color: rgb(45, 107, 165);
}

.v-button-default:active .v-button-wrap, .v-ie7 .v-button-default.v-pressed .v-button-wrap, .v-ie8 .v-button-default.v-pressed .v-button-wrap, .v-progressindicator-indicator, .v-datefield-calendarpanel-day-focused, .v-datefield-calendarpanel-day:hover, .v-horizontallayout-segment-alternate .v-button-down .v-button-wrap {
  border-color: rgb(45, 107, 165);
}

.v-button-default {
  background-color: rgb(40, 126, 206);
  color: rgb(247, 248, 249);
  text-shadow: 0 -1px 0 rgb(46, 90, 132);
}

.v-disabled.v-button-default {
  background-color: rgb(40, 126, 206);
  color: rgb(247, 248, 249);
  text-shadow: 0 -1px 0 rgb(46, 90, 132);
  &:focus {
    background-color: rgb(40, 126, 206);
    color: rgb(247, 248, 249);
    text-shadow: 0 -1px 0 rgb(46, 90, 132);
  }
}

.v-button-default:active, .v-ie7 .v-button-default.v-pressed, .v-ie8 .v-button-default.v-pressed, .v-panel-bubble .v-panel-caption, .v-datefield-calendarpanel-day-selected, .v-table tr.v-selected {
  background-color: rgb(40, 126, 206);
  color: rgb(247, 248, 249);
  text-shadow: 0 -1px 0 rgb(46, 90, 132);
}

.v-contextmenu .gwt-MenuItem-selected {
  background-color: rgb(40, 126, 206);
  color: rgb(247, 248, 249);
  text-shadow: 0 -1px 0 rgb(46, 90, 132);
  div {
    background-color: rgb(40, 126, 206);
    color: rgb(247, 248, 249);
    text-shadow: 0 -1px 0 rgb(46, 90, 132);
  }
}

.v-filterselect-suggestpopup .gwt-MenuItem-selected, .v-progressindicator-indicator, .v-tree-node-selected span {
  background-color: rgb(40, 126, 206);
  color: rgb(247, 248, 249);
  text-shadow: 0 -1px 0 rgb(46, 90, 132);
}

.sidebar-menu {
  .tab-selected, .selected {
    background-color: rgb(40, 126, 206);
    color: rgb(247, 248, 249);
    text-shadow: 0 -1px 0 rgb(46, 90, 132);
  }
}

.v-horizontallayout-segment-alternate .v-button-down, .v-menubar .v-menubar-menuitem-selected, .v-menubar-submenu .v-menubar-menuitem-selected {
  background-color: rgb(40, 126, 206);
  color: rgb(247, 248, 249);
  text-shadow: 0 -1px 0 rgb(46, 90, 132);
}

.v-ie6 .v-progressindicator-indicator {
  background-color: rgb(40, 126, 206);
}

.v-panel-caption, .v-table-striped .v-table-row-odd {
  /*background: rgb(220,229,238);*/
}

.sidebar-menu {
  /*background: rgb(220,229,238);*/
  .tab-selected, .selected {
    text-shadow: 0 1px 0 rgb(46, 90, 132);
  }
}