<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
  <dict>
    <key>CFBundleName</key>
    <string>MyCollab</string>
    <key>CFBundleVersion</key>
    <string>4.5.2</string>
    <key>CFBundleAllowMixedLocalizations</key>
    <string>true</string>
    <key>CFBundleExecutable</key>
    <string>JavaApplicationStub</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleIconFile</key>
    <string>mycollab.icns</string>
    <key>Java</key>
    <dict>
      <key>MainClass</key>
      <string>${mainClass}</string>
      <key>JVMVersion</key>
      <string>1.4+</string>
      <key>ClassPath</key>
      <array><string>$JAVAROOT/mycollab-app-community-4.5.1-standard.jar</string></array>
      <key>VMOptions</key>
      <string>-Xmx512m -Xms128m</string>
      <key>Properties</key>
            <dict>
                <key>apple.laf.useScreenMenuBar</key>
                <string>true</string>
                <key>apple.awt.showGrowBox</key>
                <string>true</string>
            </dict>
    </dict>
  </dict>
</plist>