@mixin mycollab-shared {
  a {
    text-decoration:none;
    &:visited, &:link {
        color: #006DAC;
    }
    &.completed {
      color: black;
      text-decoration: line-through;
    }
    &.overdue {
      color:red;
    }
    &.pending {
      color: #108e2a;
    }
  }

  .colored-gridlayout {
    .gridform-caption.v-margin-top, .gridform-field.v-margin-top {
      padding-top: 8px;
    }
    .gridform-caption.v-margin-right, .gridform-field.v-margin-right {
      padding-right: 18px;
    }
    .gridform-caption.v-margin-bottom, .gridform-field.v-margin-bottom {
      padding-bottom: 8px;
    }
    .gridform-caption.v-margin-left {
      padding-left: 18px;
    }
    .gridform-field {
      &.v-margin-left {
        padding-left: 18px;
      }
      .v-horizontallayout .v-horizontallayout-margin {
        padding: 0px;
      }
    }
    .v-gridlayout-margin .gridform-field .v-csslayout > .v-csslayout-margin {
      padding: 0px;
    }
    .gridform-caption {
      background-color: #F9F9F9;
      border-left: 1px solid $border-color;
      border-right: 1px solid #c8c8c8;
      &.first-col {
        border-left: none;
      }
    }
    > div > div {
      border-top: 1px solid #c8c8c8;
      &.first-row {
        border-top: none;
      }
    }
  }

  .v-filterselect-suggestpopup .gwt-MenuItem {
    padding: 5px;
  }

  .v-filterselect-suggestpopup .gwt-MenuItem-selected {
    background-color: cornflowerblue;
    width:100%;
  }

  .v-filterselect-suggestmenu table {
    width:100%;
  }

  .historylog-component .bean-list {
    border-top: 1px solid $border-color;
  }

  .list-row {
    border-color: $border-color;
    border-width: 0px 1px 1px;
    border-style: solid;
    padding: 10px;
    &:nth-child(even) {
      background-color: $background-color;
    }
    &:nth-child(odd) {
      background-color: #FFF;
    }
    &:hover {
      background-color: $hover-background-color;
    }
  }

  .activity-date {
    color: gray;
    font-size: $font-small;
  }

  .panel-header {
    border: 1px solid $border-color;
    background-color: $panel-background-color;
    .v-label {
      font-size: $font-large;
      font-weight: bold;
    }
  }

  .panel-body {
    border: 1px solid $border-color;
    border-top:0;
  }

  /* Multifiles Upload */

  .v-multifileupload-ext .v-verticallayout {
    display: block;
  }

  .v-multifileupload-uploads {
    .v-upload .v-button:before {
      font-family: FontAwesome;
      content:'\f0c6';
      font-size: $font-larger;
    }
    .v-upload .v-button {
      border: none;
      background: transparent;
      color: rgb(69, 69, 69);
      @include flex-compatible;
      .v-button-wrap {
        padding: 0px 10px 10px 10px;
      }
    }
  }

  .v-upload-immediate .v-button {
    background-color: #17D61B;
    margin: 10px 0px 0px 0px;
    .v-button-caption {
      color:black;
    }
  }

  .upload-field {
    .v-upload-immediate .v-button {
      background-color:#17d61b;
      .v-button-caption {
        color:white;
      }
    }
  }

  /* End Multifiles Upload */

  /* Progress Indicator */

  .v-progressbar {
    width: 100%;
  }

  .v-progressbar-wrapper {
    height: 18px;
    background: none no-repeat 0 0 #F5F5F5;
    border: 1px solid #CDCDCD;
  }

  .v-progressbar-indicator {
    height: 18px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    background: none no-repeat 0 0 paleturquoise;
    margin: -1px;
    border: 1px solid #CDCDCD;
  }

  .v-progressbar.medium {
    display: block;
    .v-progressbar-wrapper {
      height: 7px;
      box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1) inset;
      border: none;
      background: #f6f7f8;
      background: -webkit-linear-gradient(#f6f7f8, #f6f7f8 10%, whitesmoke 11%);
      background: linear-gradient(#f6f7f8, #f6f7f8 10%, whitesmoke 11%);
    }
    .v-progressbar-indicator {
      height: 7px;
      border: none;
      background-color: rgb(0, 136, 204);
    }
  }

  /* Pageable controls */
  .listControl {
    padding: 2px;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: $border-color;
    border-radius: 0px 0px 3px 3px;
    background: none no-repeat 0 0 #ffffff;
  }

  .borderlessControl {
    padding: 4px;
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    border-color: $border-color;
    border-radius: 0px;
    background: none no-repeat 0 0 #ffffff;
  }

  div.v-button-link {
    &.buttonPaging {
      color: #525252;
      background-color: $background-color;
      .v-button-wrap {
        width: 17px;
        padding: 4px 0px 3px;
        text-align: center;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border: 1px solid #C8C8C8;
      }
      &:active .v-button-wrap, &:focus .v-button-wrap {
        padding: 4px 0px 3px;
        border: 1px solid #777575;
      }
      .v-button-wrap .v-button-caption {
        text-align: center;
        padding: 0px;
      }
    }
    &.buttonPagingcurrent, &.buttonPaging:hover {
      background-color: #548BCE;
      color: white;
    }
  }

  .v-label h2 {
    font-size: $font-large;
    font-weight: bold;
    padding: 0px;
  }

  .v-vertical {
    &.case-noitem {
      box-sizing: content-box;
      .v-icon {
        font-size:64px;
      }
    }
  }

  .warning-icon {
    .v-icon {
      font-size: 48px;
      color:red;
    }
  }

  .v-button.favorite-btn {
    background-color: transparent;
    .v-icon {
      font-size: $font-large;
    }
    .v-button-wrap:hover{
      background-color:transparent;
    }
  }

  .v-button.favorite-btn-selected {
    background-color: transparent;
    .v-icon {
      font-size: $font-large;
      color:coral;
    }
    .v-button-wrap:hover{
      background-color:transparent;
    }
  }

  .v-horizontallayout.searchfield {
    border: 1px solid $border-color;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    background-color:white;
    .v-icon {
      margin:5px;
      color:black;
    }
    input.v-textfield[type='text'],  input.v-textfield-focus[type='text']{
      border:none;
      box-shadow:none;
      margin-right: 5px;
    }
  }

  .v-label.headerName {
    font-size: $font-x-large;
    font-weight:bold;
    color: #303030;
  }

  .v-label {
    &.icon-48px {
      .v-icon {
        font-size: 48px;
        color:#525252;
      }
    }
    &.icon-38px {
      .v-icon {
        font-size: 38px;
        color:#525252;
      }
    }
  }

  .optionPopupContent {
    background-color:antiquewhite;
    margin:-5px;
    .action-wrap {
      &:hover {
        background-color: aquamarine;
      }
      .v-button-action {
        background-color:transparent;
        text-align:left;
        .v-button-wrap {
          margin: 0px;
          &:hover {
            background-color: transparent;
          }
          .v-button-caption {
            color: gray;
          }
          .v-icon {
            color: brown;
          }
        }
      }
      .v-disabled.v-button-action {
        border:none;
      }
    }
  }

  .v-checkbox input[type="checkbox"]:focus {
      border: none;
      box-shadow: none;
    }
  }

  .v-widget.helpPanel {
    right: 0;
    z-index:10;
    margin: 80px auto;
    position: absolute;
  }

  .helpPanel .v-sliderpanel-wrapper.layout-vertical {
    height: 300px;
    margin: 80px auto;
    .v-sliderpanel-tab, .v-sliderpanel-content {
      background-color: cadetblue;
    }

    .v-sliderpanel-tab .v-sliderpanel-caption {
      color:white;
      text-align:center;
      font-size: $font-large;
      font-weight: bold;
    }

    .v-sliderpanel-content {
      .v-icon, a {
        color: white;
        font-size: 14px;
        font-weight: bold;
      }
      .v-label {
        color: white;
        font-size: 11px;
      }
    }
  }
}