@mixin mycollab-account {
  .v-csslayout.border-box2-color {
    background-color: rgb(212, 223, 239);
    border-radius: 5px;
    padding: 0px;
    border: 1px solid $border-color;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0px;
  }
}