@mixin mycollab-button {
  div.v-button-down:active {
    background-color: #43533E;
  }

  .v-button {
    &:focus {
      background-color: rgb(82, 104, 75);
    }
    &:active .v-button-wrap {
      border-color: #43533E;
    }
  }

  .v-button-down .v-button-wrap {
    border-color: #43533E;
  }

  .v-button .v-button-wrap {
    background-position: left top;
  }

  .v-disabled.v-button {
    &:focus .v-button-wrap, &:active .v-button-wrap {
      background-position: left top;
    }
  }

  .v-button {
    text-shadow: 0 -1px 0 #43533E;
  }

  .v-disabled.v-button {
    &:focus, &:active {
      text-shadow: 0 -1px 0 #43533E;
    }
  }

  .v-button-link {
    color: #6482B3;
    &:focus, &:active {
      color: #6482B3;
    }
  }

  .v-disabled.v-button-link {
    color: #6482B3;
    &:focus {
      color: #6482B3;
    }
  }

  .v-button-default {
    border-color: #495972;
  }

  .v-disabled.v-button-default {
    border-color: #495972;
    &:focus {
      border-color: #495972;
    }
  }

  .v-button-default:active, .v-ie8 .v-button-default.v-pressed {
    border-color: #495972;
  }

  .v-button-default:focus {
    background-color: rgb(86, 108, 143);
  }

  .v-button-default:active .v-button-wrap, .v-ie8 .v-button-default.v-pressed .v-button-wrap {
    border-color: rgb(86, 108, 143);
  }

  .v-button-default {
    background-color: #6482B3;
    color: rgb(244, 244, 245);
    text-shadow: 0 -1px 0 #495972;
  }

  .v-disabled.v-button-default {
    background-color: #6482B3;
    color: rgb(244, 244, 245);
    text-shadow: 0 -1px 0 #495972;
    &:focus {
      background-color: #6482B3;
      color: rgb(244, 244, 245);
      text-shadow: 0 -1px 0 #495972;
    }
  }

  .v-button-default:active, .v-ie8 .v-button-default.v-pressed {
    background-color: #6482B3;
    color: rgb(244, 244, 245);
    text-shadow: 0 -1px 0 #495972;
  }

  div.v-button-down:active {
    background-color: rgb(129, 129, 129);
  }

  .v-button:focus {
    background-color: #A1A1A1;
  }

  .v-button-down .v-button-wrap {
    border-color: $border-color;
  }

  .v-button {
    text-shadow: 0 1px 0 #DFDFDF;
  }

  .v-disabled.v-button {
    &:focus, &:active {
      text-shadow: 0 1px 0 #DFDFDF;
    }
  }

  .v-button-link {
    color: #006dac;
    &:focus, &:active {
      color: #006dac;
    }
  }

  .v-disabled.v-button-link {
    color: #006dac;
    &:focus {
      color: #006dac;
    }
  }

  .v-button-default {
    border-color: #2E5A84;
  }

  .v-disabled.v-button-default {
    border-color: #2E5A84;
    &:focus {
      border-color: #2E5A84;
    }
  }

  .v-button-default:active, .v-ie8 .v-button-default.v-pressed {
    border-color: #2E5A84;
  }

  .v-button-default:focus {
    background-color: rgb(45, 107, 165);
  }

  .v-button-default:active .v-button-wrap, .v-ie8 .v-button-default.v-pressed .v-button-wrap {
    border-color: rgb(45, 107, 165);
  }

  .v-button-default {
    background-color: #287ECE;
    color: #F7F8F9;
    text-shadow: 0 -1px 0 #2E5A84;
  }

  .v-disabled.v-button-default {
    background-color: #287ECE;
    color: #F7F8F9;
    text-shadow: 0 -1px 0 #2E5A84;
    &:focus {
      background-color: #287ECE;
      color: #F7F8F9;
      text-shadow: 0 -1px 0 #2E5A84;
    }
  }

  .v-button-default:active, .v-ie8 .v-button-default.v-pressed {
    background-color: #287ECE;
    color: #F7F8F9;
    text-shadow: 0 -1px 0 #2E5A84;
  }

  .v-button, .v-button-caption {
    text-shadow: none;
  }

  .v-button .v-icon, .v-nativebutton .v-icon {
    vertical-align: top;
    margin-left: 0px;
  }

  .v-button.v-button-link {
    margin: 0px;
    padding: 0px;
    text-align: left;
  }

  div.v-disabled.v-button-link {
    margin: 0px;
  }

  .v-button-link {
    &.pending .v-button-caption {
      color: #108e2a;
    }
    &.overdue .v-button-caption {
      color: red;
    }
    &.completed .v-button-caption {
      color: black;
      text-decoration: line-through;
    }
    .v-button-wrap {
      display: inline-block;
      vertical-align: top;
    }
  }

  .v-button-borderless .v-button-wrap {
    display: inline-block;
    vertical-align: top;
  }

  .v-button-link:active {
    background-color: transparent;
    border-radius: 0px;
    margin: 0px;
  }

  .v-button.v-button-link {
    &:active .v-button-wrap, &:focus .v-button-wrap {
    }
  }

  .v-button-link .v-button-caption {
    text-decoration: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .v-button {
    vertical-align: top;
  }

  .v-button {
    box-shadow: none;
  }

  .v-button-wrap {
    text-overflow: clip;
    height: auto;
    background-image: none;
  }

  .v-button-caption {
    vertical-align: top;
  }

  div.v-button-link {
    &.v-button-no-margin:focus {
      margin: 0px;
    }
    margin: 0px;
    &:focus {
      margin: 0px;
    }
  }

  .v-button-link:active {
    margin: 0px;
  }

  div.v-disabled.v-button-link {
    margin: 0px;
    &:focus {
      margin: 0px;
    }
  }

  body.v-ie .v-pressed.v-button-link {
    margin: 0px;
  }

  div.v-button-borderless {
    margin: 0px;
    &:focus {
      margin: 0px;
    }
  }

  .v-button-borderless:active {
    /*padding: 0px;*/
    margin: 0px;
  }

  div.v-disabled.v-button-borderless {
    margin: 0px;
    &:focus {
      margin: 0px;
    }
  }

  body.v-ie .v-pressed.v-button-borderless {
    margin: 0px;
  }

  .v-ie .v-button-wrap, .v-button-wrap, .v-disabled:active .v-button-wrap, .v-button:active .v-button-wrap {
    border-left: none;
    border-right: none;
    border-bottom: none;
    padding: 6px 15px;
    margin: 0px;
    background-image: none;
  }

  .v-ie {
    .v-pressed.v-button .v-button-wrap {
      border-left: none;
      border-right: none;
      border-bottom: none;
      padding: 6px 15px;
      margin: 0px;
      background-image: none;
    }
    .v-button-wrap {
      border-top: 1px solid transparent;
    }
  }

  .v-button-wrap, .v-disabled:active .v-button-wrap, .v-button:active .v-button-wrap {
    border-top: 1px solid transparent;
  }

  .v-button-link .v-button-wrap {
    border: 0;
  }

  .small-padding {
    .v-button-wrap, &:active .v-button-wrap {
      padding: 4px 6px;
    }
  }

  .v-ie {
    .small-padding {
      .v-button-wrap, &:active .v-button-wrap, .v-button:active .v-button-wrap {
        padding: 4px 6px;
      }
    }
    .v-pressed.v-button.small-padding .v-button-wrap {
      padding: 4px 6px;
    }
    .small-padding {
      .v-pressed.v-button .v-button-wrap {
        padding: 4px 6px;
      }
    }
  }

  .v-button {
    background-color: #F9F9F9;
    border-width: 0px;
    border-style: solid;
    border-color: #6a6a6a;
    border-radius: 2px;
    background-image: none;
    padding: 0;
    &.hasborder {
      border-width: 1px;
    }
  }

  .v-ie .v-button {
    background-image: none;
    &:active, &:focus {
      background-image: none;
    }
  }

  .v-button:active, .v-ie8 .v-pressed.v-button, div.v-button-down {
    background-image: none;
  }

  .v-button {
    &:hover .v-button-wrap {
      background-color: rgba(0, 0, 0, 0.1);
    }
    &.link:hover .v-button-wrap, &.transparentbtn:hover .v-button-wrap {
      background-color: transparent;
    }
    &.v-button-blankbtn {
      background-color: #FAFAFA;
      border-color: #C8C8C8;
      border-width: 1px;
      font-weight: normal;
    }
  }

  .v-button-blankbtn:focus {
    background-color: #FAFAFA;
    border-color: #C8C8C8;
    border-width: 1px;
    font-weight: normal;
  }

  .v-button.v-button-graybtn, .v-button-graybtn:focus {
    background-color: #8B8B8B;
    color: white;
    font-weight: normal;
  }

  .v-button.v-button-redbtn, .v-button-redbtn:focus {
    background-color: #F64A46;
    color: white;
    font-weight: normal;
  }

  .v-button {
    &.v-button-redbtn:active .v-button-wrap {
      border-top-color: #BD0C09;
    }
    &.v-button-brownbtn {
      background-color: #C06B11;
      color: white;
      font-weight: normal;
    }
  }

  .v-button-brownbtn:focus {
    background-color: #C06B11;
    color: white;
    font-weight: normal;
  }

  .v-button.v-button-greenbtn, .v-button-greenbtn:focus {
    background-color: #17d61b;
    color: white;
    font-weight: normal;
  }

  .v-button.v-button-orangebtn, .v-button-orangebtn:focus {
    background-color: rgb(251, 87, 24);
    color: white;
    font-weight: normal;
  }

  .v-button.v-button-orangebtn.selected {
    background: none no-repeat left top rgb(232, 82, 23);
  }

  .v-button-orangebtn {
    &:hover, &:active {
      background: none no-repeat left top rgb(232, 82, 23);
    }
  }

  .v-button.v-button-bluebtn, .v-button-bluebtn:focus {
    background-color: #1C7DCE;
    color: white;
    font-weight: normal;
  }

  .v-ie .v-button.v-button-transparentbtn {
    .v-button-wrap, &:focus .v-button-wrap, &:active .v-button-wrap {
      padding: 0;
    }
  }

  .v-button.v-button-transparentbtn, .v-button-transparentbtn:focus {
    background-color: transparent;
    color: white;
    font-weight: normal;
    border: none;
    padding: 0;
  }

  .v-button.v-button-transparentbtn.v-disabled.v-button {
    &:focus, &:active {
      background: none;
      border: 0;
      background-color: transparent;
      -webkit-box-shadow: 0 0 0;
      -moz-box-shadow: 0 0 0;
    }
  }

  .v-button-transparentbtn {
    &:hover, &:active {
      background-color: transparent;
      padding: 0;
      background-image: none;
    }
  }

  .v-button.v-button-transparentbtn {
    &:active .v-button-wrap {
      border-top-color: transparent;
      background-image: none;
      padding: 0;
    }
    .v-button-wrap {
      padding: 0;
    }
  }

  .v-button-greenbtn-no-radius-left {
    background: url("icons/grad-dark-bottom2.png") repeat-x left bottom #2599c8;
    border: 1px solid #093768;
    color: #FFF;
    text-shadow: 1px 1px 0px #1570cd;
    border-radius: 3px;
    padding: 3px 13px;
    &:hover {
      background: url("icons/grad-dark-bottom2.png") repeat-x left bottom #1377b3;
      border: 1px solid #093768;
    }
  }

  .v-button-link.medium-text .v-button-caption {
    font-size: $font-large;
  }

  .v-button-link:focus .v-button-caption, .v-button-borderless:focus .v-button-caption {
    border: none;
    margin: 0px;
  }

  .v-button-link {
    &.v-button-wordWrap {
      width: 100%;
    }
    &.no-margin {
      margin: 0px;
      .v-button-wrap {
        padding: 0px;
      }
    }
    &.v-button-wordWrap .v-button-wrap {
      width: 100%;
      display: table-row;
    }
  }

 .v-button-link.v-button-wordWrap .v-button-caption {
    display: table-cell;
    white-space: normal;
    word-wrap: break-word;
    word-break: normal;
    width: 100%;
    height: 100%;
  }

  .v-button {
    &.search-icon-button {
      background: none repeat-x scroll left bottom #DCDCDC;
      border-radius: 0px 3px 3px 0px;
      border-left: none;
      border-color: #B5B5B5;
      padding-right: 3px;
      .v-button-wrap {
        padding: 3px 0px 3px 6px;
      }
    }
    &.dropbox-icon-button {
      background: none;
      border-radius: 3px 0px 0px 3px;
      border-right: medium none;
      border-color: $border-color;
      border-width: 1px;
      padding: 1px 0px 0px;
      .v-button-wrap, &:active .v-button-wrap {
        padding: 5px 0px 5px 6px;
        background: none;
        border: none;
      }
      > .v-button-wrap > .v-icon {
        float: left;
      }
    }
  }

  /* Round border button */

  .v-button.v-button-round-border {
    background: url("icons/grad-dark-bottom.png") repeat-x left bottom #fcfcfc;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid rgb(143, 143, 143);
    display: inline-block;
    color: rgb(34, 34, 34);
    font-family: arial;
    font-size: $font-normal;
    font-weight: bold;
    padding: 3px 13px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    .v-button-wrap, &:active .v-button-wrap {
      border: none;
      background: none;
      padding: 3px 13px;
    }
    &:hover {
      color: rgb(10, 88, 205);
    }
  }

  /* End round border button */

  /* Background has SELECT icon */

  .v-button.select-bg {
    height: 25px;
    width: 22px;
    background: none no-repeat 0px 0px transparent;
    border-radius: 0px 2px 2px 0px;
    border-width: 1px 1px 1px 0px;
    border-color: $border-color;
    position: relative;
    &::after {
      background: url('icons/sprites-black.png') no-repeat 0px -9px transparent;
      content: "";
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      position: absolute;
      opacity: .4;
    }
    &:hover::after {
      opacity: .7;
    }
    .v-button-wrap, &:active .v-button-wrap, &:hover .v-button-wrap {
      padding: 0px;
      margin: 0px;
      border-width: 0px;
      height: 100%;
      border-radius: 0px;
      background-color: transparent;
    }
  }

  /* End Background has SELECT icon */

  .v-button-link .v-icon, .v-button-borderless .v-icon {
    margin-left: 0;
  }

  div.v-button.bold {
    > .v-button-wrap, &:active > .v-button-wrap, &:focus > .v-button-wrap {
      font-weight: bold;
    }
  }

  /* fix Image's alignment in button with word wrap style */

  .v-button-wordWrap .v-button-wrap img {
    vertical-align: bottom;
  }

  /* .v-buttongroup .v-button.v-button-right */

  .v-button-selected-style {
    background: none repeat scroll 0 0 #A1A1A1;
    border-color: #ABABAB;
  }

  /* Ellipsis Button Link */

  .v-button-link.text-ellipsis .v-button-wrap {
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .v-upload-immediate .v-button {
    background-color: #17D61B;
    margin: 10px 0px 0px 0px;
    .v-button-caption {
      color:white;
    }
  }
}