@mixin mycollab-button {
  div.v-button-down:active {
    background-color: #43533E;
  }

  .v-button {
    &:focus {
      background-color: #52684B;
    }
    &:active .v-button-wrap {
      border-color: #43533E;
    }
  }

  .v-button-down .v-button-wrap {
    border-color: #43533E;
  }

  .v-disabled.v-button {
    &:focus .v-button-wrap, &:active .v-button-wrap {
      background-position: left top;
    }
  }

  .v-disabled.v-button-default {
    border-color: #495972;
    &:focus, &:active {
      border-color: #495972;
    }
  }

  .v-button-default:focus {
    background-color: #566C8F;
  }

  .v-button-default:active .v-button-wrap {
    border-color: #566C8F;
  }

  .v-button-default {
    border-color: #495972;
    background-color: #6482B3;
    color: #F4F4F5;
  }

  .v-disabled.v-button-default {
    background-color: #6482B3;
    color: #F4F4F5;
    &:focus {
      background-color: #6482B3;
      color: rgb(244, 244, 245);
    }
  }

  .v-button-default:active, .v-ie8 .v-button-default.v-pressed {
    background-color: #6482B3;
    color: #F4F4F5;
  }

  div.v-button-down:active {
    background-color: #818181;
  }

  .v-button:focus {
    background-color: #A1A1A1;
  }

  .v-button-down .v-button-wrap {
    border-color: $border-color;
  }

  .v-button-default {
    border-color: #2E5A84;
  }

  .v-disabled.v-button-default {
    border-color: #2E5A84;
    &:focus {
      border-color: #2E5A84;
    }
  }

  .v-button-default:active, .v-ie8 .v-button-default.v-pressed {
    border-color: #2E5A84;
  }

  .v-button-default:focus {
    background-color: #2D6BA5;
  }

  .v-button-default:active .v-button-wrap, .v-ie8 .v-button-default.v-pressed .v-button-wrap {
    border-color: #2D6BA5;
  }

  .v-button-default {
    background-color: #287ECE;
    color: #F7F8F9;
  }

  .v-disabled.v-button-default {
    background-color: #287ECE;
    color: #F7F8F9;
    &:focus {
      background-color: #287ECE;
      color: #F7F8F9;
    }
  }

  .v-button-default:active, .v-ie8 .v-button-default.v-pressed {
    background-color: #287ECE;
    color: #F7F8F9;
  }

  .v-button, .v-button-caption {
    text-shadow: none;
  }

  .v-button .v-icon, .v-nativebutton .v-icon {
    vertical-align: top;
    margin-left: 0px;
  }

  .v-disabled.v-button-link {
    color: #6482B3;
    margin: 0px;
    &:focus {
      color: #6482B3;
      margin: 0px;
    }
  }

  .v-button.v-button-link {
    margin: 0px;
    padding: 0px;
    text-align: left;
    color: #006dac;
    &:focus, &:active {
      color: #006dac;
      background-color: transparent;
      border-radius: 0px;
      margin: 0px;
      .v-button-caption {
        border: none;
        margin: 0px;
      }
    }
    .v-button-caption {
      text-decoration: none;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
    &.pending .v-button-caption {
      color: #108e2a;
    }
    &.overdue .v-button-caption {
      color: red;
    }
    &.completed .v-button-caption {
      color: black;
      text-decoration: line-through;
    }
    .v-button-wrap {
      display: inline-block;
      vertical-align: top;
      border: 0;
    }
    &.v-button-wordWrap {
      width: 100%;
      .v-button-caption {
        display: table-cell;
        white-space: normal;
        word-wrap: break-word;
        word-break: normal;
        width: 100%;
        height: 100%;
      }
    }
    &.v-button-wordWrap .v-button-wrap {
      width: 100%;
      display: table-row;
    }
    .v-icon {
      margin-left: 0;
    }
  }

  .v-button {
    vertical-align: top;
  }

  .v-button {
    box-shadow: none;
  }

  .v-button-wrap {
    text-overflow: clip;
    height: auto;
    background-image: none;
  }

  .v-button-caption {
    vertical-align: top;
  }

  .v-disabled.v-button-link {
    color: #006dac;
    margin: 0px;
    &:focus {
      color: #006dac;
      margin: 0px;
    }
  }

  body.v-ie .v-pressed.v-button-link {
    margin: 0px;
  }

  div.v-button-borderless {
    margin: 0px;
    &:focus {
      margin: 0px;
    }
  }

  body.v-ie .v-pressed.v-button-borderless {
    margin: 0px;
  }

  .v-ie .v-button-wrap, .v-button-wrap, .v-disabled:active .v-button-wrap, .v-button:active .v-button-wrap {
    border-left: none;
    border-right: none;
    border-bottom: none;
    padding: 6px 15px;
    margin: 0px;
    background-image: none;
  }

  .v-ie {
    .v-pressed.v-button .v-button-wrap {
      border-left: none;
      border-right: none;
      border-bottom: none;
      padding: 6px 15px;
      margin: 0px;
      background-image: none;
    }
    .v-button-wrap {
      border-top: 1px solid transparent;
    }
  }

  .v-button-wrap, .v-disabled:active .v-button-wrap, .v-button:active .v-button-wrap {
    border-top: 1px solid transparent;
  }

  .v-button {
    background-color: #F9F9F9;
    border-width: 0px;
    border-style: solid;
    border-color: #6a6a6a;
    border-radius: 2px;
    background-image: none;
    padding: 0;
  }

  .v-ie .v-button {
    background-image: none;
    &:active, &:focus {
      background-image: none;
    }
  }

  .v-button:active, .v-ie8 .v-pressed.v-button, div.v-button-down {
    background-image: none;
  }

  .v-button {
    &:hover .v-button-wrap {
      background-color: rgba(0, 0, 0, 0.1);
    }
    &.link:hover .v-button-wrap, .v-button-wrap {
      background-color: transparent;
    }
    &.v-button-blankbtn {
      background-color: #FAFAFA;
      border-color: #C8C8C8;
      border-width: 1px;
      font-weight: normal;
    }
  }

  .v-button-blankbtn:focus {
    background-color: #FAFAFA;
    border-color: #C8C8C8;
    border-width: 1px;
    font-weight: normal;
  }

  .v-button.v-button-graybtn, .v-button-graybtn:focus {
    background-color: #8B8B8B;
    color: white;
    font-weight: normal;
  }

  .v-button.v-button-redbtn, .v-button-redbtn:focus {
    background-color: #F64A46;
    color: white;
    font-weight: normal;
  }

  .v-button {
    &.v-button-redbtn:active .v-button-wrap {
      border-top-color: #BD0C09;
    }
    &.v-button-brownbtn {
      background-color: #C06B11;
      color: white;
      font-weight: normal;
    }
  }

  .v-button-brownbtn:focus {
    background-color: #C06B11;
    color: white;
    font-weight: normal;
  }

  .v-button.v-button-greenbtn, .v-button-greenbtn:focus {
    background-color: #17d61b;
    color: white;
    font-weight: normal;
  }

  .v-button.v-button-orangebtn, .v-button-orangebtn:focus {
    background-color: rgb(251, 87, 24);
    color: white;
    font-weight: normal;
  }

  .v-button.v-button-orangebtn.selected {
    background: none no-repeat left top rgb(232, 82, 23);
  }

  .v-button-orangebtn {
    &:hover, &:active {
      background: none no-repeat left top rgb(232, 82, 23);
    }
  }

  .v-button.v-button-bluebtn, .v-button-bluebtn:focus {
    background-color: #1C7DCE;
    color: white;
    font-weight: normal;
  }

  /* End round border button */

  /* Background has SELECT icon */

  .v-button.select-bg {
    height: 25px;
    width: 22px;
    background: none no-repeat 0px 0px transparent;
    border-radius: 0px 2px 2px 0px;
    border-width: 1px 1px 1px 0px;
    border-color: $border-color;
    position: relative;
    .v-button-wrap, &:active .v-button-wrap, &:hover .v-button-wrap {
      padding: 0px;
      margin: 0px;
      border-width: 0px;
      height: 100%;
      border-radius: 0px;
      background-color: transparent;
    }
  }

  /* End Background has SELECT icon */

  div.v-button.bold {
    > .v-button-wrap, &:active > .v-button-wrap, &:focus > .v-button-wrap {
      font-weight: bold;
    }
  }

  /* fix Image's alignment in button with word wrap style */

  .v-button-wordWrap .v-button-wrap img {
    vertical-align: bottom;
  }

  /* .v-buttongroup .v-button.v-button-right */

  .v-button-selected-style {
    background: none repeat scroll 0 0 #A1A1A1;
    border-color: #ABABAB;
  }

  /* Ellipsis Button Link */

  .v-button-link.text-ellipsis .v-button-wrap {
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .splitbutton .parent-button {
    border-right-width: 0px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    &.blankbtn .v-button-wrap {
      border-right-color: #B3B3B3;
    }
    .v-button-wrap {
      border-right: 1px solid #F9F9F9;
      padding-right: 6px;
      padding-left: 8px;
    }
  }

  .v-ie .splitbutton .parent-button .v-button-wrap {
    border-right: 1px solid #F9F9F9;
    padding-right: 6px;
    padding-left: 8px;
  }

  .noDefaultIcon.v-popupbutton .v-popup-indicator:before {
    content: '';
  }

  .splitbutton .v-popupbutton {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    &:active {
      padding: 0px;
      margin:0px;
    }
    .v-button-wrap {
      padding-left: 3px;
      padding-right: 3px;
    }
  }

  .v-ie .splitbutton .v-popupbutton .v-button-wrap {
    padding-left: 3px;
    padding-right: 3px;
  }

  div.v-button-nonPopupIndicator div.v-popup-indicator {
    display: none;
  }

  .v-splitbutton {
    .v-popupbutton.greenbtn .v-button-wrap, div.v-disabled.v-popupbutton.greenbtn .v-button-wrap, .v-popupbutton.graybtn .v-button-wrap, div.v-disabled.v-popupbutton.graybtn .v-button-wrap {
      padding: 0px;
    }
    .greenbtn, .graybtn {
      margin: 0px;
      border-radius: 3px 0px 0px 3px;
      padding: 3px 3px 3px 8px;
    }
  }

  .v-ie .v-splitbutton {
    .greenbtn, .graybtn {
      padding: 3px 3px 3px 8px;
      box-sizing: border-box;
    }
  }

  .v-splitbutton .v-popupbutton {
    &.greenbtn, &.graybtn {
      padding: 3px 7px 3px 2px;
      &:active, &:focus {
        padding: 3px 7px 3px 2px;
      }
    }
  }

  .v-popupbutton .v-button-wrap * {
    float: none;
  }

  .v-popupbutton {
    .v-popup-indicator {
      background-position: -7px -10px !important;
    }
  }

  .v-popupbutton .v-button-caption:before {
    content: "";
    display: inline-block;
  }

  .v-ie {
    .v-popupbutton {
      .v-button-wrap, &:active .v-button-wrap, &:focus .v-button-wrap {
        padding: 6px 3px;
      }
    }
  }

  .v-popupbutton {
    .v-button-wrap, &:active .v-button-wrap {
      padding: 6px 3px;
    }
  }

  .v-popupbutton.h2 .v-button-wrap .v-button-caption {
    font-size: $font-large;
    font-weight: bold;
    color: rgb(34, 34, 34);
  }

  .v-popupbutton-popup.v-popupbutton-popup-select-bg {
    background-color: #FFF;
    border: 1px solid #A8A8A8;
    border-radius: 3px;
    padding: 0px;
  }

  .small-padding {
    .v-button-wrap, &:active .v-button-wrap {
      padding: 4px 6px;
    }
    &.v-popupbutton .v-button-wrap {
      padding: 4px 6px;
      &:active {
        padding: 4px 6px;
      }
    }
  }

  .v-button {
    &.button-icon-only {
      background-color:transparent;
      font-size:$font-normal;
      .v-button-wrap {
        padding: 0px;
        &:hover {
          background-color:transparent;
        }
        .v-icon.FontAwesome {
          vertical-align: bottom;
        }
        .v-popup-indicator::before {
          content: "";
        }
      }

      &.icon-18px .v-button-wrap {
        font-size:$font-x-large;
      }
    }
  }
}